workflows/02-telegram-capture__EWyb1cTmqDlKY2pIyqULN.json
{
  "active": true,
  "activeVersionId": "b9b87455-9aff-4005-a03d-c473ba1b3830",
  "connections": {
    "Build SQL - UPDATE": {
      "main": [
        [
          {
            "index": 0,
            "node": "Postgres Update Extract",
            "type": "main"
          }
        ]
      ]
    },
    "Call 'Tier-1 Enhancement'": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Message",
            "type": "main"
          }
        ]
      ]
    },
    "Compose Response": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message",
            "type": "main"
          }
        ]
      ]
    },
    "Compute Retrieval Excerpt + Quality Signals (from capture_text)": {
      "main": [
        []
      ]
    },
    "Create Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message",
            "type": "main"
          }
        ]
      ]
    },
    "Extract Title & Author": {
      "main": [
        [
          {
            "index": 0,
            "node": "Trafilatura Extract (HTTP)1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "IF Has URL": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          },
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Compose Response",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract Title & Author",
            "type": "main"
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Text Clean",
            "type": "main"
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "index": 0,
            "node": "Compute Retrieval Excerpt + Quality Signals (from capture_text)",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Normalize Telegram",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Insert": {
      "main": [
        [
          {
            "index": 0,
            "node": "IF Has URL",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Normalize Telegram": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Insert",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Update": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call 'Tier-1 Enhancement'",
            "type": "main"
          }
        ]
      ]
    },
    "Postgres Update Extract": {
      "main": [
        []
      ]
    },
    "Recompute retrieval excerpt + quality signals from clean_text": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Update",
            "type": "main"
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    },
    "Text Clean": {
      "main": [
        [
          {
            "index": 0,
            "node": "Recompute retrieval excerpt + quality signals from clean_text",
            "type": "main"
          }
        ]
      ]
    },
    "Trafilatura Extract (HTTP)1": {
      "main": [
        [
          {
            "index": 0,
            "node": "remove trafiltura title - hack",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    },
    "remove trafiltura title - hack": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-13T04:28:47.800Z",
  "description": null,
  "isArchived": false,
  "name": "02 Telegram Capture",
  "nodes": [
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "725ddc72-d79c-4041-8931-5a9a84489694",
      "name": "Send a text message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "1509032341",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        3136,
        -320
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "id": "0ff69fb7-2f88-4864-8ccd-385134a83376",
      "name": "IF Has URL",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "144dac2d-e0d8-46f4-bd49-34d9ef783406",
              "leftValue": "={{ !!$json.url }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": "true"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "position": [
        240,
        -336
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "credentials": {
        "postgres": {
          "id": "YICLDaLPmdddPcoA",
          "name": "Postgres account"
        }
      },
      "id": "44d29e92-4525-4aea-bdc2-bfc782bc3d73",
      "name": "Postgres Update Extract",
      "parameters": {
        "operation": "executeQuery",
        "options": {},
        "query": "={{$json.sql}}"
      },
      "position": [
        2416,
        -416
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2
    },
    {
      "id": "ed663b2a-aae4-4856-ab00-50b04abc4f39",
      "name": "HTTP Request",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (X11; Linux aarch64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome Safari"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        },
        "options": {
          "lowercaseHeaders": false,
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true,
              "outputPropertyName": "html",
              "responseFormat": "text"
            }
          },
          "timeout": 25000
        },
        "sendHeaders": true,
        "url": "={{ $json.url_canonical }}"
      },
      "position": [
        464,
        -480
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "d652a964-3dba-422f-ba34-2c07d79fd7b5",
      "name": "Trafilatura Extract (HTTP)1",
      "parameters": {
        "options": {
          "timeout": 20000
        },
        "url": "={{'http://172.18.0.1:8787/extract?url=' + encodeURIComponent($json.url_canonical)}}"
      },
      "position": [
        1136,
        -336
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4
    },
    {
      "id": "bfc8a630-5489-405f-949c-49473a62f187",
      "name": "Merge",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        688,
        -416
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "dddb503f-10d7-440d-9b48-ecbfef020bcf",
      "name": "Merge1",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        1584,
        -416
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "a02c847f-191c-4f90-adf2-c76d3b715596",
      "name": "remove trafiltura title - hack",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/10_remove-trafiltura-title-hack__a02c847f-191c-4f90-adf2-c76d3b715596.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/10_remove-trafiltura-title-hack__a02c847f-191c-4f90-adf2-c76d3b715596.js] ${e.message}`;throw e;}"
      },
      "position": [
        1360,
        -336
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "e7474a77-f17b-4f8f-bbe1-632804bd2e69",
      "name": "Create Message",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/05_create-message__e7474a77-f17b-4f8f-bbe1-632804bd2e69.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/05_create-message__e7474a77-f17b-4f8f-bbe1-632804bd2e69.js] ${e.message}`;throw e;}"
      },
      "position": [
        2912,
        -416
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "7a117ec5-8af2-4d89-a227-128c2c488114",
      "name": "Compose Response",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/03_compose-response__7a117ec5-8af2-4d89-a227-128c2c488114.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/03_compose-response__7a117ec5-8af2-4d89-a227-128c2c488114.js] ${e.message}`;throw e;}"
      },
      "position": [
        2704,
        -176
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d0582139-b901-43a2-8fb9-b3c30be2b698",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -1104,
        -224
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "08ca99f5-2ba7-42e9-aab6-4b90e6055f85",
      "name": "Normalize",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/07_normalize__08ca99f5-2ba7-42e9-aab6-4b90e6055f85.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/07_normalize__08ca99f5-2ba7-42e9-aab6-4b90e6055f85.js] ${e.message}`;throw e;}"
      },
      "position": [
        -656,
        -336
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "0cfd5e2a-ef19-4ec1-b575-eba3131c8977",
      "name": "Extract Title & Author",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/06_extract-title-author__0cfd5e2a-ef19-4ec1-b575-eba3131c8977.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/06_extract-title-author__0cfd5e2a-ef19-4ec1-b575-eba3131c8977.js] ${e.message}`;throw e;}"
      },
      "position": [
        912,
        -416
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f9724210-2848-4b77-be35-30b5007bc3ef",
      "name": "Compute Retrieval Excerpt + Quality Signals (from capture_text)",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/04_compute-retrieval-excerpt-quality-signals-from-capture-text__f9724210-2848-4b77-be35-30b5007bc3ef.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/04_compute-retrieval-excerpt-quality-signals-from-capture-text__f9724210-2848-4b77-be35-30b5007bc3ef.js] ${e.message}`;throw e;}"
      },
      "position": [
        -432,
        -336
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "5116846d-f384-40e1-a928-518eb22430a7",
      "name": "Recompute retrieval excerpt + quality signals from clean_text",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/08_recompute-retrieval-excerpt-quality-signals-from-clean-text__5116846d-f384-40e1-a928-518eb22430a7.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/08_recompute-retrieval-excerpt-quality-signals-from-clean-text__5116846d-f384-40e1-a928-518eb22430a7.js] ${e.message}`;throw e;}"
      },
      "position": [
        2032,
        -416
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "ef9f91cc-dbd4-48b7-a22d-66f47ea07239",
      "name": "Text Clean",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/09_text-clean__ef9f91cc-dbd4-48b7-a22d-66f47ea07239.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/09_text-clean__ef9f91cc-dbd4-48b7-a22d-66f47ea07239.js] ${e.message}`;throw e;}"
      },
      "position": [
        1808,
        -416
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "disabled": true,
      "id": "613e4f79-31d5-4a3b-9266-ccf4d3cecb0f",
      "name": "Telegram Trigger",
      "parameters": {
        "additionalFields": {
          "chatIds": "1509032341"
        },
        "updates": [
          "message"
        ]
      },
      "position": [
        -1104,
        -416
      ],
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "webhookId": "a111da0e-d82b-4eac-9ca8-ddd49cc09794"
    },
    {
      "id": "ec9b2bd3-c07c-47c2-b9ef-a050f71de4dc",
      "name": "PKM Config",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "PKM — Retrieval Config",
          "cachedResultUrl": "/workflow/Ue-cGR6_WP4Fe5C19tA28",
          "mode": "list",
          "value": "Ue-cGR6_WP4Fe5C19tA28"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -880,
        -336
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "16932292-79d1-4e14-a64e-3b84fce41bd5",
      "name": "Call 'Tier-1 Enhancement'",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "Tier-1 Enhancement",
          "cachedResultUrl": "/workflow/WFB4SDkDPDPIphppIn3l7",
          "mode": "list",
          "value": "WFB4SDkDPDPIphppIn3l7"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        2688,
        -416
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "2c78cab4-52de-430e-90e4-6f46f5fe340c",
      "name": "PKM Insert",
      "parameters": {
        "jsonBody": "={{ JSON.stringify({\n  source: \"telegram\",\n  intent: $json.intent ?? \"archive\",\n  content_type: $json.content_type ?? null,\n  title: $json.title ?? null,\n  author: $json.author ?? null,\n  capture_text: $json.capture_text ?? $json.message?.text ?? \"\",\n  clean_text: $json.clean_text ?? null,\n  url: $json.url ?? null,\n  url_canonical: $json.url_canonical ?? null,\n\n  topic_primary: $json.topic_primary ?? $json.topic ?? null,\n  topic_primary_confidence: $json.topic_primary_confidence ?? $json.primary_topic_confidence ?? null,\n  topic_secondary: $json.topic_secondary ?? $json.secondary_topic ?? null,\n  topic_secondary_confidence: $json.topic_secondary_confidence ?? $json.secondary_topic_confidence ?? null,\n\n  gist: $json.gist ?? null,\n\n  // nested JSON stays nested\n  metadata: $json.metadata_patch ?? ($json.retrieval ? { retrieval: $json.retrieval } : null),\n\n  retrieval_excerpt: $json.retrieval?.excerpt ?? null,\n  retrieval_version: $json.retrieval?.version ?? null,\n  source_domain: $json.retrieval?.source_domain ?? null,\n\n  clean_word_count: $json.retrieval?.quality?.clean_word_count ?? null,\n  clean_char_count: $json.retrieval?.quality?.clean_char_count ?? null,\n  extracted_char_count: $json.retrieval?.quality?.extracted_char_count ?? null,\n  link_count: $json.retrieval?.quality?.link_count ?? null,\n  link_ratio: $json.retrieval?.quality?.link_ratio ?? null,\n  boilerplate_heavy: $json.retrieval?.quality?.boilerplate_heavy ?? null,\n  low_signal: $json.retrieval?.quality?.low_signal ?? null,\n  extraction_incomplete: $json.retrieval?.quality?.extraction_incomplete ?? null,\n  quality_score: $json.retrieval?.quality?.quality_score ?? null,\n\n  returning: [\n    \"entry_id\",\"id\",\"created_at\",\"source\",\"intent\",\"content_type\",\"title\",\"author\",\"url\",\"url_canonical\",\n    \"COALESCE(char_length(capture_text), 0) AS text_len\"\n  ]\n}) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/insert"
      },
      "position": [
        -96,
        -336
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "ce7068f8-f017-4926-9142-7fa06b9f18fe",
      "name": "PKM Update",
      "parameters": {
        "jsonBody": "={{ JSON.stringify((() => {\n  const id = $json.id;\n\n  const url = $json.url ?? null;\n  const url_canonical = $json.url_canonical ?? null;\n  const title = $json.title ?? null;\n  const author = $json.author ?? null;\n\n  // only send clean_text/extracted_text if non-empty (matches your previous COALESCE logic)\n  const clean = String($json.clean_text ?? \"\");\n  const cleanTrim = clean.trim();\n\n  const extractedRaw = $json.extracted_text ?? $json.text ?? null;\n  const extracted = (extractedRaw === null || extractedRaw === undefined) ? \"\" : String(extractedRaw);\n  const extractedTrim = extracted.trim();\n\n  // retrieval patch + promoted columns (WP2)\n  const retrieval = $json.retrieval ?? null;\n  const doMeta = !!(retrieval && typeof retrieval === \"object\");\n  const q = doMeta ? (retrieval.quality || {}) : {};\n\n  const body = {\n    id,\n\n    url,\n    url_canonical,\n    title,\n    author,\n\n    // backend accepts JSONB as object or valid JSON string; we send object\n    metadata: doMeta ? { retrieval } : null,\n\n    // promoted columns only when retrieval exists\n    retrieval_excerpt: doMeta ? (retrieval.excerpt ?? null) : null,\n    retrieval_version: doMeta ? (retrieval.version ?? null) : null,\n    source_domain: doMeta ? (retrieval.source_domain ?? null) : null,\n\n    clean_word_count: doMeta ? (q.clean_word_count ?? null) : null,\n    clean_char_count: doMeta ? (q.clean_char_count ?? null) : null,\n    extracted_char_count: doMeta ? (q.extracted_char_count ?? null) : null,\n\n    link_count: doMeta ? (q.link_count ?? null) : null,\n    link_ratio: doMeta ? (q.link_ratio ?? null) : null,\n\n    boilerplate_heavy: doMeta ? (q.boilerplate_heavy ?? null) : null,\n    low_signal: doMeta ? (q.low_signal ?? null) : null,\n    extraction_incomplete: doMeta ? (q.extraction_incomplete ?? null) : null,\n    quality_score: doMeta ? (q.quality_score ?? null) : null,\n\n    returning: [\n      \"entry_id\",\n      \"id\",\n      \"created_at\",\n      \"source\",\n      \"intent\",\n      \"content_type\",\n      \"COALESCE(title,'') AS title\",\n      \"COALESCE(author,'') AS author\",\n      \"COALESCE(clean_text,'') AS clean_text\",\n      \"url_canonical\",\n      \"COALESCE(char_length(clean_text), 0) AS clean_len\",\n      \"COALESCE(char_length(extracted_text), 0) AS extracted_len\"\n    ]\n  };\n\n  if (cleanTrim) body.clean_text = clean;\n  if (extractedTrim) body.extracted_text = extracted;\n\n  return body;\n})()) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/update"
      },
      "position": [
        2336,
        -576
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "1c1e479b-b8f6-4d85-9c69-8c0f9943982f",
      "name": "Build SQL - UPDATE",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/02_build-sql-update__1c1e479b-b8f6-4d85-9c69-8c0f9943982f.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/02_build-sql-update__1c1e479b-b8f6-4d85-9c69-8c0f9943982f.js] ${e.message}`;throw e;}"
      },
      "position": [
        2256,
        -416
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "77be5c05-f9f1-4190-a2ac-d80f08258a62",
      "name": "PKM Normalize Telegram",
      "parameters": {
        "jsonBody": "={ \"text\" : \"{{$json.message.text}}\"}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/normalize/telegram"
      },
      "position": [
        -528,
        -528
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1",
    "timeSavedMode": "fixed"
  },
  "shared": [
    {
      "createdAt": "2026-01-13T04:28:47.800Z",
      "project": {
        "createdAt": "2026-01-12T01:58:24.486Z",
        "creatorId": "d87e0db9-0ac0-46ea-9218-1eb181231d8f",
        "description": null,
        "icon": null,
        "id": "m23P41JejIbnV7Xa",
        "name": "Igor Gasovic <skljstore@gmail.com>",
        "type": "personal",
        "updatedAt": "2026-01-12T04:27:38.916Z"
      },
      "projectId": "m23P41JejIbnV7Xa",
      "role": "workflow:owner",
      "updatedAt": "2026-01-13T04:28:47.800Z",
      "workflowId": "EWyb1cTmqDlKY2pIyqULN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-11T18:11:07.258Z",
  "versionCounter": 184
}
