workflows/03-e-mail-capture__D7ZqryewKY23am6l.json
{
  "active": false,
  "activeVersionId": null,
  "connections": {
    "Call 'Tier-1 Enhancement'": {
      "main": [
        [
          {
            "index": 0,
            "node": "Compose Reply Text",
            "type": "main"
          }
        ]
      ]
    },
    "Compose Reply Text": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message",
            "type": "main"
          }
        ]
      ]
    },
    "Email Trigger (IMAP)1": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    },
    "If 'skipped'": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send 'duplicate' message",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Call 'Tier-1 Enhancement'",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Normalize E-Mail",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Insert": {
      "main": [
        [
          {
            "index": 0,
            "node": "If 'skipped'",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Normalize E-Mail": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Insert",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-24T05:20:03.503Z",
  "description": null,
  "isArchived": false,
  "name": "03 E-Mail Capture",
  "nodes": [
    {
      "credentials": {
        "imap": {
          "id": "3oE0cH2d8fpvD7IC",
          "name": "Google (pkm.gasovic)"
        }
      },
      "id": "eb003274-ba9f-420a-96da-2d5092842039",
      "name": "Email Trigger (IMAP)1",
      "parameters": {
        "options": {
          "forceReconnect": 5,
          "trackLastMessageId": true
        }
      },
      "position": [
        -304,
        -480
      ],
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1
    },
    {
      "id": "0ae5a1f1-fc06-445c-b460-7447a1632dba",
      "name": "Compose Reply Text",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/03-e-mail-capture/compose-reply-text__0ae5a1f1-fc06-445c-b460-7447a1632dba.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:03-e-mail-capture/compose-reply-text__0ae5a1f1-fc06-445c-b460-7447a1632dba.js] ${e.message}`;throw e;}"
      },
      "position": [
        1040,
        -384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "ca4cd3a5-b699-45ff-b29e-10f6c352ea16",
      "name": "Send a text message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "1509032341",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        1264,
        -384
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "id": "c35eb190-fc48-4340-9c7c-c0283110bf8b",
      "name": "PKM Config",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "PKM — Retrieval Config",
          "cachedResultUrl": "/workflow/Ue-cGR6_WP4Fe5C19tA28",
          "mode": "list",
          "value": "Ue-cGR6_WP4Fe5C19tA28"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -80,
        -480
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "47483d22-0a6b-4d39-b23b-f8abe2c2c7b6",
      "name": "Call 'Tier-1 Enhancement'",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "Tier-1 Enhancement",
          "cachedResultUrl": "/workflow/WFB4SDkDPDPIphppIn3l7",
          "mode": "list",
          "value": "WFB4SDkDPDPIphppIn3l7"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        816,
        -384
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "38d88987-fe5a-4b83-bb5e-7078db544254",
      "name": "PKM Insert",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => {\n  const source = \"email\";\n  \n  const external_ref = $json.external_ref ?? null;\n\n  // WP1 metadata patch (same logic as your node)\n  const metadata_patch =\n    $json.metadata_patch ??\n    ($json.retrieval ? { retrieval: $json.retrieval } : null);\n\n  // WP2 promoted retrieval columns (same logic as your node)\n  const r = $json.retrieval ?? (metadata_patch?.retrieval ?? null);\n  const q = r?.quality ?? {};\n\n  const body = {\n    // core columns, force all except URLs\n    source,\n    intent: $json.intent,\n    content_type: $json.content_type,\n    title: $json.title,\n    author: $json.author,\n    capture_text: $json.capture_text,\n    clean_text: $json.clean_text,\n    url: $json.url ?? null,\n    url_canonical: $json.url_canonical ?? null,\n\n    // idempotency columns - force policy and primary key\n    idempotency_policy_key: $json.idempotency_policy_key,\n    idempotency_key_primary: $json.idempotency_key_primary,\n    idempotency_key_secondary: $json.idempotency_key_secondary ?? null,\n\n    // JSONB columns: send as objects (or null)\n    external_ref,\n    metadata: metadata_patch,\n\n    // Keep your workflow behavior (pending after insert)\n    enrichment_status: \"pending\",\n\n    // promoted retrieval columns\n    retrieval_excerpt: r?.excerpt ?? null,\n    retrieval_version: r?.version ?? null,\n    source_domain: r?.source_domain ?? null,\n\n    clean_word_count: q.clean_word_count ?? null,\n    clean_char_count: q.clean_char_count ?? null,\n    extracted_char_count: q.extracted_char_count ?? null,\n\n    link_count: q.link_count ?? null,\n    link_ratio: q.link_ratio ?? null,\n\n    boilerplate_heavy: q.boilerplate_heavy ?? null,\n    low_signal: q.low_signal ?? null,\n    extraction_incomplete: q.extraction_incomplete ?? null,\n\n    quality_score: q.quality_score ?? null,\n\n    // match your previous RETURNING\n    \n    returning: [\n      \"entry_id\",\n      \"id\",\n      \"created_at\",\n      \"source\",\n      \"intent\",\n      \"content_type\",\n      \"title\",\n      \"author\",\n      \"clean_text\",\n      \"metadata\",\n      \"COALESCE(char_length(clean_text), 0) AS clean_len\"\n    ]\n  };\n\n  return body;\n})()) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/insert"
      },
      "position": [
        368,
        -480
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "9e48b315-63e7-4cc0-865c-d695be07369d",
      "name": "If 'skipped'",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "8a66c028-b1b9-4671-8657-f12359d1f942",
              "leftValue": "={{ $json.action }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "skipped"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        592,
        -480
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "8d7aa31a-0a2a-497c-bf5c-11ee3ebf9f4b",
      "name": "PKM Normalize E-Mail",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => {\n  const body = {\n    raw_text: $json.textPlain,\n    from: $json.from,\n    date: $json.date,\n    subject: $json.subject,\n  };\n\n  return body;\n})()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/normalize/email"
      },
      "position": [
        144,
        -480
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "b7989a1a-a02d-4e89-813c-0d53effc7026",
      "name": "Send 'duplicate' message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "1509032341",
        "text": "=Message duplicate of entry #{{$json.entry_id}}. Processing stopped."
      },
      "position": [
        816,
        -576
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1",
    "timeSavedMode": "fixed"
  },
  "shared": [
    {
      "createdAt": "2026-01-24T05:20:03.503Z",
      "project": {
        "createdAt": "2026-01-12T01:58:24.486Z",
        "creatorId": "d87e0db9-0ac0-46ea-9218-1eb181231d8f",
        "description": null,
        "icon": null,
        "id": "m23P41JejIbnV7Xa",
        "name": "Igor Gasovic <skljstore@gmail.com>",
        "type": "personal",
        "updatedAt": "2026-01-12T04:27:38.916Z"
      },
      "projectId": "m23P41JejIbnV7Xa",
      "role": "workflow:owner",
      "updatedAt": "2026-01-24T05:20:03.503Z",
      "workflowId": "D7ZqryewKY23am6l"
    }
  ],
  "staticData": {
    "node:Email Trigger (IMAP)1": {
      "lastMessageUid": 166
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-22T03:28:05.792Z",
  "versionCounter": 235
}
