workflows/04-tier-1-enrichment__WFB4SDkDPDPIphppIn3l7.json
{
  "active": true,
  "activeVersionId": "4e81ae16-1da6-4bd1-a84c-91cb81751bab",
  "connections": {
    "Create Sampled Prompt": {
      "main": [
        [
          {
            "index": 0,
            "node": "Message a model",
            "type": "main"
          }
        ]
      ]
    },
    "Create Whole Text Prompt": {
      "main": [
        [
          {
            "index": 0,
            "node": "Message a model",
            "type": "main"
          }
        ]
      ]
    },
    "If TEXT < 4000": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Whole Text Prompt",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Create Sampled Prompt",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse T1",
            "type": "main"
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "Topics = {}",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Parse T1": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Update",
            "type": "main"
          }
        ]
      ]
    },
    "Topics = {}": {
      "main": [
        [
          {
            "index": 0,
            "node": "If TEXT < 4000",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-01T01:55:35.999Z",
  "description": null,
  "isArchived": false,
  "name": "04 Tier-1 Enrichment",
  "nodes": [
    {
      "id": "24662a93-7dee-4daa-9368-48438073c63f",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "CPyLLVga3nhZAwjZ",
          "name": "OpenAi account"
        }
      },
      "id": "a637186b-b7f2-4994-801b-c042f02c75e4",
      "name": "Message a model",
      "parameters": {
        "builtInTools": {},
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-5-NANO",
          "mode": "list",
          "value": "gpt-5-nano"
        },
        "options": {},
        "responses": {
          "values": [
            {
              "content": "You are a precise metadata extraction engine for a personal knowledge base.\nReturn ONLY valid JSON that matches the requested schema.\nDo not include markdown, comments, or any extra text.\nBe conservative: if unsure, lower confidence and use \"other\" for primary topic.",
              "role": "system"
            },
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        }
      },
      "position": [
        1152,
        96
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1
    },
    {
      "id": "28b17395-45c5-418e-ac92-22e367092659",
      "name": "Topics = {}",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3cfcd2ec-a545-4735-89d2-c443310bed01",
              "name": "topics",
              "type": "string",
              "value": "productivity, product, entrepreneurship, consulting, marketing, finance, parenting, engineering, ai, home, leadership, cookbook, fitness, communication, other, health, travel"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "position": [
        480,
        96
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "7bfb8977-e2a3-4b28-9872-f92d4357a9c1",
      "name": "Create Whole Text Prompt",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/tier-1-enhancement/06_create-whole-text-prompt__4da5cf51-2d6b-45a3-a9c8-e13f63bad821.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:tier-1-enhancement/06_create-whole-text-prompt__4da5cf51-2d6b-45a3-a9c8-e13f63bad821.js] ${e.message}`;throw e;}"
      },
      "position": [
        928,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "e77465e9-824d-4207-8b87-e0c0af6f411f",
      "name": "Create Sampled Prompt",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/tier-1-enhancement/05_create-sampled-prompt__16117688-d107-4f1d-81d0-048fb7619e92.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:tier-1-enhancement/05_create-sampled-prompt__16117688-d107-4f1d-81d0-048fb7619e92.js] ${e.message}`;throw e;}"
      },
      "position": [
        928,
        192
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "94bc4bbd-c495-44f3-994c-24fe4f049bb3",
      "name": "If TEXT < 4000",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "f2d44d52-7191-4f3f-a162-e23056974265",
              "leftValue": "={{ $json.text_len }}",
              "operator": {
                "operation": "lt",
                "type": "number"
              },
              "rightValue": 4000
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        704,
        96
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "06d1d8b4-6680-42e7-8ece-8a5d76ddc8dc",
      "name": "Merge",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        1504,
        32
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "97baf2ec-94f1-4587-8f8c-4c3d171a0528",
      "name": "Parse T1",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/tier-1-enhancement/10_parse-t1__5cd4f138-20ac-4c36-867b-e0f618fd3149.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:tier-1-enhancement/10_parse-t1__5cd4f138-20ac-4c36-867b-e0f618fd3149.js] ${e.message}`;throw e;}"
      },
      "position": [
        1728,
        32
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "c368b350-0e36-423a-8368-bc7167df4d83",
      "name": "PKM Config",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "PKM — Retrieval Config",
          "cachedResultUrl": "/workflow/Ue-cGR6_WP4Fe5C19tA28",
          "mode": "list",
          "value": "Ue-cGR6_WP4Fe5C19tA28"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        208,
        0
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "96cb3643-51db-4c68-ae9e-c957d2d38eb8",
      "name": "PKM Update",
      "parameters": {
        "jsonBody": "={{ JSON.stringify((() => {\n  // --- required identity ---\n  const id = $json.id;\n  if (!id) throw new Error(\"Tier-1 update: missing id\");\n\n  // --- required Tier-1 payload (from your Parse Tier-1 node) ---\n  const t1 = $json.t1;\n  if (!t1 || typeof t1 !== \"object\") {\n    throw new Error(\"Tier-1 update: missing $json.t1\");\n  }\n\n  const reqStr = (k) => typeof t1[k] === \"string\" && t1[k].trim().length > 0;\n  if (!reqStr(\"topic_primary\")) throw new Error(\"Tier-1 update: missing topic_primary\");\n  if (!reqStr(\"topic_secondary\")) throw new Error(\"Tier-1 update: missing topic_secondary\");\n  if (!reqStr(\"gist\")) throw new Error(\"Tier-1 update: missing gist\");\n  if (!Array.isArray(t1.keywords)) throw new Error(\"Tier-1 update: keywords must be an array\");\n\n  // normalize (matches your JS node)\n  const topic_primary = t1.topic_primary.trim();\n  const topic_secondary = t1.topic_secondary.trim();\n  const gist = t1.gist.trim();\n\n  let keywords = t1.keywords\n    .map(x => String(x ?? \"\").trim())\n    .filter(Boolean);\n\n  keywords = Array.from(new Set(keywords));\n  if (keywords.length < 5) throw new Error(\"Tier-1 update: keywords must have at least 5 items\");\n  if (keywords.length > 12) keywords = keywords.slice(0, 12);\n\n  // confidences optional (clamp 0..1)\n  const clamp01 = (n) => Math.max(0, Math.min(1, n));\n  const topic_primary_confidence =\n    (typeof t1.topic_primary_confidence === \"number\") ? clamp01(t1.topic_primary_confidence) : null;\n  const topic_secondary_confidence =\n    (typeof t1.topic_secondary_confidence === \"number\") ? clamp01(t1.topic_secondary_confidence) : null;\n\n  // instrumentation fields (same defaults)\n  const enrichment_model = $json.enrichment_model ?? \"gpt-5-nano\";\n  const prompt_version = $json.prompt_version ?? \"v1\";\n\n  // schema routing (prod vs test) via PKM Config, same idea as your code nodes\n  const cfg = $items(\"PKM Config\")[0]?.json?.config?.db;\n  if (!cfg) throw new Error(\"Tier-1 update: missing PKM Config output\");\n  const schema = cfg.is_test_mode ? cfg.schema_test : cfg.schema_prod;\n\n  // SQL escaping helpers (mirror sb.lit behavior)\n  const sqlStr = (s) => String(s).replace(/'/g, \"''\");\n  const litText = (s) => `'${sqlStr(s)}'`;\n\n  // keywords literal: ARRAY['a','b']::text[]\n  const kwArrayLit = `ARRAY[${keywords.map(k => `'${sqlStr(k)}'`).join(\",\")}]::text[]`;\n\n  // jsonb literal for t1_raw\n  const t1JsonbLit = `'${sqlStr(JSON.stringify(t1))}'::jsonb`;\n\n  return {\n    table: `\"${schema}\".\"entries\"`,\n\n    set: [\n      `topic_primary = ${litText(topic_primary)}::text`,\n      `topic_primary_confidence = ${topic_primary_confidence === null ? \"NULL\" : Number(topic_primary_confidence)}`,\n      `topic_secondary = ${litText(topic_secondary)}::text`,\n      `topic_secondary_confidence = ${topic_secondary_confidence === null ? \"NULL\" : Number(topic_secondary_confidence)}`,\n      `keywords = ${kwArrayLit}`,\n      `gist = ${litText(gist)}::text`,\n      `enrichment_status = 'done'`,\n      `enrichment_model = ${litText(enrichment_model)}::text`,\n      `prompt_version = ${litText(prompt_version)}::text`,\n      `metadata = jsonb_set(COALESCE(metadata, '{}'::jsonb), '{t1_raw}', ${t1JsonbLit}, true)`\n    ],\n\n    where: `id = ${litText(id)}::uuid`,\n\n    returning: [\n      \"entry_id\",\n      \"id\",\n      \"created_at\",\n      \"source\",\n      \"intent\",\n      \"content_type\",\n      \"COALESCE(title,'') AS title\",\n      \"COALESCE(author,'') AS author\",\n      \"COALESCE(url_canonical,'') AS url_canonical\",\n      \"topic_primary\",\n      \"topic_secondary\",\n      \"gist\",\n      \"clean_text\",\n      \"array_length(keywords,1) AS kw_count\",\n      \"enrichment_status\"\n    ]\n  };\n})()) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/update"
      },
      "position": [
        1936,
        32
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1",
    "timeSavedMode": "fixed"
  },
  "shared": [
    {
      "createdAt": "2026-02-01T01:55:35.999Z",
      "project": {
        "createdAt": "2026-01-12T01:58:24.486Z",
        "creatorId": "d87e0db9-0ac0-46ea-9218-1eb181231d8f",
        "description": null,
        "icon": null,
        "id": "m23P41JejIbnV7Xa",
        "name": "Igor Gasovic <skljstore@gmail.com>",
        "type": "personal",
        "updatedAt": "2026-01-12T04:27:38.916Z"
      },
      "projectId": "m23P41JejIbnV7Xa",
      "role": "workflow:owner",
      "updatedAt": "2026-02-01T01:55:35.999Z",
      "workflowId": "WFB4SDkDPDPIphppIn3l7"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-11T18:23:00.289Z",
  "versionCounter": 36
}
