workflows/80-postgres-backup__pZH_qI9CjFoJNs6x7Fh2t.json
{
  "active": false,
  "activeVersionId": null,
  "connections": {
    "Backup GDrive Daily": {
      "main": [
        []
      ]
    },
    "Execute a command": {
      "main": [
        []
      ]
    },
    "Format": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Status",
            "type": "main"
          }
        ]
      ]
    },
    "Get Week/Month": {
      "main": [
        [
          {
            "index": 0,
            "node": "If Weekly",
            "type": "main"
          },
          {
            "index": 0,
            "node": "If Monthly",
            "type": "main"
          }
        ]
      ]
    },
    "If Monthly": {
      "main": [
        [
          {
            "index": 0,
            "node": "Backup GDrive Monthly",
            "type": "main"
          }
        ]
      ]
    },
    "If Weekly": {
      "main": [
        [
          {
            "index": 0,
            "node": "Backup GDrive - Weekly",
            "type": "main"
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "index": 0,
            "node": "Execute a command",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Parse",
            "type": "main"
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Success",
            "type": "main"
          }
        ]
      ]
    },
    "Read File (SSH)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format",
            "type": "main"
          }
        ]
      ]
    },
    "Schedule 4AM": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Week/Month",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Backup GDrive Daily",
            "type": "main"
          }
        ]
      ]
    },
    "Schedule 9AM": {
      "main": [
        [
          {
            "index": 0,
            "node": "Read File (SSH)",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook - FAIL": {
      "main": [
        [
          {
            "index": 0,
            "node": "Normalize",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook - OK": {
      "main": [
        [
          {
            "index": 0,
            "node": "Normalize",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-17T18:56:28.049Z",
  "description": null,
  "isArchived": false,
  "name": "80 Postgres Backup",
  "nodes": [
    {
      "id": "6f9537e8-ec81-4491-b3dd-7d2d36547083",
      "name": "Webhook - FAIL",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "cron-fail"
      },
      "position": [
        -352,
        -528
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "0fb6d624-2ec6-4799-af06-13be97800191"
    },
    {
      "id": "716b6ac0-e1ab-4fb3-b7f5-c444f5e087a3",
      "name": "Webhook - OK",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "cron-ok"
      },
      "position": [
        -352,
        -336
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "0fb6d624-2ec6-4799-af06-13be97800191"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "145078ea-f261-4691-a2dc-0f41f841040f",
      "name": "Send Success",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        },
        "chatId": "1509032341",
        "text": "={{ $json.telegram_text }}"
      },
      "position": [
        320,
        -336
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "64313ad4-6c1f-42f5-a8b2-3ab081b90ca0",
      "name": "Send Status",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "1509032341",
        "text": "={{$json.summary}}"
      },
      "position": [
        320,
        -752
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "id": "a4c32ff8-1774-45dd-bd8c-5594272a7e11",
      "name": "Normalize",
      "parameters": {
        "jsCode": "// n8n Webhook payload lives under $json.body\nconst b = $json.body || {};\n\nreturn [\n  {\n    job: String(b.job ?? 'unknown'),\n    host: String(b.host ?? 'unknown'),\n    ts: String(b.ts ?? new Date().toISOString()),\n    rc: Number.isFinite(b.rc) ? b.rc : Number(b.rc ?? 0),\n    cmd: String(b.cmd ?? ''),\n    status: (Number(b.rc ?? 0) === 0) ? 'ok' : 'fail',\n  }\n];"
      },
      "position": [
        -128,
        -432
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "sshPassword": {
          "id": "9D3Ebf2kKfkEuCDJ",
          "name": "SSH Password account"
        }
      },
      "id": "12c6f12e-3181-4d21-9de0-0e80ef8f24d4",
      "name": "Execute a command",
      "parameters": {
        "command": "=bash -lc '\nset -euo pipefail\n\nFILE=\"/home/igasovic/backup/postgres/cron_status.json\"\nLOCK=\"/tmp/cron_status.lock\"\n\nJOB=\"{{ $json.job }}\"\nSTATUS=\"{{ $json.status }}\"\nTS=\"{{ $json.ts }}\"\nRC=\"{{ $json.rc }}\"\nHOST=\"{{ $json.host }}\"\nCMD=\"{{ $json.cmd }}\"\n\n# serialize updates so parallel webhooks don’t race\nexec 9>\"$LOCK\"\nflock -x 9\n\nTMP=\"$(mktemp)\"\nif [ -f \"$FILE\" ]; then\n  cat \"$FILE\" > \"$TMP\"\nelse\n  echo \"{}\" > \"$TMP\"\nfi\n\njq --arg job \"$JOB\" \\\n   --arg status \"$STATUS\" \\\n   --arg ts \"$TS\" \\\n   --arg host \"$HOST\" \\\n   --arg cmd \"$CMD\" \\\n   --argjson rc \"$RC\" \\\n   '\"'\"'.[$job] = {status:$status, ts:$ts, rc:$rc, host:$host, cmd:$cmd}'\"'\"' \\\n   \"$TMP\" > \"${TMP}.out\"\n\nmv \"${TMP}.out\" \"$FILE\"\nrm -f \"$TMP\"\n'\n"
      },
      "position": [
        96,
        -528
      ],
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1
    },
    {
      "credentials": {
        "sshPassword": {
          "id": "9D3Ebf2kKfkEuCDJ",
          "name": "SSH Password account"
        }
      },
      "id": "d33d54a8-fd12-4a97-880b-a317238e33c9",
      "name": "Read File (SSH)",
      "parameters": {
        "command": "bash -lc 'cat /home/igasovic/backup/postgres/cron_status.json 2>/dev/null || echo \"{}\"'"
      },
      "position": [
        -128,
        -752
      ],
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1
    },
    {
      "id": "f8467a91-6e7f-4d6e-b5ae-96ee674c8d97",
      "name": "Format",
      "parameters": {
        "jsCode": "const raw = $json.stdout ?? '{}';\nlet s = {};\ntry { s = JSON.parse(raw); } catch (e) { s = {}; }\n\nconst get = (k) => s[k] ?? { status: 'missing', ts: '-', rc: '-', host: '-', cmd: '' };\n\nconst daily  = get('pkm_backup_daily');\nconst weekly = get('pkm_backup_weekly');\nconst monthly= get('pkm_backup_monthly');\nconst rotate = get('pkm_backup_rotate');\n\nconst today = new Date().toISOString().slice(0,10);\n\nconst msg =\n`📊 PKM Cron Summary (latest)\ndate: ${today} (America/Chicago)\n\nDaily:   ${daily.status}  rc=${daily.rc}  ts=${daily.ts}\nWeekly:  ${weekly.status} rc=${weekly.rc} ts=${weekly.ts}\nMonthly: ${monthly.status} rc=${monthly.rc} ts=${monthly.ts}\nRotate:  ${rotate.status} rc=${rotate.rc} ts=${rotate.ts}\n`;\n\nreturn [{ summary: msg }];\n"
      },
      "position": [
        96,
        -752
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "020b27e4-71d9-4989-848b-793b0fb8bf1b",
      "name": "Parse",
      "parameters": {
        "jsCode": "const b = $json.body || $json;\n\nconst job = String(b.job ?? '');\nconst host = String(b.host ?? '');\nconst ts = String(b.ts ?? '');\nconst rc = String(b.rc ?? '');\nconst cmd = String(b.cmd ?? '');\nconst status = String(b.status ?? (Number(b.rc ?? 0) === 0 ? 'ok' : 'fail'));\n\nconst icon = status === 'ok' ? '✅' : '❌';\n\n// Escape for Telegram MarkdownV2\nconst esc = (s) => String(s).replace(/[_*\\[\\]()~`>#+\\-=|{}.!\\\\]/g, '\\\\$&');\n\nconst msg =\n`*${icon} CRON: ${esc(status)}*\\n` +\n`job: ${esc(job)}\\n` +\n`host: ${esc(host)}\\n` +\n`ts: ${esc(ts)}\\n` +\n`rc: ${esc(rc)}\\n` +\n`cmd: \\`${esc(cmd)}\\``;\n\nreturn [{ telegram_text: msg }];\n"
      },
      "position": [
        96,
        -336
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f8af2106-43c4-4928-965b-411bdd22523a",
      "name": "Schedule 9AM",
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "position": [
        -352,
        -752
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "3f999037-58f1-465c-bb8a-e1a27b5d9156",
      "name": "Get Week/Month",
      "parameters": {
        "jsCode": "const now = new Date();        // uses server timezone; make sure n8n is America/Chicago\nconst dow = now.getDay();      // 0 = Sunday\nconst dom = now.getDate();     // 1..31\n\nreturn [{\n  doWeekly: dow === 0,\n  doMonthly: dom === 1,\n}];\n"
      },
      "position": [
        -128,
        -1168
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "130b5f4a-0493-471f-9ef3-fc45e7d20074",
      "name": "If Weekly",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "6c3d88df-b6af-4358-8d2d-da6962cd8f2d",
              "leftValue": "={{ $json.doWeekly }}",
              "operator": {
                "operation": "equals",
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        96,
        -1264
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "7c04559b-9f39-4154-a2bc-bacfacf55679",
      "name": "Backup GDrive - Weekly",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "81 Postgres Backup GDrive",
          "cachedResultUrl": "/workflow/4KyG6iOubMpom5h-kBK-A",
          "mode": "list",
          "value": "4KyG6iOubMpom5h-kBK-A"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "filename"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "filename",
              "id": "filename",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "filename": "pkm_backup_weekly.tgz"
          }
        }
      },
      "position": [
        320,
        -1264
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "d969595e-09cf-4ece-81d3-c22dc80432f5",
      "name": "Backup GDrive Monthly",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "81 Postgres Backup GDrive",
          "cachedResultUrl": "/workflow/4KyG6iOubMpom5h-kBK-A",
          "mode": "list",
          "value": "4KyG6iOubMpom5h-kBK-A"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "filename"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "filename",
              "id": "filename",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "filename": "pkm_backup_monthly.tgz"
          }
        }
      },
      "position": [
        320,
        -1072
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "677cf9db-8b65-4ce1-ab0c-afd47ce75192",
      "name": "Schedule 4AM",
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "position": [
        -352,
        -1072
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "cda70c3b-5f71-48f9-9320-53500b1b578a",
      "name": "Backup GDrive Daily",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "81 Postgres Backup GDrive",
          "cachedResultUrl": "/workflow/4KyG6iOubMpom5h-kBK-A",
          "mode": "list",
          "value": "4KyG6iOubMpom5h-kBK-A"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "filename"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "filename",
              "id": "filename",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "filename": "pkm_backup_daily.tgz"
          }
        }
      },
      "position": [
        -128,
        -976
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "b1f6b9b9-aef4-41bf-abc6-1a5c32afb141",
      "name": "If Monthly",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "6c3d88df-b6af-4358-8d2d-da6962cd8f2d",
              "leftValue": "={{ $json.doMonthly }}",
              "operator": {
                "operation": "equals",
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        96,
        -1072
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    }
  ],
  "settings": {
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-02-17T18:56:28.049Z",
      "project": {
        "createdAt": "2026-01-12T01:58:24.486Z",
        "creatorId": "d87e0db9-0ac0-46ea-9218-1eb181231d8f",
        "description": null,
        "icon": null,
        "id": "m23P41JejIbnV7Xa",
        "name": "Igor Gasovic <skljstore@gmail.com>",
        "type": "personal",
        "updatedAt": "2026-01-12T04:27:38.916Z"
      },
      "projectId": "m23P41JejIbnV7Xa",
      "role": "workflow:owner",
      "updatedAt": "2026-02-17T18:56:28.049Z",
      "workflowId": "pZH_qI9CjFoJNs6x7Fh2t"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 4,
  "updatedAt": "2026-02-18T03:43:09.336Z",
  "versionCounter": 56
}
