workflows/98-config__Ue-cGR6_WP4Fe5C19tA28.json
{
  "active": true,
  "activeVersionId": "ea4cfcaa-75f4-4c8e-a142-ea28067d9bab",
  "connections": {
    "Get Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wrap in config param",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Config",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Wrap in config param": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-26T02:48:35.871Z",
  "description": null,
  "isArchived": false,
  "name": "98 Config",
  "nodes": [
    {
      "id": "5c42cae2-11fa-4bd4-927f-6c215e0ea9d1",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -64,
        0
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "9b5e9cb5-0389-42dc-8ce7-9f05e4571dc7",
      "name": "Toggle Test Mode",
      "parameters": {
        "method": "POST",
        "options": {},
        "url": "http://pkm-server:8080/db/test-mode/toggle"
      },
      "position": [
        -64,
        -320
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "a55eb994-44aa-4300-9a1e-666dbf2414e4",
      "name": "Get Config",
      "parameters": {
        "options": {},
        "url": "http://pkm-server:8080/config"
      },
      "position": [
        192,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "08c7e45a-acbb-4b2a-b00c-6f72a46dd68d",
      "name": "Wrap in config param",
      "parameters": {
        "jsCode": "return [{ config: { ...$json } }];"
      },
      "position": [
        368,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d4945feb-1510-4a61-9895-333fb5657e91",
      "name": "Merge",
      "parameters": {},
      "position": [
        592,
        -112
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1",
    "timeSavedMode": "fixed"
  },
  "shared": [
    {
      "createdAt": "2026-01-26T02:48:35.871Z",
      "project": {
        "createdAt": "2026-01-12T01:58:24.486Z",
        "creatorId": "d87e0db9-0ac0-46ea-9218-1eb181231d8f",
        "description": null,
        "icon": null,
        "id": "m23P41JejIbnV7Xa",
        "name": "Igor Gasovic <skljstore@gmail.com>",
        "type": "personal",
        "updatedAt": "2026-01-12T04:27:38.916Z"
      },
      "projectId": "m23P41JejIbnV7Xa",
      "role": "workflow:owner",
      "updatedAt": "2026-01-26T02:48:35.871Z",
      "workflowId": "Ue-cGR6_WP4Fe5C19tA28"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-11T18:13:30.049Z",
  "versionCounter": 77
}
