workflows/e-mail-capture__D7ZqryewKY23am6l.json
{
  "active": true,
  "activeVersionId": "59ca0833-bdb2-4e72-b0c6-4291984a62fa",
  "connections": {
    "Build SQL INSERT": {
      "main": [
        [
          {
            "index": 0,
            "node": "Postgres INSERT",
            "type": "main"
          }
        ]
      ]
    },
    "Capture": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch",
            "type": "main"
          }
        ]
      ]
    },
    "Compose Reply Text": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message",
            "type": "main"
          }
        ]
      ]
    },
    "Compute Retrieval Excerpt + Quality (email clean_text)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build SQL INSERT",
            "type": "main"
          }
        ]
      ]
    },
    "Create Sampled Prompt": {
      "main": [
        [
          {
            "index": 0,
            "node": "Message a model",
            "type": "main"
          }
        ]
      ]
    },
    "Create Whole Text Prompt": {
      "main": [
        [
          {
            "index": 0,
            "node": "Message a model",
            "type": "main"
          }
        ]
      ]
    },
    "Email Trigger (IMAP)1": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    },
    "If TEXT < 4000": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Whole Text Prompt",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Create Sampled Prompt",
            "type": "main"
          }
        ]
      ]
    },
    "Markdown Conversion": {
      "main": [
        [
          {
            "index": 0,
            "node": "Remove Boilerplate",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse T1",
            "type": "main"
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Normalization1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Thread Parser",
            "type": "main"
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "index": 0,
            "node": "Markdown Conversion",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "Capture",
            "type": "main"
          }
        ]
      ]
    },
    "Parse T1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update T1 Info to DB",
            "type": "main"
          }
        ]
      ]
    },
    "Postgres INSERT": {
      "main": [
        [
          {
            "index": 0,
            "node": "Topics = {}",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Postgres Update Extract": {
      "main": [
        [
          {
            "index": 0,
            "node": "Compose Reply Text",
            "type": "main"
          }
        ]
      ]
    },
    "Remove Boilerplate": {
      "main": [
        [
          {
            "index": 0,
            "node": "Compute Retrieval Excerpt + Quality (email clean_text)",
            "type": "main"
          }
        ]
      ]
    },
    "Signatures and Markdown": {
      "main": [
        [
          {
            "index": 0,
            "node": "Compute Retrieval Excerpt + Quality (email clean_text)",
            "type": "main"
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "index": 0,
            "node": "Normalize",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Normalization1",
            "type": "main"
          }
        ]
      ]
    },
    "Thread Parser": {
      "main": [
        [
          {
            "index": 0,
            "node": "Signatures and Markdown",
            "type": "main"
          }
        ]
      ]
    },
    "Topics = {}": {
      "main": [
        [
          {
            "index": 0,
            "node": "If TEXT < 4000",
            "type": "main"
          }
        ]
      ]
    },
    "Update T1 Info to DB": {
      "main": [
        [
          {
            "index": 0,
            "node": "Postgres Update Extract",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-24T05:20:03.503Z",
  "description": null,
  "isArchived": false,
  "name": "E-Mail Capture",
  "nodes": [
    {
      "id": "baf8de8d-5694-4d2f-9bef-295760ae0872",
      "name": "Switch",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "405552b3-f700-4ac0-96d3-b72570c8d02d",
                    "leftValue": "={{$json.content_type}}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "newsletter"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "newsletter",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "d91ae66a-2dfb-4dda-8b31-69174e80e66b",
                    "leftValue": "={{$json.content_type}}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "correspondence"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "correspondence",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        368,
        -480
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4
    },
    {
      "id": "224e23d6-aa73-4cc8-917d-b6d951546451",
      "name": "Markdown Conversion",
      "notes": "## 3) Convert to Markdown\n- Turn paragraphs/lists/links into clean Markdown with stable formatting (no random headers).\n- Prevent artifacts from becoming headings (e.g., transport ids / internal anchors).\n- Preserve semantic breaks (paragraphs, list items), avoid collapsing links into one mega-line.\n- Output Markdown that is readable and diff-friendly (consistent line breaks, minimal noise).\n",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/07_markdown-conversion__224e23d6-aa73-4cc8-917d-b6d951546451.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/07_markdown-conversion__224e23d6-aa73-4cc8-917d-b6d951546451.js] ${e.message}`;throw e;}"
      },
      "position": [
        816,
        -576
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "02e08da0-cb80-465c-b77b-d881bfe5a0b0",
      "name": "Remove Boilerplate",
      "notes": "## 4) Clean Boilerplate\n- Detect and remove footers/CTAs/nav: unsubscribe, preferences, archives, privacy, address blocks, “email to a friend”.\n- Remove tracking/link-dumps and high link-density spans; keep at most one canonical “view online” link (optional).\n- Deduplicate teaser vs full-body by selecting the strongest main-content block (length + low link density).\n- Output final “clean_md / clean_text” + optional separated metadata (title, canonical_url, tags).",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/11_remove-boilerplate__02e08da0-cb80-465c-b77b-d881bfe5a0b0.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/11_remove-boilerplate__02e08da0-cb80-465c-b77b-d881bfe5a0b0.js] ${e.message}`;throw e;}"
      },
      "position": [
        1040,
        -576
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "344c864b-cc78-4f3c-b10a-c7cf2f1050dd",
      "name": "Normalization1",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/08_normalization1__344c864b-cc78-4f3c-b10a-c7cf2f1050dd.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/08_normalization1__344c864b-cc78-4f3c-b10a-c7cf2f1050dd.js] ${e.message}`;throw e;}"
      },
      "position": [
        592,
        -384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "00fb2628-a0f9-40a0-9307-ba07a9fcc25a",
      "name": "Thread Parser",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/13_thread-parser__00fb2628-a0f9-40a0-9307-ba07a9fcc25a.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/13_thread-parser__00fb2628-a0f9-40a0-9307-ba07a9fcc25a.js] ${e.message}`;throw e;}"
      },
      "position": [
        816,
        -384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "46831d4c-c2ac-42a8-823f-9947d36c5201",
      "name": "Signatures and Markdown",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/12_signatures-and-markdown__46831d4c-c2ac-42a8-823f-9947d36c5201.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/12_signatures-and-markdown__46831d4c-c2ac-42a8-823f-9947d36c5201.js] ${e.message}`;throw e;}"
      },
      "position": [
        1040,
        -384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "imap": {
          "id": "3oE0cH2d8fpvD7IC",
          "name": "Google (pkm.gasovic)"
        }
      },
      "id": "eb003274-ba9f-420a-96da-2d5092842039",
      "name": "Email Trigger (IMAP)1",
      "parameters": {
        "options": {}
      },
      "position": [
        -304,
        -480
      ],
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1
    },
    {
      "id": "0d46a330-acb5-4954-a88e-1e0ee38ac0cf",
      "name": "Capture",
      "notes": "## 1) Capture\n- Ingest raw email content and metadata (subject/from/date/message-id), without losing fidelity.\n- Preserve original MIME/HTML/text parts (or raw .eml) for later fallbacks and debugging.\n- Record provenance fields (source mailbox, label/folder, received timestamp, thread/forward info).\n- Output a structured “raw payload” object: {headers, raw_body, parts, attachments, ids}.\n",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/02_capture__0d46a330-acb5-4954-a88e-1e0ee38ac0cf.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/02_capture__0d46a330-acb5-4954-a88e-1e0ee38ac0cf.js] ${e.message}`;throw e;}"
      },
      "position": [
        144,
        -480
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "b74a02d7-1371-4de6-afc4-4499b981e469",
      "name": "Normalize",
      "notes": "## 2) Normalize\n- Decode correctly using MIME charset + transfer-encoding; repair common mojibake only when detected.\n- Sanitize text: strip Unicode format chars (Cf), normalize whitespace/newlines, remove obvious transport wrappers.\n- Choose best “content candidate” (HTML→text or text/plain) and unwrap angle-bracket URLs.\n- Output a single normalized text plus a small metadata block (canonical_url candidate, source, date).\n",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/09_normalize__b74a02d7-1371-4de6-afc4-4499b981e469.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/09_normalize__b74a02d7-1371-4de6-afc4-4499b981e469.js] ${e.message}`;throw e;}"
      },
      "position": [
        592,
        -576
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "CPyLLVga3nhZAwjZ",
          "name": "OpenAi account"
        }
      },
      "id": "ba9718a6-6d18-4ef5-a351-4bc752674d91",
      "name": "Message a model",
      "parameters": {
        "builtInTools": {},
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-5-NANO",
          "mode": "list",
          "value": "gpt-5-nano"
        },
        "options": {},
        "responses": {
          "values": [
            {
              "content": "You are a precise metadata extraction engine for a personal knowledge base.\nReturn ONLY valid JSON that matches the requested schema.\nDo not include markdown, comments, or any extra text.\nBe conservative: if unsure, lower confidence and use \"other\" for primary topic.",
              "role": "system"
            },
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        }
      },
      "position": [
        2608,
        -408
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1
    },
    {
      "id": "eb51b9e0-00e7-4fb0-841e-989087f1fe8c",
      "name": "Topics = {}",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3cfcd2ec-a545-4735-89d2-c443310bed01",
              "name": "topics",
              "type": "string",
              "value": "productivity, product, entrepreneurship, consulting, marketing, finance, parenting, engineering, ai, home, leadership, cookbook, fitness, communication, other, health, travel"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "position": [
        1936,
        -408
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "4da5cf51-2d6b-45a3-a9c8-e13f63bad821",
      "name": "Create Whole Text Prompt",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/06_create-whole-text-prompt__4da5cf51-2d6b-45a3-a9c8-e13f63bad821.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/06_create-whole-text-prompt__4da5cf51-2d6b-45a3-a9c8-e13f63bad821.js] ${e.message}`;throw e;}"
      },
      "position": [
        2384,
        -504
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "16117688-d107-4f1d-81d0-048fb7619e92",
      "name": "Create Sampled Prompt",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/05_create-sampled-prompt__16117688-d107-4f1d-81d0-048fb7619e92.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/05_create-sampled-prompt__16117688-d107-4f1d-81d0-048fb7619e92.js] ${e.message}`;throw e;}"
      },
      "position": [
        2384,
        -312
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "4a888159-69d8-45c1-a32b-9db65d41d383",
      "name": "If TEXT < 4000",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "f2d44d52-7191-4f3f-a162-e23056974265",
              "leftValue": "={{ $json.text_len }}",
              "operator": {
                "operation": "lt",
                "type": "number"
              },
              "rightValue": 4000
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        2160,
        -408
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "8a665982-0789-44a2-afc0-7aaddfcc8095",
      "name": "Merge",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        2960,
        -480
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "credentials": {
        "postgres": {
          "id": "YICLDaLPmdddPcoA",
          "name": "Postgres account"
        }
      },
      "id": "3a7cd01b-4f5a-420f-9215-3522d27e6ab8",
      "name": "Postgres Update Extract",
      "parameters": {
        "operation": "executeQuery",
        "options": {},
        "query": "={{$json.sql}}"
      },
      "position": [
        3632,
        -480
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2
    },
    {
      "id": "0ae5a1f1-fc06-445c-b460-7447a1632dba",
      "name": "Compose Reply Text",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/03_compose-reply-text__0ae5a1f1-fc06-445c-b460-7447a1632dba.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/03_compose-reply-text__0ae5a1f1-fc06-445c-b460-7447a1632dba.js] ${e.message}`;throw e;}"
      },
      "position": [
        3856,
        -480
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "ca4cd3a5-b699-45ff-b29e-10f6c352ea16",
      "name": "Send a text message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "1509032341",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        4080,
        -480
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "id": "2b306dd2-9dfb-4d42-9302-0258fd2d5ce0",
      "name": "Compute Retrieval Excerpt + Quality (email clean_text)",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/04_compute-retrieval-excerpt-quality-email-clean-text__2b306dd2-9dfb-4d42-9302-0258fd2d5ce0.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/04_compute-retrieval-excerpt-quality-email-clean-text__2b306dd2-9dfb-4d42-9302-0258fd2d5ce0.js] ${e.message}`;throw e;}"
      },
      "position": [
        1264,
        -480
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "postgres": {
          "id": "YICLDaLPmdddPcoA",
          "name": "Postgres account"
        }
      },
      "id": "afaaf565-d08b-4822-8ca3-4ed3a6546969",
      "name": "Postgres INSERT",
      "parameters": {
        "operation": "executeQuery",
        "options": {},
        "query": "={{$json.sql}}"
      },
      "position": [
        1712,
        -480
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2
    },
    {
      "id": "c4848348-bcd7-42b5-80d4-5b59e0152a45",
      "name": "Build SQL INSERT",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/01_build-sql-insert__c4848348-bcd7-42b5-80d4-5b59e0152a45.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/01_build-sql-insert__c4848348-bcd7-42b5-80d4-5b59e0152a45.js] ${e.message}`;throw e;}"
      },
      "position": [
        1488,
        -480
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "5cd4f138-20ac-4c36-867b-e0f618fd3149",
      "name": "Parse T1",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/10_parse-t1__5cd4f138-20ac-4c36-867b-e0f618fd3149.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/10_parse-t1__5cd4f138-20ac-4c36-867b-e0f618fd3149.js] ${e.message}`;throw e;}"
      },
      "position": [
        3184,
        -480
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "1a6df95f-7a5c-4203-b82c-f2e0a84b70c0",
      "name": "Update T1 Info to DB",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/14_update-t1-info-to-db__1a6df95f-7a5c-4203-b82c-f2e0a84b70c0.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/14_update-t1-info-to-db__1a6df95f-7a5c-4203-b82c-f2e0a84b70c0.js] ${e.message}`;throw e;}"
      },
      "position": [
        3408,
        -480
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "c35eb190-fc48-4340-9c7c-c0283110bf8b",
      "name": "PKM Config",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "PKM — Retrieval Config",
          "cachedResultUrl": "/workflow/Ue-cGR6_WP4Fe5C19tA28",
          "mode": "list",
          "value": "Ue-cGR6_WP4Fe5C19tA28"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -80,
        -480
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1",
    "timeSavedMode": "fixed"
  },
  "shared": [
    {
      "createdAt": "2026-01-24T05:20:03.503Z",
      "project": {
        "createdAt": "2026-01-12T01:58:24.486Z",
        "creatorId": "d87e0db9-0ac0-46ea-9218-1eb181231d8f",
        "description": null,
        "icon": null,
        "id": "m23P41JejIbnV7Xa",
        "name": "Igor Gasovic <skljstore@gmail.com>",
        "type": "personal",
        "updatedAt": "2026-01-12T04:27:38.916Z"
      },
      "projectId": "m23P41JejIbnV7Xa",
      "role": "workflow:owner",
      "updatedAt": "2026-01-24T05:20:03.503Z",
      "workflowId": "D7ZqryewKY23am6l"
    }
  ],
  "staticData": {
    "node:Email Trigger (IMAP)1": {
      "lastMessageUid": 85
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-31T20:08:04.593Z",
  "versionCounter": 76
}
