workflows/pkm-read-find__gMecdrx8edJYyDMZ.json
{
  "active": false,
  "activeVersionId": null,
  "connections": {
    "Build SQL": {
      "main": [
        [
          {
            "index": 0,
            "node": "Execute a SQL query",
            "type": "main"
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Context Pack",
            "type": "main"
          }
        ]
      ]
    },
    "Format Context Pack": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message1",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Read — find": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build SQL",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-19T03:05:43.513Z",
  "description": null,
  "isArchived": true,
  "name": "PKM Read — find",
  "nodes": [
    {
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "name": "PKM Read — find",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        272,
        352
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "de44e620-a1b7-42e0-baa7-c090ec2279ad",
      "name": "Build SQL",
      "parameters": {
        "jsCode": "function sqlString(v) {\n  if (v === null || v === undefined) return 'NULL';\n  const s = String(v).replace(/'/g, \"''\");\n  return `'${s}'`;\n}\n\nconst q = $json.q;\nconst days = Number($json.days || 365);\nconst limit = Number($json.limit || 10);\n\n// escape LIKE wildcards in user input\nconst needle = String(q).replace(/\\\\/g, '\\\\\\\\').replace(/%/g, '\\\\%').replace(/_/g, '\\\\_');\n\nconst sql = `\nWITH q AS (\n  SELECT websearch_to_tsquery('english', ${sqlString(q)}) AS tsq\n),\nhits AS (\n  SELECT\n    e.id,\n    e.created_at,\n    e.source,\n    e.intent,\n    e.url,\n    e.url_canonical,\n    COALESCE(e.external_ref->>'title','') AS title,\n    COALESCE(char_length(COALESCE(e.clean_text, e.capture_text)), 0) AS text_len,\n    ts_rank_cd(e.tsv, q.tsq) AS rank,\n    left(\n      regexp_replace(COALESCE(e.clean_text, e.capture_text), '\\\\s+', ' ', 'g'),\n      600\n    ) AS snippet\n  FROM pkm.entries e, q\n  WHERE\n    e.created_at >= (now() - (${days} || ' days')::interval)\n    AND (\n      COALESCE(e.clean_text,'') ILIKE '%' || ${sqlString(needle)} || '%' ESCAPE '\\\\'\n      OR COALESCE(e.capture_text,'') ILIKE '%' || ${sqlString(needle)} || '%' ESCAPE '\\\\'\n      OR (q.tsq IS NOT NULL AND e.tsv @@ q.tsq)\n    )\n  ORDER BY\n    e.created_at DESC\n  LIMIT ${limit}\n),\nmeta AS (\n  SELECT\n    TRUE AS is_meta,\n    'find'::text AS cmd,\n    ${sqlString(q)}::text AS query_text,\n    ${days}::int AS days,\n    ${limit}::int AS limit,\n    (SELECT count(*) FROM hits)::int AS hits\n)\nSELECT\n  TRUE AS is_meta,\n  m.cmd,\n  m.query_text,\n  m.days,\n  m.limit,\n  m.hits,\n  NULL::uuid AS id,\n  NULL::timestamptz AS created_at,\n  NULL::text AS source,\n  NULL::text AS intent,\n  NULL::text AS url,\n  NULL::text AS url_canonical,\n  NULL::text AS title,\n  NULL::int AS text_len,\n  NULL::double precision AS rank,\n  NULL::text AS snippet\nFROM meta m\nUNION ALL\nSELECT\n  FALSE AS is_meta,\n  'find'::text AS cmd,\n  ${sqlString(q)}::text AS query_text,\n  ${days}::int AS days,\n  ${limit}::int AS limit,\n  NULL::int AS hits,\n  h.id,\n  h.created_at,\n  h.source,\n  h.intent,\n  h.url,\n  h.url_canonical,\n  h.title,\n  h.text_len,\n  h.rank,\n  h.snippet\nFROM hits h;\n`.trim();\n\nreturn [{ json: { ...$json, sql } }];\n"
      },
      "position": [
        480,
        352
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "postgres": {
          "id": "YICLDaLPmdddPcoA",
          "name": "Postgres account"
        }
      },
      "id": "70ef50ab-aead-49a3-8cf6-8925dc7b66ef",
      "name": "Execute a SQL query",
      "parameters": {
        "operation": "executeQuery",
        "options": {
          "queryReplacement": "="
        },
        "query": "{{$json.sql}}"
      },
      "position": [
        688,
        352
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6
    },
    {
      "id": "058256d0-8585-4f68-8ebd-4fbd6ad400bc",
      "name": "Format Context Pack",
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\n\n// meta row is always present\nconst meta = rows.find(r => r.is_meta === true) || {};\nconst q = meta.query_text || '';\nconst days = meta.days ?? '';\nconst limit = meta.limit ?? '';\nconst hits = meta.hits ?? 0;\n\n// hit rows\nconst hitsRows = rows.filter(r => r.is_meta === false && r.id);\n\nif (!hitsRows.length) {\n  const msg =\n    `Context Pack — /last \"${q}\"\\n` +\n    `Window: ${days}d | Limit: ${limit} | Hits: 0\\n\\n` +\n    `No matches. Try --days 365 or broader terms.`;\n\n  return [{ json: { telegram_message: msg } }];\n}\n\nconst maxSnippet = 300;\nconst lines = [];\n\nlines.push(`Context Pack — /last \"${q}\"`);\nlines.push(`Window: ${days}d | Limit: ${limit} | Hits: ${hits}`);\nlines.push('');\n\nhitsRows.forEach((r, idx) => {\n  const created = String(r.created_at).slice(0, 19).replace('T', ' ');\n  const source = r.source || '';\n  const intent = r.intent || '';\n  const title = String(r.title || '').trim();\n  const url = r.url_canonical || r.url || '';\n  const textLen = Number(r.text_len || 0);\n\n  let snippet = String(r.snippet || '').trim();\n  if (snippet.length > maxSnippet) snippet = snippet.slice(0, maxSnippet - 1) + '…';\n\n  lines.push(`${idx + 1}) ${created} • ${source}${intent ? ` • ${intent}` : ''} • ${textLen} chars`);\n  if (title) lines.push(`Title: ${title}`);\n  if (url) lines.push(`URL: ${url}`);\n  if (snippet) lines.push(`Snippet: ${snippet}`);\n  lines.push('');\n});\n\nlet msg = lines.join('\\n').trim();\n\n// safety cap\nconst MAX_TELEGRAM = 3500;\nif (msg.length > MAX_TELEGRAM) {\n  msg = msg.slice(0, MAX_TELEGRAM - 1) + '…\\n\\n(Truncated — reduce --limit)';\n}\n\nreturn [{ json: { telegram_message: msg } }];\n"
      },
      "position": [
        912,
        352
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "30256ff3-85f2-4bd1-aa69-932817934cb7",
      "name": "Send a text message1",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "1509032341",
        "text": "={{$json.telegram_message}}"
      },
      "position": [
        1136,
        352
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    }
  ],
  "settings": {
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-01-19T03:05:43.513Z",
      "project": {
        "createdAt": "2026-01-12T01:58:24.486Z",
        "creatorId": "d87e0db9-0ac0-46ea-9218-1eb181231d8f",
        "description": null,
        "icon": null,
        "id": "m23P41JejIbnV7Xa",
        "name": "Igor Gasovic <skljstore@gmail.com>",
        "type": "personal",
        "updatedAt": "2026-01-12T04:27:38.916Z"
      },
      "projectId": "m23P41JejIbnV7Xa",
      "role": "workflow:owner",
      "updatedAt": "2026-01-19T03:05:43.513Z",
      "workflowId": "gMecdrx8edJYyDMZ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-25T22:30:22.863Z",
  "versionCounter": 10
}
