workflows/pkm-trafilatura-extract-segment.json
{
  "active": false,
  "activeVersionId": null,
  "connections": {
    "Build Extract UPDATE SQL": {
      "main": [
        [
          {
            "index": 0,
            "node": "Postgres Update Extract",
            "type": "main"
          }
        ]
      ]
    },
    "IF Has URL": {
      "main": [
        [
          {
            "index": 0,
            "node": "Trafilatura Extract (HTTP)",
            "type": "main"
          }
        ]
      ]
    },
    "Trafilatura Extract (HTTP)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Extract UPDATE SQL",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-17T03:20:47.734Z",
  "description": null,
  "isArchived": true,
  "name": "PKM - Trafilatura Extract Segment",
  "nodes": [
    {
      "id": "14576729-3f20-47e5-a77d-ff089faa75f0",
      "name": "IF Has URL",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "144dac2d-e0d8-46f4-bd49-34d9ef783406",
              "leftValue": "={{ !!$json.url }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": "true"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "position": [
        -240,
        16
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "id": "1d2ec476-6329-4aee-9d4e-b5e7652f4be8",
      "name": "Trafilatura Extract (HTTP)",
      "parameters": {
        "options": {
          "timeout": 20000
        },
        "url": "={{'http://172.18.0.1:8787/extract?url=' + encodeURIComponent($json.url)}}"
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4
    },
    {
      "id": "71025083-3c80-4553-b483-8592e2e02cdb",
      "name": "Build Extract UPDATE SQL",
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction sqlString(v) {\n  if (v === null || v === undefined) return 'NULL';\n  return `'${String(v).replace(/'/g, \"''\")}'`;\n}\n\nfunction sqlJson(obj) {\n  return `'${JSON.stringify(obj).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nfunction sha256(text) {\n  return crypto.createHash('sha256').update(text || '', 'utf8').digest('hex');\n}\n\nconst id = $item(0).$json.id ?? $json.id;\nif (!id) throw new Error('Missing entry id');\n\nconst ok = $json.ok === true;\nconst status = $json.status || 'failed';\nconst title = $json.title ?? null;\n\nconst rawText = ($json.text || '');\nconst cleanText = rawText.replace(/\\s+/g, ' ').trim();\nconst contentHash = cleanText ? sha256(cleanText) : null;\n\nlet extraction_status = 'failed';\nlet error = null;\n\nif (ok && status === 'ok') extraction_status = 'ok';\nelse if (ok && status === 'low_quality') extraction_status = 'low_quality';\n\nif (extraction_status !== 'ok') error = $json.error || 'extraction_not_ok';\n\nconst metaPatch = {\n  trafilatura: {\n    title,\n    meta: $json.meta ?? null\n  }\n};\n\nconst sql = `\nUPDATE pkm.entries\nSET\n  clean_text = ${sqlString(cleanText || null)},\n  content_hash = ${sqlString(contentHash)},\n  extraction_status = ${sqlString(extraction_status)},\n  error = ${sqlString(error)},\n  metadata = coalesce(metadata, '{}'::jsonb) || ${sqlJson(metaPatch)}\nWHERE id = ${sqlString(id)}\nRETURNING id, extraction_status;\n`.trim();\n\nreturn [{ id, extraction_status, content_hash: contentHash, clean_text_len: cleanText.length, sql }];"
      },
      "position": [
        240,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "postgres": {
          "id": "YICLDaLPmdddPcoA",
          "name": "Postgres account"
        }
      },
      "id": "6e599d87-54e7-4550-a8e7-2cee365a2422",
      "name": "Postgres Update Extract",
      "parameters": {
        "operation": "executeQuery",
        "options": {},
        "query": "={{$json.sql}}"
      },
      "position": [
        480,
        0
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2
    }
  ],
  "settings": {
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-01-17T03:20:47.734Z",
      "project": {
        "createdAt": "2026-01-12T01:58:24.486Z",
        "creatorId": "d87e0db9-0ac0-46ea-9218-1eb181231d8f",
        "description": null,
        "icon": null,
        "id": "m23P41JejIbnV7Xa",
        "name": "Igor Gasovic <skljstore@gmail.com>",
        "type": "personal",
        "updatedAt": "2026-01-12T04:27:38.916Z"
      },
      "projectId": "m23P41JejIbnV7Xa",
      "role": "workflow:owner",
      "updatedAt": "2026-01-17T03:20:47.734Z",
      "workflowId": "5Wldtk08T_GnEvYX1Th1q"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-24T17:49:17.921Z",
  "versionCounter": 3
}
