workflows/telegram-capture__EWyb1cTmqDlKY2pIyqULN.json
{
  "active": true,
  "activeVersionId": "2ffd5dae-e21e-42a3-aa21-3731c0975cb1",
  "connections": {
    "Build SQL - INSERT": {
      "main": [
        [
          {
            "index": 0,
            "node": "Execute a SQL query",
            "type": "main"
          }
        ]
      ]
    },
    "Build SQL - UPDATE": {
      "main": [
        [
          {
            "index": 0,
            "node": "Postgres Update Extract",
            "type": "main"
          }
        ]
      ]
    },
    "Compose Response": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message",
            "type": "main"
          }
        ]
      ]
    },
    "Compute Retrieval Excerpt + Quality Signals (from capture_text)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build SQL - INSERT",
            "type": "main"
          }
        ]
      ]
    },
    "Create Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message",
            "type": "main"
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "index": 0,
            "node": "IF Has URL",
            "type": "main"
          }
        ]
      ]
    },
    "Extract Title & Author": {
      "main": [
        [
          {
            "index": 0,
            "node": "Trafilatura Extract (HTTP)1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "IF Has URL": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          },
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Compose Response",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract Title & Author",
            "type": "main"
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Text Clean",
            "type": "main"
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "index": 0,
            "node": "Compute Retrieval Excerpt + Quality Signals (from capture_text)",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "Normalize",
            "type": "main"
          }
        ]
      ]
    },
    "Postgres Update Extract": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Message",
            "type": "main"
          }
        ]
      ]
    },
    "Recompute retrieval excerpt + quality signals from clean_text": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build SQL - UPDATE",
            "type": "main"
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    },
    "Text Clean": {
      "main": [
        [
          {
            "index": 0,
            "node": "Recompute retrieval excerpt + quality signals from clean_text",
            "type": "main"
          }
        ]
      ]
    },
    "Trafilatura Extract (HTTP)1": {
      "main": [
        [
          {
            "index": 0,
            "node": "remove trafiltura title - hack",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    },
    "remove trafiltura title - hack": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-13T04:28:47.800Z",
  "description": null,
  "isArchived": false,
  "name": "Telegram Capture",
  "nodes": [
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "725ddc72-d79c-4041-8931-5a9a84489694",
      "name": "Send a text message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "1509032341",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        2928,
        -312
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "credentials": {
        "postgres": {
          "id": "YICLDaLPmdddPcoA",
          "name": "Postgres account"
        }
      },
      "id": "9aaba58e-e24b-49b0-b5e6-63fbf9a28965",
      "name": "Execute a SQL query",
      "parameters": {
        "operation": "executeQuery",
        "options": {
          "queryReplacement": "="
        },
        "query": "{{$json.sql}}"
      },
      "position": [
        16,
        -336
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6
    },
    {
      "id": "0ff69fb7-2f88-4864-8ccd-385134a83376",
      "name": "IF Has URL",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "144dac2d-e0d8-46f4-bd49-34d9ef783406",
              "leftValue": "={{ !!$json.url }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": "true"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "position": [
        240,
        -336
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "credentials": {
        "postgres": {
          "id": "YICLDaLPmdddPcoA",
          "name": "Postgres account"
        }
      },
      "id": "44d29e92-4525-4aea-bdc2-bfc782bc3d73",
      "name": "Postgres Update Extract",
      "parameters": {
        "operation": "executeQuery",
        "options": {},
        "query": "={{$json.sql}}"
      },
      "position": [
        2480,
        -408
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2
    },
    {
      "id": "ed663b2a-aae4-4856-ab00-50b04abc4f39",
      "name": "HTTP Request",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (X11; Linux aarch64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome Safari"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        },
        "options": {
          "lowercaseHeaders": false,
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true,
              "outputPropertyName": "html",
              "responseFormat": "text"
            }
          },
          "timeout": 25000
        },
        "sendHeaders": true,
        "url": "={{ $json.url_canonical }}"
      },
      "position": [
        464,
        -480
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "d652a964-3dba-422f-ba34-2c07d79fd7b5",
      "name": "Trafilatura Extract (HTTP)1",
      "parameters": {
        "options": {
          "timeout": 20000
        },
        "url": "={{'http://172.18.0.1:8787/extract?url=' + encodeURIComponent($json.url_canonical)}}"
      },
      "position": [
        1136,
        -336
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4
    },
    {
      "id": "bfc8a630-5489-405f-949c-49473a62f187",
      "name": "Merge",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        688,
        -408
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "dddb503f-10d7-440d-9b48-ecbfef020bcf",
      "name": "Merge1",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        1584,
        -408
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "a02c847f-191c-4f90-adf2-c76d3b715596",
      "name": "remove trafiltura title - hack",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/10_remove-trafiltura-title-hack__a02c847f-191c-4f90-adf2-c76d3b715596.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/10_remove-trafiltura-title-hack__a02c847f-191c-4f90-adf2-c76d3b715596.js] ${e.message}`;throw e;}"
      },
      "position": [
        1360,
        -336
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "e7474a77-f17b-4f8f-bbe1-632804bd2e69",
      "name": "Create Message",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/05_create-message__e7474a77-f17b-4f8f-bbe1-632804bd2e69.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/05_create-message__e7474a77-f17b-4f8f-bbe1-632804bd2e69.js] ${e.message}`;throw e;}"
      },
      "position": [
        2704,
        -408
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "7a117ec5-8af2-4d89-a227-128c2c488114",
      "name": "Compose Response",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/03_compose-response__7a117ec5-8af2-4d89-a227-128c2c488114.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/03_compose-response__7a117ec5-8af2-4d89-a227-128c2c488114.js] ${e.message}`;throw e;}"
      },
      "position": [
        2704,
        -168
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d0582139-b901-43a2-8fb9-b3c30be2b698",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -1104,
        -216
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "08ca99f5-2ba7-42e9-aab6-4b90e6055f85",
      "name": "Normalize",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/07_normalize__08ca99f5-2ba7-42e9-aab6-4b90e6055f85.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/07_normalize__08ca99f5-2ba7-42e9-aab6-4b90e6055f85.js] ${e.message}`;throw e;}"
      },
      "position": [
        -656,
        -336
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "0cfd5e2a-ef19-4ec1-b575-eba3131c8977",
      "name": "Extract Title & Author",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/06_extract-title-author__0cfd5e2a-ef19-4ec1-b575-eba3131c8977.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/06_extract-title-author__0cfd5e2a-ef19-4ec1-b575-eba3131c8977.js] ${e.message}`;throw e;}"
      },
      "position": [
        912,
        -408
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f9724210-2848-4b77-be35-30b5007bc3ef",
      "name": "Compute Retrieval Excerpt + Quality Signals (from capture_text)",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/04_compute-retrieval-excerpt-quality-signals-from-capture-text__f9724210-2848-4b77-be35-30b5007bc3ef.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/04_compute-retrieval-excerpt-quality-signals-from-capture-text__f9724210-2848-4b77-be35-30b5007bc3ef.js] ${e.message}`;throw e;}"
      },
      "position": [
        -432,
        -336
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "5116846d-f384-40e1-a928-518eb22430a7",
      "name": "Recompute retrieval excerpt + quality signals from clean_text",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/08_recompute-retrieval-excerpt-quality-signals-from-clean-text__5116846d-f384-40e1-a928-518eb22430a7.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/08_recompute-retrieval-excerpt-quality-signals-from-clean-text__5116846d-f384-40e1-a928-518eb22430a7.js] ${e.message}`;throw e;}"
      },
      "position": [
        2032,
        -408
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "5ea800e9-24b0-4674-8ec9-e0a92e5c574b",
      "name": "Build SQL - INSERT",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/01_build-sql-insert__5ea800e9-24b0-4674-8ec9-e0a92e5c574b.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/01_build-sql-insert__5ea800e9-24b0-4674-8ec9-e0a92e5c574b.js] ${e.message}`;throw e;}"
      },
      "position": [
        -208,
        -336
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "1c1e479b-b8f6-4d85-9c69-8c0f9943982f",
      "name": "Build SQL - UPDATE",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/02_build-sql-update__1c1e479b-b8f6-4d85-9c69-8c0f9943982f.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/02_build-sql-update__1c1e479b-b8f6-4d85-9c69-8c0f9943982f.js] ${e.message}`;throw e;}"
      },
      "position": [
        2256,
        -408
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "ef9f91cc-dbd4-48b7-a22d-66f47ea07239",
      "name": "Text Clean",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/telegram-capture/09_text-clean__ef9f91cc-dbd4-48b7-a22d-66f47ea07239.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:telegram-capture/09_text-clean__ef9f91cc-dbd4-48b7-a22d-66f47ea07239.js] ${e.message}`;throw e;}"
      },
      "position": [
        1808,
        -408
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "disabled": true,
      "id": "613e4f79-31d5-4a3b-9266-ccf4d3cecb0f",
      "name": "Telegram Trigger",
      "parameters": {
        "additionalFields": {
          "chatIds": "1509032341"
        },
        "updates": [
          "message"
        ]
      },
      "position": [
        -1104,
        -408
      ],
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "webhookId": "a111da0e-d82b-4eac-9ca8-ddd49cc09794"
    },
    {
      "id": "ec9b2bd3-c07c-47c2-b9ef-a050f71de4dc",
      "name": "PKM Config",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "PKM — Retrieval Config",
          "cachedResultUrl": "/workflow/Ue-cGR6_WP4Fe5C19tA28",
          "mode": "list",
          "value": "Ue-cGR6_WP4Fe5C19tA28"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -880,
        -336
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1",
    "timeSavedMode": "fixed"
  },
  "shared": [
    {
      "createdAt": "2026-01-13T04:28:47.800Z",
      "project": {
        "createdAt": "2026-01-12T01:58:24.486Z",
        "creatorId": "d87e0db9-0ac0-46ea-9218-1eb181231d8f",
        "description": null,
        "icon": null,
        "id": "m23P41JejIbnV7Xa",
        "name": "Igor Gasovic <skljstore@gmail.com>",
        "type": "personal",
        "updatedAt": "2026-01-12T04:27:38.916Z"
      },
      "projectId": "m23P41JejIbnV7Xa",
      "role": "workflow:owner",
      "updatedAt": "2026-01-13T04:28:47.800Z",
      "workflowId": "EWyb1cTmqDlKY2pIyqULN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-31T20:10:30.219Z",
  "versionCounter": 146
}
