workflows/tier-1-enhancement__WFB4SDkDPDPIphppIn3l7.json
{
  "active": false,
  "activeVersionId": null,
  "connections": {
    "Call 'PKM — Retrieval Config'": {
      "main": [
        [
          {
            "index": 0,
            "node": "Topics = {}",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Create Sampled Prompt": {
      "main": [
        [
          {
            "index": 0,
            "node": "Message a model",
            "type": "main"
          }
        ]
      ]
    },
    "Create Whole Text Prompt": {
      "main": [
        [
          {
            "index": 0,
            "node": "Message a model",
            "type": "main"
          }
        ]
      ]
    },
    "If TEXT < 4000": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Whole Text Prompt",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Create Sampled Prompt",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse T1",
            "type": "main"
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Parse T1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update T1 Info to DB",
            "type": "main"
          }
        ]
      ]
    },
    "Topics = {}": {
      "main": [
        [
          {
            "index": 0,
            "node": "If TEXT < 4000",
            "type": "main"
          }
        ]
      ]
    },
    "Update T1 Info to DB": {
      "main": [
        [
          {
            "index": 0,
            "node": "Postgres Update Extract",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call 'PKM — Retrieval Config'",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-01T01:55:35.999Z",
  "description": null,
  "isArchived": false,
  "name": "Tier-1 Enhancement",
  "nodes": [
    {
      "id": "24662a93-7dee-4daa-9368-48438073c63f",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "c368b350-0e36-423a-8368-bc7167df4d83",
      "name": "Call 'PKM — Retrieval Config'",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "PKM — Retrieval Config",
          "cachedResultUrl": "/workflow/Ue-cGR6_WP4Fe5C19tA28",
          "mode": "list",
          "value": "Ue-cGR6_WP4Fe5C19tA28"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        208,
        0
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "CPyLLVga3nhZAwjZ",
          "name": "OpenAi account"
        }
      },
      "id": "a637186b-b7f2-4994-801b-c042f02c75e4",
      "name": "Message a model",
      "parameters": {
        "builtInTools": {},
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-5-NANO",
          "mode": "list",
          "value": "gpt-5-nano"
        },
        "options": {},
        "responses": {
          "values": [
            {
              "content": "You are a precise metadata extraction engine for a personal knowledge base.\nReturn ONLY valid JSON that matches the requested schema.\nDo not include markdown, comments, or any extra text.\nBe conservative: if unsure, lower confidence and use \"other\" for primary topic.",
              "role": "system"
            },
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        }
      },
      "position": [
        1152,
        96
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1
    },
    {
      "id": "28b17395-45c5-418e-ac92-22e367092659",
      "name": "Topics = {}",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3cfcd2ec-a545-4735-89d2-c443310bed01",
              "name": "topics",
              "type": "string",
              "value": "productivity, product, entrepreneurship, consulting, marketing, finance, parenting, engineering, ai, home, leadership, cookbook, fitness, communication, other, health, travel"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "position": [
        480,
        96
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "7bfb8977-e2a3-4b28-9872-f92d4357a9c1",
      "name": "Create Whole Text Prompt",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/06_create-whole-text-prompt__4da5cf51-2d6b-45a3-a9c8-e13f63bad821.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/06_create-whole-text-prompt__4da5cf51-2d6b-45a3-a9c8-e13f63bad821.js] ${e.message}`;throw e;}"
      },
      "position": [
        928,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "e77465e9-824d-4207-8b87-e0c0af6f411f",
      "name": "Create Sampled Prompt",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/05_create-sampled-prompt__16117688-d107-4f1d-81d0-048fb7619e92.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/05_create-sampled-prompt__16117688-d107-4f1d-81d0-048fb7619e92.js] ${e.message}`;throw e;}"
      },
      "position": [
        928,
        192
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "94bc4bbd-c495-44f3-994c-24fe4f049bb3",
      "name": "If TEXT < 4000",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "f2d44d52-7191-4f3f-a162-e23056974265",
              "leftValue": "={{ $json.text_len }}",
              "operator": {
                "operation": "lt",
                "type": "number"
              },
              "rightValue": 4000
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        704,
        96
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "06d1d8b4-6680-42e7-8ece-8a5d76ddc8dc",
      "name": "Merge",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        1504,
        32
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "credentials": {
        "postgres": {
          "id": "YICLDaLPmdddPcoA",
          "name": "Postgres account"
        }
      },
      "id": "bc68c641-b963-442d-8299-006e3ff88db0",
      "name": "Postgres Update Extract",
      "parameters": {
        "operation": "executeQuery",
        "options": {},
        "query": "={{$json.sql}}"
      },
      "position": [
        2176,
        32
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2
    },
    {
      "id": "97baf2ec-94f1-4587-8f8c-4c3d171a0528",
      "name": "Parse T1",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/10_parse-t1__5cd4f138-20ac-4c36-867b-e0f618fd3149.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/10_parse-t1__5cd4f138-20ac-4c36-867b-e0f618fd3149.js] ${e.message}`;throw e;}"
      },
      "position": [
        1728,
        32
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "33697669-02ab-4a83-a894-ed73d94dd00c",
      "name": "Update T1 Info to DB",
      "parameters": {
        "jsCode": "try{const fn=require('/data/js/workflows/e-mail-capture/14_update-t1-info-to-db__1a6df95f-7a5c-4203-b82c-f2e0a84b70c0.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:e-mail-capture/14_update-t1-info-to-db__1a6df95f-7a5c-4203-b82c-f2e0a84b70c0.js] ${e.message}`;throw e;}"
      },
      "position": [
        1952,
        32
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1",
    "timeSavedMode": "fixed"
  },
  "shared": [
    {
      "createdAt": "2026-02-01T01:55:35.999Z",
      "project": {
        "createdAt": "2026-01-12T01:58:24.486Z",
        "creatorId": "d87e0db9-0ac0-46ea-9218-1eb181231d8f",
        "description": null,
        "icon": null,
        "id": "m23P41JejIbnV7Xa",
        "name": "Igor Gasovic <skljstore@gmail.com>",
        "type": "personal",
        "updatedAt": "2026-01-12T04:27:38.916Z"
      },
      "projectId": "m23P41JejIbnV7Xa",
      "role": "workflow:owner",
      "updatedAt": "2026-02-01T01:55:35.999Z",
      "workflowId": "WFB4SDkDPDPIphppIn3l7"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-01T13:34:15.952Z",
  "versionCounter": 9
}
