src/n8n/workflows/00-smoke-master__2DB1S0mq7UQN4U3InXRM0.json
{
  "active": true,
  "connections": {
    "Build Smoke Summary": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Smoke Summary",
            "type": "main"
          }
        ]
      ]
    },
    "Build T03 Ambiguous Fixture": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run T03 Ambiguous Router",
            "type": "main"
          }
        ]
      ]
    },
    "Build T03 Calendar Fixture": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run T03 Calendar Router",
            "type": "main"
          }
        ]
      ]
    },
    "Build T03 Capture Fixture": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run T03 Capture Router",
            "type": "main"
          }
        ]
      ]
    },
    "Build T03 Continue Fixture": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run T03 Continue Router",
            "type": "main"
          }
        ]
      ]
    },
    "Build T04 Capture Fixture": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run T04 Telegram Capture",
            "type": "main"
          }
        ]
      ]
    },
    "Build T05 Email Fixture": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run T05 Email Capture",
            "type": "main"
          }
        ]
      ]
    },
    "Build T06 Pull Command": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run T06 Pull",
            "type": "main"
          }
        ]
      ]
    },
    "Build T07 Continue Command": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run T07 Continue",
            "type": "main"
          }
        ]
      ]
    },
    "Build T08 Distill Command": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run T08 Distill",
            "type": "main"
          }
        ]
      ]
    },
    "Build T09 Delete Command": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run T09 Delete",
            "type": "main"
          }
        ]
      ]
    },
    "Build T10 Calendar Create Fixture": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run T10 Calendar Create",
            "type": "main"
          }
        ]
      ]
    },
    "Build T10 Clarification Fixture": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run T10 Clarification",
            "type": "main"
          }
        ]
      ]
    },
    "Build T11 Calendar Read Fixture": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run T11 Calendar Read",
            "type": "main"
          }
        ]
      ]
    },
    "Ensure PKM Test Mode": {
      "main": [
        [
          {
            "index": 0,
            "node": "T01 - Infra",
            "type": "main"
          }
        ]
      ]
    },
    "Fail Smoke Run": {
      "main": [
        []
      ]
    },
    "Init Smoke Context": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ensure PKM Test Mode",
            "type": "main"
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Init Smoke Context",
            "type": "main"
          }
        ]
      ]
    },
    "Record T03 Ambiguous": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build T03 Capture Fixture",
            "type": "main"
          }
        ]
      ]
    },
    "Record T03 Calendar": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build T03 Ambiguous Fixture",
            "type": "main"
          }
        ]
      ]
    },
    "Record T03 Capture": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build T04 Capture Fixture",
            "type": "main"
          }
        ]
      ]
    },
    "Record T03 Continue": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build T03 Calendar Fixture",
            "type": "main"
          }
        ]
      ]
    },
    "Record T04 Capture": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build T05 Email Fixture",
            "type": "main"
          }
        ]
      ]
    },
    "Record T05 Email": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build T06 Pull Command",
            "type": "main"
          }
        ]
      ]
    },
    "Record T06 Pull": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build T07 Continue Command",
            "type": "main"
          }
        ]
      ]
    },
    "Record T07 Continue": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build T08 Distill Command",
            "type": "main"
          }
        ]
      ]
    },
    "Record T08 Distill": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build T09 Delete Command",
            "type": "main"
          }
        ]
      ]
    },
    "Record T09 Delete": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build T10 Calendar Create Fixture",
            "type": "main"
          }
        ]
      ]
    },
    "Record T10 Calendar Create": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build T10 Clarification Fixture",
            "type": "main"
          }
        ]
      ]
    },
    "Record T10 Clarification": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build T11 Calendar Read Fixture",
            "type": "main"
          }
        ]
      ]
    },
    "Record T11 Calendar Read": {
      "main": [
        [
          {
            "index": 0,
            "node": "T99 - Cleanup",
            "type": "main"
          }
        ]
      ]
    },
    "Run T03 Ambiguous Router": {
      "main": [
        [
          {
            "index": 0,
            "node": "Record T03 Ambiguous",
            "type": "main"
          }
        ]
      ]
    },
    "Run T03 Calendar Router": {
      "main": [
        [
          {
            "index": 0,
            "node": "Record T03 Calendar",
            "type": "main"
          }
        ]
      ]
    },
    "Run T03 Capture Router": {
      "main": [
        [
          {
            "index": 0,
            "node": "Record T03 Capture",
            "type": "main"
          }
        ]
      ]
    },
    "Run T03 Continue Router": {
      "main": [
        [
          {
            "index": 0,
            "node": "Record T03 Continue",
            "type": "main"
          }
        ]
      ]
    },
    "Run T04 Telegram Capture": {
      "main": [
        [
          {
            "index": 0,
            "node": "Record T04 Capture",
            "type": "main"
          }
        ]
      ]
    },
    "Run T05 Email Capture": {
      "main": [
        [
          {
            "index": 0,
            "node": "Record T05 Email",
            "type": "main"
          }
        ]
      ]
    },
    "Run T06 Pull": {
      "main": [
        [
          {
            "index": 0,
            "node": "Record T06 Pull",
            "type": "main"
          }
        ]
      ]
    },
    "Run T07 Continue": {
      "main": [
        [
          {
            "index": 0,
            "node": "Record T07 Continue",
            "type": "main"
          }
        ]
      ]
    },
    "Run T08 Distill": {
      "main": [
        [
          {
            "index": 0,
            "node": "Record T08 Distill",
            "type": "main"
          }
        ]
      ]
    },
    "Run T09 Delete": {
      "main": [
        [
          {
            "index": 0,
            "node": "Record T09 Delete",
            "type": "main"
          }
        ]
      ]
    },
    "Run T10 Calendar Create": {
      "main": [
        [
          {
            "index": 0,
            "node": "Record T10 Calendar Create",
            "type": "main"
          }
        ]
      ]
    },
    "Run T10 Clarification": {
      "main": [
        [
          {
            "index": 0,
            "node": "Record T10 Clarification",
            "type": "main"
          }
        ]
      ]
    },
    "Run T11 Calendar Read": {
      "main": [
        [
          {
            "index": 0,
            "node": "Record T11 Calendar Read",
            "type": "main"
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Init Smoke Context",
            "type": "main"
          }
        ]
      ]
    },
    "Send Smoke Summary": {
      "main": [
        [
          {
            "index": 0,
            "node": "Fail Smoke Run",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Fail Smoke Run",
            "type": "main"
          }
        ]
      ]
    },
    "T01 - Infra": {
      "main": [
        [
          {
            "index": 0,
            "node": "T02 - Public Ingress",
            "type": "main"
          }
        ]
      ]
    },
    "T02 - Public Ingress": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build T03 Continue Fixture",
            "type": "main"
          }
        ]
      ]
    },
    "T99 - Cleanup": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Smoke Summary",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "00 Smoke - Master",
  "nodes": [
    {
      "id": "6e06896e-628d-40fd-bca6-91eb0df34a43",
      "name": "Manual Trigger",
      "parameters": {},
      "position": [
        -2208,
        -224
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "3b835879-1cd3-493a-ba19-05924a249e56",
      "name": "Schedule Trigger",
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "position": [
        -2208,
        -32
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "633356e5-9128-42e3-bb27-6edb6d912f52",
      "name": "Init Smoke Context",
      "parameters": {
        "jsCode": "'use strict';\n\nconst defaults = {\n  smoke_mode: true,\n  pkm_test_mode: true,\n  calendar_test_mode: true,\n  smoke_telegram_dry_run: true,\n  telegram_test_chat_id: '1509032341',\n  test_calendar_id: '831dca29672745da07709e8636e37b6241df174fca270982c66a046b915b2dc1@group.calendar.google.com',\n  prod_calendar_id: 'pkm.gasovic@gmail.com',\n  allow_test_calendar_purge: false,\n  public_ingress_path: 'pkm/smoke/ingress',\n};\nconst now = new Date();\nconst pad = (v) => String(v).padStart(2, '0');\nconst runId = [\n  'smoke',\n  now.getUTCFullYear(),\n  pad(now.getUTCMonth() + 1),\n  pad(now.getUTCDate()),\n  pad(now.getUTCHours()) + pad(now.getUTCMinutes()) + pad(now.getUTCSeconds()),\n].join('_');\n\nreturn [{\n  json: {\n    ...defaults,\n    test_run_id: runId,\n    started_at: now.toISOString(),\n    results: [],\n    artifacts: {},\n    smoke_mode: true,\n    pkm_test_mode: true,\n    calendar_test_mode: true,\n  },\n}];"
      },
      "position": [
        -1984,
        -128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "7d7b6520-f2bf-4c8a-899e-08c5ba1c972b",
      "name": "Ensure PKM Test Mode",
      "parameters": {
        "jsCode": "'use strict';\n\nconst base = { ...$json };\nconst results = Array.isArray(base.results) ? [...base.results] : [];\nconst headers = { 'X-PKM-Run-Id': String(base.test_run_id || '') };\nlet prior = null;\nlet ok = false;\nlet error = null;\n\ntry {\n  const stateRows = await helpers.httpRequest({\n    method: 'GET',\n    url: 'http://pkm-server:8080/db/test-mode',\n    headers,\n    json: true,\n  });\n  const first = Array.isArray(stateRows) ? stateRows[0] : null;\n  prior = !!(first && first.is_test_mode === true);\n\n  if (!prior) {\n    await helpers.httpRequest({\n      method: 'POST',\n      url: 'http://pkm-server:8080/db/test-mode/toggle',\n      headers,\n      json: true,\n      body: {},\n    });\n  }\n  ok = true;\n} catch (e) {\n  error = { message: String(e && e.message ? e.message : e) };\n}\n\nresults.push({\n  test_case: 'T00-test-mode-setup',\n  ok,\n  run_id: base.test_run_id || null,\n  artifacts: { prior_test_mode: prior },\n  assertions: [\n    { name: 'test_mode_state_read', ok: prior !== null },\n    { name: 'test_mode_enabled_for_run', ok },\n  ],\n  error,\n});\n\nreturn [{ json: { ...base, prior_test_mode: prior, results } }];"
      },
      "position": [
        -1760,
        -128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "0177c9b0-6285-460f-8406-88703b132f73",
      "name": "T01 - Infra",
      "parameters": {
        "jsCode": "'use strict';\n\nconst base = { ...$json };\nconst results = Array.isArray(base.results) ? [...base.results] : [];\nconst headers = { 'X-PKM-Run-Id': String(base.test_run_id || '') };\n\nlet health = null;\nlet ready = null;\nlet probe = null;\nlet error = null;\n\ntry {\n  health = await helpers.httpRequest({ method: 'GET', url: 'http://pkm-server:8080/health', headers, json: true });\n  ready = await helpers.httpRequest({ method: 'GET', url: 'http://pkm-server:8080/ready', headers, json: true });\n  probe = await helpers.httpRequest({\n    method: 'POST',\n    url: 'http://pkm-server:8080/db/read/last',\n    headers,\n    json: true,\n    body: { q: 'smoke', days: 7, limit: 1 },\n  });\n} catch (e) {\n  error = { message: String(e && e.message ? e.message : e) };\n}\n\nconst assertions = [\n  { name: 'health_status_ok', ok: !!health && health.status === 'ok' },\n  { name: 'ready_status_ok', ok: !!ready && ready.status === 'ready' },\n  { name: 'db_probe_completed', ok: error == null && (Array.isArray(probe) || probe != null) },\n];\nconst ok = assertions.every((a) => a.ok === true);\n\nresults.push({\n  test_case: 'T01-infra',\n  ok,\n  run_id: base.test_run_id || null,\n  artifacts: {\n    health: health || null,\n    ready: ready || null,\n  },\n  assertions,\n  error,\n});\n\nreturn [{ json: { ...base, results } }];"
      },
      "position": [
        -1536,
        -128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "7e11dec5-42b7-4e08-8ba4-c8397c1dd23f",
      "name": "T02 - Public Ingress",
      "parameters": {
        "jsCode": "'use strict';\n\nconst base = { ...$json };\nconst results = Array.isArray(base.results) ? [...base.results] : [];\nlet response = null;\nlet error = null;\n\nconst ingressPath = String(base.public_ingress_path || 'pkm/smoke/ingress').replace(/^\\/+/, '');\nconst url = 'https://n8n-hook.gasovic.com/' + ingressPath;\n\ntry {\n  response = await helpers.httpRequest({\n    method: 'POST',\n    url,\n    json: true,\n    timeout: 30000,\n    body: {\n      smoke: true,\n      test_run_id: base.test_run_id || null,\n      ts: new Date().toISOString(),\n    },\n  });\n} catch (e) {\n  error = { message: String(e && e.message ? e.message : e) };\n}\n\nconst assertions = [\n  { name: 'public_webhook_called', ok: !error },\n  { name: 'public_webhook_ok', ok: !!response && response.ok === true },\n];\nconst ok = assertions.every((a) => a.ok === true);\n\nresults.push({\n  test_case: 'T02-public-ingress',\n  ok,\n  run_id: base.test_run_id || null,\n  artifacts: {\n    ingress_url: url,\n    ingress_response: response || null,\n  },\n  assertions,\n  error,\n});\n\nreturn [{ json: { ...base, results } }];"
      },
      "position": [
        -1312,
        -128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "eb21f8f1-0f99-4ad6-9cf5-2d2b1f97945b",
      "name": "Build T03 Continue Fixture",
      "parameters": {
        "jsCode": "'use strict';\n\nconst base = { ...$json };\nconst fixture = {\n  update_id: 235792334,\n  message: {\n    message_id: 1497,\n    from: { id: 1509032341, is_bot: false, first_name: 'igorg', username: 'igorg89', language_code: 'en' },\n    chat: { id: 1509032341, first_name: 'igorg', username: 'igorg89', type: 'private' },\n    date: 1773518809,\n    text: '/continue ai',\n    entities: [{ offset: 0, length: 9, type: 'bot_command' }],\n  },\n};\nreturn [{ json: { ...base, ...fixture, smoke_mode: true, smoke_case: 'router_continue_ai', smoke_expected_route: 'read', current_test_case: 'T03-router-continue', smoke_telegram_dry_run: true } }];"
      },
      "position": [
        -1088,
        -384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "a6d9e8ce-cb24-419e-afb1-1d8c75a27833",
      "name": "Run T03 Continue Router",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "01 Telegram Router",
          "cachedResultUrl": "/workflow/_NgZy8xU5XGXrBeBjl2cp",
          "mode": "list",
          "value": "_NgZy8xU5XGXrBeBjl2cp"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -864,
        -384
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "55f8683e-a7b7-49de-b44d-7d49f22d0c0d",
      "name": "Record T03 Continue",
      "parameters": {
        "jsCode": "try{const {wf00RecordT03Continue}=require('@igasovic/n8n-blocks');return await wf00RecordT03Continue({$input,$json,$items,$node,$env,helpers},{\"buildNodeName\":\"Build T03 Continue Fixture\",\"defaultCaseName\":\"T03-router-continue\",\"defaultAssertionName\":\"router_execution_ok\",\"artifactAliases\":{}});}catch(e){e.message=`[extjs:00-smoke-master/record-step__7aa3c8e8-1ab4-4c45-8c4a-ec6173fb8f77.js] ${e.message}`;throw e;}"
      },
      "position": [
        -640,
        -384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d51b218c-a0ee-465f-af79-b6dc9092d5a4",
      "name": "Build T03 Calendar Fixture",
      "parameters": {
        "jsCode": "'use strict';\n\nconst base = { ...$json };\nconst fixture = {\n  update_id: 235792328,\n  message: {\n    message_id: 1485,\n    from: { id: 1509032341, is_bot: false, first_name: 'igorg', username: 'igorg89', language_code: 'en' },\n    chat: { id: 1509032341, first_name: 'igorg', username: 'igorg89', type: 'private' },\n    date: 1773517641,\n    text: 'cal: Louie store tomorrow at 2pm for 90min',\n  },\n};\nreturn [{ json: { ...base, ...fixture, smoke_mode: true, smoke_case: 'router_calendar_create', smoke_expected_route: 'calendar_create', current_test_case: 'T03-router-calendar', smoke_telegram_dry_run: true } }];"
      },
      "position": [
        -1088,
        -128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "21689e22-802e-4fe3-ba12-bb541514b765",
      "name": "Run T03 Calendar Router",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "01 Telegram Router",
          "cachedResultUrl": "/workflow/_NgZy8xU5XGXrBeBjl2cp",
          "mode": "list",
          "value": "_NgZy8xU5XGXrBeBjl2cp"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -864,
        -128
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "e5f4e4a6-f51e-4d70-afb0-8449ee2e99a9",
      "name": "Record T03 Calendar",
      "parameters": {
        "jsCode": "try{const {wf00RecordT03Calendar}=require('@igasovic/n8n-blocks');return await wf00RecordT03Calendar({$input,$json,$items,$node,$env,helpers},{\"buildNodeName\":\"Build T03 Calendar Fixture\",\"defaultCaseName\":\"T03-router-calendar\",\"defaultAssertionName\":\"router_execution_ok\",\"artifactAliases\":{}});}catch(e){e.message=`[extjs:00-smoke-master/record-step__7aa3c8e8-1ab4-4c45-8c4a-ec6173fb8f77.js] ${e.message}`;throw e;}"
      },
      "position": [
        -640,
        -128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f4fc79cd-cde1-4131-b529-9c1a73d5fb78",
      "name": "Build T03 Ambiguous Fixture",
      "parameters": {
        "jsCode": "'use strict';\n\nconst base = { ...$json };\nconst fixture = {\n  update_id: 235792339,\n  message: {\n    message_id: 1501,\n    from: { id: 1509032341, is_bot: false, first_name: 'igorg', username: 'igorg89', language_code: 'en' },\n    chat: { id: 1509032341, first_name: 'igorg', username: 'igorg89', type: 'private' },\n    date: 1773519950,\n    text: 'can you handle this for tomorrow',\n  },\n};\nreturn [{ json: { ...base, ...fixture, smoke_mode: true, smoke_case: 'router_ambiguous', smoke_expected_route: 'ambiguous', current_test_case: 'T03-router-ambiguous', smoke_telegram_dry_run: true } }];"
      },
      "position": [
        -1088,
        128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "52cd124e-998e-47bf-b525-1ed94e082dff",
      "name": "Run T03 Ambiguous Router",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "01 Telegram Router",
          "cachedResultUrl": "/workflow/_NgZy8xU5XGXrBeBjl2cp",
          "mode": "list",
          "value": "_NgZy8xU5XGXrBeBjl2cp"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -864,
        128
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "b5716384-e687-4135-a098-c01363b0613c",
      "name": "Record T03 Ambiguous",
      "parameters": {
        "jsCode": "try{const {wf00RecordT03Ambiguous}=require('@igasovic/n8n-blocks');return await wf00RecordT03Ambiguous({$input,$json,$items,$node,$env,helpers},{\"buildNodeName\":\"Build T03 Ambiguous Fixture\",\"defaultCaseName\":\"T03-router-ambiguous\",\"defaultAssertionName\":\"router_execution_ok\",\"artifactAliases\":{}});}catch(e){e.message=`[extjs:00-smoke-master/record-step__7aa3c8e8-1ab4-4c45-8c4a-ec6173fb8f77.js] ${e.message}`;throw e;}"
      },
      "position": [
        -640,
        128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "c1ce1dbc-528e-42d3-b193-5719ed3d8800",
      "name": "Build T03 Capture Fixture",
      "parameters": {
        "jsCode": "'use strict';\n\nconst base = { ...$json };\nconst fixture = {\n  update_id: 235792350,\n  message: {\n    message_id: 1514,\n    from: { id: 1509032341, is_bot: false, first_name: 'igorg', username: 'igorg89', language_code: 'en' },\n    chat: { id: 1509032341, first_name: 'igorg', username: 'igorg89', type: 'private' },\n    date: 1773520400,\n    text: 'Capture smoke note: parser and routing seem stable today',\n  },\n};\nreturn [{ json: { ...base, ...fixture, smoke_mode: true, smoke_case: 'router_capture', smoke_expected_route: 'pkm_capture', current_test_case: 'T03-router-capture', smoke_telegram_dry_run: true } }];"
      },
      "position": [
        -1088,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "7a453e7b-cd3c-470b-b4ea-0022256c20c2",
      "name": "Run T03 Capture Router",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "01 Telegram Router",
          "cachedResultUrl": "/workflow/_NgZy8xU5XGXrBeBjl2cp",
          "mode": "list",
          "value": "_NgZy8xU5XGXrBeBjl2cp"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -864,
        384
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "cac1d45a-67fe-48d4-996a-14901dfcf205",
      "name": "Record T03 Capture",
      "parameters": {
        "jsCode": "try{const {wf00RecordT03Capture}=require('@igasovic/n8n-blocks');return await wf00RecordT03Capture({$input,$json,$items,$node,$env,helpers},{\"buildNodeName\":\"Build T03 Capture Fixture\",\"defaultCaseName\":\"T03-router-capture\",\"defaultAssertionName\":\"router_execution_ok\",\"artifactAliases\":{}});}catch(e){e.message=`[extjs:00-smoke-master/record-step__7aa3c8e8-1ab4-4c45-8c4a-ec6173fb8f77.js] ${e.message}`;throw e;}"
      },
      "position": [
        -640,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "350b772b-53b1-44b0-87cd-34dd28d44611",
      "name": "Build T04 Capture Fixture",
      "parameters": {
        "jsCode": "'use strict';\n\nconst base = { ...$json };\nconst fixture = {\n  update_id: 235792351,\n  message: {\n    message_id: 1515,\n    from: { id: 1509032341, is_bot: false, first_name: 'igorg', username: 'igorg89', language_code: 'en' },\n    chat: { id: 1509032341, first_name: 'igorg', username: 'igorg89', type: 'private' },\n    date: 1773520405,\n    text: 'Interesting read on retrieval systems https://paulgraham.com/todo.html',\n  },\n};\nreturn [{ json: { ...base, ...fixture, smoke_mode: true, smoke_case: 'telegram_capture', current_test_case: 'T04-telegram-capture', smoke_telegram_dry_run: true } }];"
      },
      "position": [
        -416,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "c695d71a-a2a5-4bbc-b483-0750b65d62a2",
      "name": "Run T04 Telegram Capture",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "02 Telegram Capture",
          "cachedResultUrl": "/workflow/EWyb1cTmqDlKY2pIyqULN",
          "mode": "list",
          "value": "EWyb1cTmqDlKY2pIyqULN"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -192,
        384
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "9564cc73-01be-4972-9b7f-cebde2e5e4e5",
      "name": "Record T04 Capture",
      "parameters": {
        "jsCode": "try{const {wf00RecordT04Capture}=require('@igasovic/n8n-blocks');return await wf00RecordT04Capture({$input,$json,$items,$node,$env,helpers},{\"buildNodeName\":\"Build T04 Capture Fixture\",\"defaultCaseName\":\"T04-telegram-capture\",\"defaultAssertionName\":\"capture_execution_ok\",\"artifactAliases\":{\"entry_id\":\"telegram_capture_entry_id\"}});}catch(e){e.message=`[extjs:00-smoke-master/record-step__7aa3c8e8-1ab4-4c45-8c4a-ec6173fb8f77.js] ${e.message}`;throw e;}"
      },
      "position": [
        32,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "765ace08-272c-466b-a5d4-0f2eb245c529",
      "name": "Build T05 Email Fixture",
      "parameters": {
        "jsCode": "'use strict';\n\nconst base = { ...$json };\nconst fixture = {\n  from: 'Seth Godin <seth@example.com>',\n  subject: 'The practice of shipping',\n  date: '2026-03-14T10:00:00Z',\n  textPlain: 'Shipping is a discipline. You can choose to publish before perfect and iterate in public.',\n};\nreturn [{ json: { ...base, ...fixture, smoke_mode: true, smoke_case: 'email_capture', current_test_case: 'T05-email-capture', smoke_telegram_dry_run: true } }];"
      },
      "position": [
        256,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "2f286790-5727-4f03-90a0-afe7e3eac09e",
      "name": "Run T05 Email Capture",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "03 E-Mail Capture",
          "cachedResultUrl": "/workflow/D7ZqryewKY23am6l",
          "mode": "list",
          "value": "D7ZqryewKY23am6l"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        480,
        384
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "962321d1-ba35-4b14-aa49-93d6edb34472",
      "name": "Record T05 Email",
      "parameters": {
        "jsCode": "try{const {wf00RecordT05Email}=require('@igasovic/n8n-blocks');return await wf00RecordT05Email({$input,$json,$items,$node,$env,helpers},{\"buildNodeName\":\"Build T05 Email Fixture\",\"defaultCaseName\":\"T05-email-capture\",\"defaultAssertionName\":\"email_execution_ok\",\"artifactAliases\":{\"entry_id\":\"email_capture_entry_id\"}});}catch(e){e.message=`[extjs:00-smoke-master/record-step__7aa3c8e8-1ab4-4c45-8c4a-ec6173fb8f77.js] ${e.message}`;throw e;}"
      },
      "position": [
        704,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "05960bcb-3c48-4979-9209-7612d992656f",
      "name": "Build T06 Pull Command",
      "parameters": {
        "jsCode": "'use strict';\n\nconst base = { ...$json };\nconst entryId = (($json.artifacts || {}).telegram_capture_entry_id || '').toString().trim();\nif (!entryId) {\n  throw new Error('T06 precheck failed: telegram_capture_entry_id is required before /pull');\n}\nconst messageText = '/pull ' + entryId;\nreturn [{ json: { ...base, current_test_case: 'T06-pull', smoke_mode: true, smoke_case: 'pull', smoke_telegram_dry_run: true, message: { text: messageText, chat: { id: Number(base.telegram_test_chat_id || 0) || base.telegram_test_chat_id }, from: { id: Number(base.telegram_test_chat_id || 0) || base.telegram_test_chat_id } }, telegram_chat_id: String(base.telegram_test_chat_id || '') } }];\n"
      },
      "position": [
        928,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "735ba36f-94a4-4b3d-b3cf-90185638a4d5",
      "name": "Run T06 Pull",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "10 Read",
          "cachedResultUrl": "/workflow/dq9Nex-IR8AToJvHksphj",
          "mode": "list",
          "value": "dq9Nex-IR8AToJvHksphj"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        1152,
        384
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "6dcf29d3-341a-46bb-830d-589453ef4cd4",
      "name": "Record T06 Pull",
      "parameters": {
        "jsCode": "try{const {wf00RecordT06Pull}=require('@igasovic/n8n-blocks');return await wf00RecordT06Pull({$input,$json,$items,$node,$env,helpers},{\"buildNodeName\":\"Build T06 Pull Command\",\"defaultCaseName\":\"T06-pull\",\"defaultAssertionName\":\"pull_execution_ok\",\"artifactAliases\":{}});}catch(e){e.message=`[extjs:00-smoke-master/record-step__7aa3c8e8-1ab4-4c45-8c4a-ec6173fb8f77.js] ${e.message}`;throw e;}"
      },
      "position": [
        1376,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "4fc384ef-f9fc-47b7-9d19-642f4980b8a6",
      "name": "Build T07 Continue Command",
      "parameters": {
        "jsCode": "'use strict';\n\nconst base = { ...$json };\nconst fixture = {\n  message: {\n    text: '/continue ai',\n    chat: { id: Number(base.telegram_test_chat_id || 0) || base.telegram_test_chat_id },\n    from: { id: Number(base.telegram_test_chat_id || 0) || base.telegram_test_chat_id },\n  },\n  telegram_chat_id: String(base.telegram_test_chat_id || ''),\n};\nreturn [{ json: { ...base, ...fixture, smoke_mode: true, smoke_case: 'continue', current_test_case: 'T07-continue', smoke_telegram_dry_run: true } }];"
      },
      "position": [
        1600,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "88faecc0-2c0e-4ba1-87e0-b4c1f258850f",
      "name": "Run T07 Continue",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "10 Read",
          "cachedResultUrl": "/workflow/dq9Nex-IR8AToJvHksphj",
          "mode": "list",
          "value": "dq9Nex-IR8AToJvHksphj"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        1824,
        384
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "4b9bcd07-30e2-4edf-8674-cbfa1ca3e895",
      "name": "Record T07 Continue",
      "parameters": {
        "jsCode": "try{const {wf00RecordT07Continue}=require('@igasovic/n8n-blocks');return await wf00RecordT07Continue({$input,$json,$items,$node,$env,helpers},{\"buildNodeName\":\"Build T07 Continue Command\",\"defaultCaseName\":\"T07-continue\",\"defaultAssertionName\":\"continue_execution_ok\",\"artifactAliases\":{}});}catch(e){e.message=`[extjs:00-smoke-master/record-step__7aa3c8e8-1ab4-4c45-8c4a-ec6173fb8f77.js] ${e.message}`;throw e;}"
      },
      "position": [
        2048,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f31ca726-5a9e-450e-8dae-b8df914696d6",
      "name": "Build T08 Distill Command",
      "parameters": {
        "jsCode": "'use strict';\n\nconst base = { ...$json };\nconst entryId = (($json.artifacts || {}).telegram_capture_entry_id || '').toString().trim();\nif (!entryId) {\n  throw new Error('T08 precheck failed: telegram_capture_entry_id is required before /distill');\n}\nconst messageText = '/distill ' + entryId;\nreturn [{ json: { ...base, current_test_case: 'T08-distill', smoke_mode: true, smoke_case: 'distill', smoke_telegram_dry_run: true, message: { text: messageText, chat: { id: Number(base.telegram_test_chat_id || 0) || base.telegram_test_chat_id }, from: { id: Number(base.telegram_test_chat_id || 0) || base.telegram_test_chat_id } }, telegram_chat_id: String(base.telegram_test_chat_id || '') } }];\n"
      },
      "position": [
        2272,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "4e2c51e7-6c62-4768-bede-a157e8d3000d",
      "name": "Run T08 Distill",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "10 Read",
          "cachedResultUrl": "/workflow/dq9Nex-IR8AToJvHksphj",
          "mode": "list",
          "value": "dq9Nex-IR8AToJvHksphj"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        2496,
        384
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "787ba787-935f-48cb-8be6-a9b8a58df28e",
      "name": "Record T08 Distill",
      "parameters": {
        "jsCode": "try{const {wf00RecordT08Distill}=require('@igasovic/n8n-blocks');return await wf00RecordT08Distill({$input,$json,$items,$node,$env,helpers},{\"buildNodeName\":\"Build T08 Distill Command\",\"defaultCaseName\":\"T08-distill\",\"defaultAssertionName\":\"distill_execution_ok\",\"artifactAliases\":{}});}catch(e){e.message=`[extjs:00-smoke-master/record-step__7aa3c8e8-1ab4-4c45-8c4a-ec6173fb8f77.js] ${e.message}`;throw e;}"
      },
      "position": [
        2720,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "e0563ce2-6eea-42b3-8148-4cb58f26ded5",
      "name": "Build T09 Delete Command",
      "parameters": {
        "jsCode": "'use strict';\n\nconst base = { ...$json };\nconst artifacts = $json.artifacts || {};\nconst ids = [artifacts.telegram_capture_entry_id, artifacts.email_capture_entry_id].filter((v) => !!v).map((v) => String(v));\nif (!ids.length) {\n  throw new Error('T09 precheck failed: no capture entry IDs available for delete');\n}\nconst idList = ids.join(',');\nconst messageText = '/delete test ' + idList + ' --force';\nreturn [{ json: { ...base, current_test_case: 'T09-delete', smoke_mode: true, smoke_case: 'delete', smoke_telegram_dry_run: true, message: { text: messageText, chat: { id: Number(base.telegram_test_chat_id || 0) || base.telegram_test_chat_id }, from: { id: Number(base.telegram_test_chat_id || 0) || base.telegram_test_chat_id } }, telegram_chat_id: String(base.telegram_test_chat_id || '') } }];\n"
      },
      "position": [
        2944,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "5e8f80e1-6c23-427c-9ad4-13c3e75c75e3",
      "name": "Run T09 Delete",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "10 Read",
          "cachedResultUrl": "/workflow/dq9Nex-IR8AToJvHksphj",
          "mode": "list",
          "value": "dq9Nex-IR8AToJvHksphj"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        3168,
        384
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "a060c1a9-0c71-458d-91b3-ef9d82404663",
      "name": "Record T09 Delete",
      "parameters": {
        "jsCode": "try{const {wf00RecordT09Delete}=require('@igasovic/n8n-blocks');return await wf00RecordT09Delete({$input,$json,$items,$node,$env,helpers},{\"buildNodeName\":\"Build T09 Delete Command\",\"defaultCaseName\":\"T09-delete\",\"defaultAssertionName\":\"delete_execution_ok\",\"artifactAliases\":{}});}catch(e){e.message=`[extjs:00-smoke-master/record-step__7aa3c8e8-1ab4-4c45-8c4a-ec6173fb8f77.js] ${e.message}`;throw e;}"
      },
      "position": [
        3392,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "dec54d69-0203-4586-aa63-e05999b0c74b",
      "name": "Build T10 Calendar Create Fixture",
      "parameters": {
        "jsCode": "'use strict';\n\nconst base = { ...$json };\nconst fixture = {\n  message: {\n    text: 'cal: Louie store tomorrow at 2pm for 90min',\n    chat: { id: Number(base.telegram_test_chat_id || 0) || base.telegram_test_chat_id },\n    from: { id: Number(base.telegram_test_chat_id || 0) || base.telegram_test_chat_id },\n  },\n  telegram_chat_id: String(base.telegram_test_chat_id || ''),\n  telegram_message_id: '3001',\n  actor_code: 'igor',\n};\nreturn [{ json: { ...base, ...fixture, smoke_mode: true, smoke_case: 'calendar_create', current_test_case: 'T10-calendar-create', smoke_telegram_dry_run: true, calendar_test_mode: true, test_calendar_id: $json.test_calendar_id, prod_calendar_id: $json.prod_calendar_id, test_run_id: $json.test_run_id } }];"
      },
      "position": [
        3616,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "29952227-efbc-4e0b-b752-620ba2eb72c4",
      "name": "Run T10 Calendar Create",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "30 Calendar Create",
          "cachedResultUrl": "/workflow/valOh9zMfqOZOvmHyOQfa",
          "mode": "list",
          "value": "valOh9zMfqOZOvmHyOQfa"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        3840,
        384
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "6b60115e-31de-41d6-952e-bef5941dad0f",
      "name": "Record T10 Calendar Create",
      "parameters": {
        "jsCode": "try{const {wf00RecordT10CalendarCreate}=require('@igasovic/n8n-blocks');return await wf00RecordT10CalendarCreate({$input,$json,$items,$node,$env,helpers},{\"buildNodeName\":\"Build T10 Calendar Create Fixture\",\"defaultCaseName\":\"T10-calendar-create\",\"defaultAssertionName\":\"calendar_create_execution_ok\",\"artifactAliases\":{\"google_event_id\":\"calendar_event_id\",\"request_id\":\"calendar_request_id\"}});}catch(e){e.message=`[extjs:00-smoke-master/record-step__7aa3c8e8-1ab4-4c45-8c4a-ec6173fb8f77.js] ${e.message}`;throw e;}"
      },
      "position": [
        4064,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "c12dcc01-b448-40d5-a522-c035be4b7897",
      "name": "Build T10 Clarification Fixture",
      "parameters": {
        "jsCode": "'use strict';\n\nconst base = { ...$json };\nconst fixture = {\n  message: {\n    text: 'cal: Louie store tomorrow',\n    chat: { id: Number(base.telegram_test_chat_id || 0) || base.telegram_test_chat_id },\n    from: { id: Number(base.telegram_test_chat_id || 0) || base.telegram_test_chat_id },\n  },\n  telegram_chat_id: String(base.telegram_test_chat_id || ''),\n  telegram_message_id: '3002',\n  actor_code: 'igor',\n};\nreturn [{ json: { ...base, ...fixture, smoke_mode: true, smoke_case: 'calendar_create_clarify', current_test_case: 'T10-calendar-clarify', smoke_telegram_dry_run: true, calendar_test_mode: true, test_calendar_id: $json.test_calendar_id, prod_calendar_id: $json.prod_calendar_id, test_run_id: $json.test_run_id } }];"
      },
      "position": [
        4288,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "ab9f5822-6504-42bf-bd72-635661adf0ab",
      "name": "Run T10 Clarification",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "30 Calendar Create",
          "cachedResultUrl": "/workflow/valOh9zMfqOZOvmHyOQfa",
          "mode": "list",
          "value": "valOh9zMfqOZOvmHyOQfa"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        4512,
        384
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "e6210ca8-0797-41f0-a381-ca684eafcb57",
      "name": "Record T10 Clarification",
      "parameters": {
        "jsCode": "try{const {wf00RecordT10Clarification}=require('@igasovic/n8n-blocks');return await wf00RecordT10Clarification({$input,$json,$items,$node,$env,helpers},{\"buildNodeName\":\"Build T10 Clarification Fixture\",\"defaultCaseName\":\"T10-calendar-clarify\",\"defaultAssertionName\":\"calendar_clarify_execution_ok\",\"artifactAliases\":{}});}catch(e){e.message=`[extjs:00-smoke-master/record-step__7aa3c8e8-1ab4-4c45-8c4a-ec6173fb8f77.js] ${e.message}`;throw e;}"
      },
      "position": [
        4736,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "07ac537c-ca8b-403f-bd5f-820d8342dc06",
      "name": "Build T11 Calendar Read Fixture",
      "parameters": {
        "jsCode": "'use strict';\n\nconst base = { ...$json };\nconst expectedId = (($json.artifacts || {}).calendar_event_id || null);\nconst fixture = {\n  message: {\n    text: 'cal tomorrow',\n    chat: { id: Number(base.telegram_test_chat_id || 0) || base.telegram_test_chat_id },\n    from: { id: Number(base.telegram_test_chat_id || 0) || base.telegram_test_chat_id },\n  },\n  telegram_chat_id: String(base.telegram_test_chat_id || ''),\n};\nreturn [{ json: { ...base, ...fixture, current_test_case: 'T11-calendar-read', smoke_mode: true, smoke_case: 'calendar_read', smoke_telegram_dry_run: true, calendar_test_mode: true, test_calendar_id: base.test_calendar_id, prod_calendar_id: base.prod_calendar_id, expected_google_event_id: expectedId, test_run_id: base.test_run_id } }];"
      },
      "position": [
        4960,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "id": "27cf05d4-f6ac-457a-9565-e58fade4de8e",
      "name": "Run T11 Calendar Read",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "31 Calendar Read",
          "cachedResultUrl": "/workflow/DwtBNN8QIebQC3G-IsuCU",
          "mode": "list",
          "value": "DwtBNN8QIebQC3G-IsuCU"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        5184,
        384
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "6768349e-d5bd-4504-8d7b-931e57f1c5c8",
      "name": "Record T11 Calendar Read",
      "parameters": {
        "jsCode": "try{const {wf00RecordT11CalendarRead}=require('@igasovic/n8n-blocks');return await wf00RecordT11CalendarRead({$input,$json,$items,$node,$env,helpers},{\"buildNodeName\":\"Build T11 Calendar Read Fixture\",\"defaultCaseName\":\"T11-calendar-read\",\"defaultAssertionName\":\"calendar_read_execution_ok\",\"artifactAliases\":{}});}catch(e){e.message=`[extjs:00-smoke-master/record-step__7aa3c8e8-1ab4-4c45-8c4a-ec6173fb8f77.js] ${e.message}`;throw e;}"
      },
      "position": [
        5408,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f4215c02-bc84-4aea-801b-8a855811849d",
      "name": "T99 - Cleanup",
      "parameters": {
        "jsCode": "try{const {wf00T99Cleanup}=require('@igasovic/n8n-blocks');return await wf00T99Cleanup({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:00-smoke-master/t99-cleanup__f4215c02-bc84-4aea-801b-8a855811849d.js] ${e.message}`;throw e;}"
      },
      "position": [
        5632,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d24bbd0a-6f62-4e25-bb84-9790f4963b26",
      "name": "Build Smoke Summary",
      "parameters": {
        "jsCode": "try{const {wf00BuildSmokeSummary}=require('@igasovic/n8n-blocks');return await wf00BuildSmokeSummary({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:00-smoke-master/build-smoke-summary__d24bbd0a-6f62-4e25-bb84-9790f4963b26.js] ${e.message}`;throw e;}"
      },
      "position": [
        5856,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "1afad9ca-00ce-43b1-9fcc-4a4287cf3cc5",
      "name": "Send Smoke Summary",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": "={{ $json.smoke_telegram_dry_run === true }}",
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ $json.telegram_test_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        6080,
        384
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "2e7a6d72-ce4a-4ae1-86aa-07dca8557fee"
    },
    {
      "id": "b7db6e4a-cdc4-44fc-a9ec-9d907f4e05be",
      "name": "Fail Smoke Run",
      "parameters": {
        "jsCode": "'use strict';\n\nlet summary = null;\ntry {\n  const items = $items('Build Smoke Summary', 0, 0);\n  summary = Array.isArray(items) && items[0] && items[0].json ? { ...items[0].json } : null;\n} catch (_err) {\n  summary = null;\n}\n\nif (!summary) {\n  throw new Error('Smoke summary missing; cannot finalize run status');\n}\n\nif ($json && $json.error) {\n  const sendErr = String(($json.error && $json.error.message) || $json.error);\n  throw new Error('Smoke summary send failed: ' + sendErr);\n}\n\nif (summary.overall_ok !== true) {\n  const failed = Number(summary.failed_count || 0);\n  const runId = String(summary.test_run_id || 'unknown');\n  throw new Error('Smoke run failed: ' + failed + ' test(s) failed (run ' + runId + ')');\n}\n\nreturn [{ json: { ...summary, smoke_final_status: 'passed' } }];\n"
      },
      "position": [
        2448,
        -96
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
