src/n8n/workflows/01-telegram-router___NgZy8xU5XGXrBeBjl2cp.json
{
  "active": true,
  "connections": {
    "Call '30 Calendar Create'": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Router Smoke Result",
            "type": "main"
          }
        ]
      ]
    },
    "Call '31 Calendar Read'": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Router Smoke Result",
            "type": "main"
          }
        ]
      ]
    },
    "Call 'PKM Read'": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Router Smoke Result",
            "type": "main"
          }
        ]
      ]
    },
    "Call 'Telegram Capture'": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Router Smoke Result",
            "type": "main"
          }
        ]
      ]
    },
    "Format Ambiguous Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Ambiguous Message",
            "type": "main"
          }
        ]
      ]
    },
    "IF Is Command": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call 'PKM Read'",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Switch Explicit Prefix",
            "type": "main"
          }
        ]
      ]
    },
    "Merge Route Context": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch Routed Intent",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Telegram Route": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge Route Context",
            "type": "main"
          }
        ]
      ]
    },
    "Prepare Route Input": {
      "main": [
        [
          {
            "index": 0,
            "node": "IF Is Command",
            "type": "main"
          }
        ]
      ]
    },
    "Send Ambiguous Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Router Smoke Result",
            "type": "main"
          }
        ]
      ]
    },
    "Switch Explicit Prefix": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call 'Telegram Capture'",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Call '30 Calendar Create'",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Telegram Route",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merge Route Context",
            "type": "main"
          }
        ]
      ]
    },
    "Switch Routed Intent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call 'Telegram Capture'",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Call '30 Calendar Create'",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Call '31 Calendar Read'",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Format Ambiguous Message",
            "type": "main"
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Prepare Route Input",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Prepare Route Input",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "01 Telegram Router",
  "nodes": [
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "2d639cfe-b474-4e3a-9834-c2daea9e25a4",
      "name": "Telegram Trigger",
      "parameters": {
        "additionalFields": {},
        "updates": [
          "message",
          "edited_message"
        ]
      },
      "position": [
        -224,
        -112
      ],
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "webhookId": "a111da0e-d82b-4eac-9ca8-ddd49cc09794"
    },
    {
      "id": "9fdd2089-7796-4e95-932a-78b6827cf4b3",
      "name": "Prepare Route Input",
      "parameters": {
        "jsCode": "'use strict';\n\nconst asText = (value) => String(value === undefined || value === null ? '' : value).trim();\n\n  const message = ($json && $json.message) || ($json && $json.edited_message) || {};\n  const rawText = asText($json.raw_text || message.text || message.caption || '');\n\n  const telegramChatId = asText($json.telegram_chat_id || (message.chat && message.chat.id));\n  const telegramMessageId = asText($json.telegram_message_id || message.message_id);\n  const telegramUserId = asText($json.telegram_user_id || (message.from && message.from.id));\n  const username = asText($json.telegram_username || (message.from && message.from.username));\n  const firstName = asText($json.telegram_first_name || (message.from && message.from.first_name));\n\n  let actorCode = asText($json.actor_code).toLowerCase();\n  if (!actorCode) {\n    const hint = `${username} ${firstName}`.toLowerCase();\n    if (hint.includes('igor')) actorCode = 'igor';\n    else if (hint.includes('danij')) actorCode = 'danijela';\n    else actorCode = 'unknown';\n  }\n\n  let routeHint = 'pkm_capture';\n  if (/^cal:\\s*/i.test(rawText)) routeHint = 'calendar_create';\n  else if (/^pkm:\\s*/i.test(rawText)) routeHint = 'pkm_capture';\n\n  return [{\n    json: {\n      ...$json,\n      message,\n      raw_text: rawText,\n      telegram_chat_id: telegramChatId,\n      telegram_message_id: telegramMessageId,\n      telegram_user_id: telegramUserId,\n      telegram_username: username || null,\n      actor_code: actorCode,\n      is_command: rawText.startsWith('/'),\n      route_hint: routeHint,\n      smoke_mode: $json.smoke_mode === true,\n      test_run_id: asText($json.test_run_id) || null,\n      smoke_expected_route: asText($json.smoke_expected_route) || null,\n    },\n  }];\n"
      },
      "position": [
        0,
        -16
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "4f9bb596-e8d3-4a20-bf6c-b4826f22c22e",
      "name": "IF Is Command",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "4dbf1008-b299-42c0-bb47-95fd19445f58",
              "leftValue": "={{ $json.is_command === true }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "position": [
        224,
        -16
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "f5613e86-1374-4afe-b6fb-dd80ab7ff227",
      "name": "Call 'PKM Read'",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "Read",
          "cachedResultUrl": "/workflow/dq9Nex-IR8AToJvHksphj",
          "mode": "list",
          "value": "dq9Nex-IR8AToJvHksphj"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        1568,
        -256
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "a8d2d31a-b3ab-4dc3-b8f8-58abf420c460",
      "name": "Switch Explicit Prefix",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c5db9128-188c-4730-a196-1180f2b936f4",
                    "leftValue": "={{ $json.route_hint }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "pkm_capture"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "pkm_capture",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "2ecf8ce1-cf3a-4238-b8e1-0ebf75f47dc3",
                    "leftValue": "={{ $json.route_hint }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "calendar_create"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "calendar_create",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "fb87c5d7-e2f8-4310-bec9-c06720e1149c",
                    "leftValue": "={{ $json.route_hint }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "backend_route"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "backend_route",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        448,
        136
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4
    },
    {
      "id": "9a22f55c-2bad-4098-aa84-8a3e8568d7dc",
      "name": "Call 'Telegram Capture'",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "Telegram Capture",
          "cachedResultUrl": "/workflow/EWyb1cTmqDlKY2pIyqULN",
          "mode": "list",
          "value": "EWyb1cTmqDlKY2pIyqULN"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        1344,
        -32
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "e4e9c2ea-ab31-4ef2-a61f-34af44c74f7b",
      "name": "PKM Telegram Route",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-pkm-admin-secret",
              "value": "={{ $env.PKM_ADMIN_SECRET }}"
            },
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ text: $json.raw_text, actor_code: $json.actor_code, source: { chat_id: $json.telegram_chat_id, message_id: $json.telegram_message_id, user_id: $json.telegram_user_id }, run_id: $execution.id }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/telegram/route"
      },
      "position": [
        672,
        416
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "36b905a3-6c95-4318-bf23-a1ec12dd1f5f",
      "name": "Merge Route Context",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        896,
        320
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "0df2c58a-e21e-4f44-b9ea-fd4eccf14a7f",
      "name": "Switch Routed Intent",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "e9a6e2fb-bfce-4323-9544-fcf46cbb8dd8",
                    "leftValue": "={{ $json.route }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "pkm_capture"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "pkm_capture",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b882abc5-4be8-4d9d-8b5c-db4bbd0ba9a1",
                    "leftValue": "={{ $json.route }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "calendar_create"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "calendar_create",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f5fc111f-66d2-4a9f-bf1b-ebf17f3d83b7",
                    "leftValue": "={{ $json.route }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "calendar_query"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "calendar_query",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "96a87cb4-dd37-42e4-b90e-acd207d6a11f",
                    "leftValue": "={{ $json.route }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "ambiguous"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "ambiguous",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        1120,
        288
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4
    },
    {
      "id": "f6e29fae-95f8-4b12-8404-5dcfcf3db7a4",
      "name": "Format Ambiguous Message",
      "parameters": {
        "jsCode": "try{const {wf01FormatAmbiguousMessage}=require('@igasovic/n8n-blocks');return await wf01FormatAmbiguousMessage({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:01-telegram-router/format-ambiguous-message__f6e29fae-95f8-4b12-8404-5dcfcf3db7a4.js] ${e.message}`;throw e;}"
      },
      "position": [
        1344,
        560
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "f1995b19-0cc0-4f86-9f3a-0d5ed44c6f1c",
      "name": "Send Ambiguous Message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": "={{ $json.smoke_telegram_dry_run === true }}",
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ (($json.message && $json.message.chat && $json.message.chat.id) || $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID) }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        1568,
        560
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f8c8fbe-4233-44c6-84b1-99d43e0db6b4"
    },
    {
      "id": "5d532180-2285-45e5-a83a-60b3e4937441",
      "name": "Call '30 Calendar Create'",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "30 Calendar Create",
          "cachedResultUrl": "/workflow/valOh9zMfqOZOvmHyOQfa",
          "mode": "list",
          "value": "valOh9zMfqOZOvmHyOQfa"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        1344,
        160
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "1344db8c-df4d-4633-85af-793d5e474ce8",
      "name": "Call '31 Calendar Read'",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "31 Calendar Read",
          "cachedResultUrl": "/workflow/DwtBNN8QIebQC3G-IsuCU",
          "mode": "list",
          "value": "DwtBNN8QIebQC3G-IsuCU"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        1568,
        368
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "63e437ea-1108-452d-923e-f0076ec6cf6c",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -224,
        80
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "e1b9d8a8-2e45-4ecc-b17a-7df02a09c580",
      "name": "Build Router Smoke Result",
      "parameters": {
        "jsCode": "'use strict';\n\nconst routeRaw = String($json.route || '').trim();\nconst route = $json.is_command === true ? 'read' : (routeRaw || String($json.route_hint || '').trim() || 'unknown');\nconst smokeMode = $json.smoke_mode === true;\nif (!smokeMode) {\n  return [{ json: { ...$json, route } }];\n}\n\nconst expected = String($json.smoke_expected_route || '').trim() || null;\nconst assertions = [];\nassertions.push({ name: 'route_present', ok: !!route });\nif (expected) {\n  assertions.push({ name: 'route_matches_expected', ok: expected === route, expected, actual: route });\n}\nconst telegramMessage = String($json.telegram_message || '');\nif (route === 'ambiguous') {\n  assertions.push({ name: 'ambiguous_message_non_empty', ok: telegramMessage.length > 0 });\n}\nconst ok = assertions.every((a) => a.ok === true);\n\nreturn [{\n  json: {\n    ...$json,\n    test_case: 'telegram_router',\n    ok,\n    run_id: $json.test_run_id || null,\n    artifacts: {\n      route,\n      telegram_message: telegramMessage || null,\n      telegram_message_id: $json.message_id ?? null,\n    },\n    assertions,\n    error: ok ? null : { message: 'router assertion failed' },\n  },\n}];"
      },
      "position": [
        1792,
        160
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1",
    "timeSavedMode": "fixed"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
