src/n8n/workflows/02-telegram-capture__EWyb1cTmqDlKY2pIyqULN.json
{
  "active": true,
  "activeVersionId": "e701a3cc-8ac5-462f-9996-4e5101f84575",
  "connections": {
    "Call '06 Web Extraction'": {
      "main": [
        [
          {
            "node": "Assert Web Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tier-1 Enhancement'": {
      "main": [
        [
          {
            "node": "Assert Tier1 Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Message": {
      "main": [
        [
          {
            "node": "Assert Format Create Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Duplicate Message": {
      "main": [
        [
          {
            "node": "Assert Format Duplicate Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Thought Saved Message": {
      "main": [
        [
          {
            "node": "Assert Format Thought Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has URL": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call '06 Web Extraction'",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Format Thought Saved Message",
            "type": "main"
          }
        ]
      ]
    },
    "If 'skipped'": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Duplicate Message",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "IF Has URL",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Normalize Telegram",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Insert": {
      "main": [
        [
          {
            "node": "Assert Insert Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PKM Normalize Telegram": {
      "main": [
        [
          {
            "node": "Assert Normalize Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    },
    "Assert Normalize Telegram": {
      "main": [
        [
          {
            "node": "PKM Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assert Insert Telegram": {
      "main": [
        [
          {
            "node": "If 'skipped'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assert Web Extraction": {
      "main": [
        [
          {
            "node": "Call 'Tier-1 Enhancement'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assert Tier1 Telegram": {
      "main": [
        [
          {
            "node": "Create Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assert Format Create Message": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assert Format Duplicate Message": {
      "main": [
        [
          {
            "node": "Send 'duplicate' message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assert Format Thought Message": {
      "main": [
        [
          {
            "node": "Send 'thought saved' message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Finalize Telegram Capture Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send 'duplicate' message": {
      "main": [
        [
          {
            "node": "Finalize Telegram Capture Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send 'thought saved' message": {
      "main": [
        [
          {
            "node": "Finalize Telegram Capture Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-13T04:28:47.800Z",
  "description": null,
  "isArchived": false,
  "name": "02 Telegram Capture",
  "nodes": [
    {
      "id": "0ff69fb7-2f88-4864-8ccd-385134a83376",
      "name": "IF Has URL",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "144dac2d-e0d8-46f4-bd49-34d9ef783406",
              "leftValue": "={{ !!$json.url }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": "true"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "position": [
        16,
        -416
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "id": "e7474a77-f17b-4f8f-bbe1-632804bd2e69",
      "name": "Create Message",
      "parameters": {
        "jsCode": "try{const fn=require('/data/src/n8n/nodes/02-telegram-capture/create-message__e7474a77-f17b-4f8f-bbe1-632804bd2e69.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:02-telegram-capture/create-message__e7474a77-f17b-4f8f-bbe1-632804bd2e69.js] ${e.message}`;throw e;}"
      },
      "position": [
        688,
        -512
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d0582139-b901-43a2-8fb9-b3c30be2b698",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -1104,
        -416
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "disabled": true,
      "id": "613e4f79-31d5-4a3b-9266-ccf4d3cecb0f",
      "name": "Telegram Trigger",
      "parameters": {
        "additionalFields": {
          "chatIds": "1509032341"
        },
        "updates": [
          "message"
        ]
      },
      "position": [
        -1104,
        -608
      ],
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "webhookId": "a111da0e-d82b-4eac-9ca8-ddd49cc09794"
    },
    {
      "id": "ec9b2bd3-c07c-47c2-b9ef-a050f71de4dc",
      "name": "PKM Config",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "98 Config",
          "cachedResultUrl": "/workflow/Ue-cGR6_WP4Fe5C19tA28",
          "mode": "list",
          "value": "Ue-cGR6_WP4Fe5C19tA28"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -880,
        -512
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "16932292-79d1-4e14-a64e-3b84fce41bd5",
      "name": "Call 'Tier-1 Enhancement'",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "04 Tier-1 Enrichment",
          "cachedResultUrl": "/workflow/WFB4SDkDPDPIphppIn3l7",
          "mode": "list",
          "value": "WFB4SDkDPDPIphppIn3l7"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        464,
        -512
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "2c78cab4-52de-430e-90e4-6f46f5fe340c",
      "name": "PKM Insert",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify({\n  source: \"telegram\",\n  intent: $json.intent,\n  content_type: $json.content_type,\n  title: null,\n  author: null,\n  capture_text: $json.capture_text,\n  clean_text: $json.clean_text,\n  url: $json.url ?? null,\n  url_canonical: $json.url_canonical ?? null,\n\n  topic_primary: null,\n  topic_primary_confidence: null,\n  topic_secondary: null,\n  topic_secondary_confidence: null,\n  gist: null,\n\n  idempotency_policy_key: $json.idempotency_policy_key,\n  idempotency_key_primary: $json.idempotency_key_primary,\n  idempotency_key_secondary: $json.idempotency_key_secondary, \n\n  // nested JSON stays nested\n  metadata: $json.metadata_patch ?? ($json.retrieval ? { retrieval: $json.retrieval } : null),\n\n  retrieval_excerpt: $json.retrieval?.excerpt ?? null,\n  retrieval_version: $json.retrieval?.version ?? null,\n  source_domain: $json.retrieval?.source_domain ?? null,\n\n  clean_word_count: $json.retrieval?.quality?.clean_word_count ?? null,\n  clean_char_count: $json.retrieval?.quality?.clean_char_count ?? null,\n  extracted_char_count: $json.retrieval?.quality?.extracted_char_count ?? null,\n  link_count: $json.retrieval?.quality?.link_count ?? null,\n  link_ratio: $json.retrieval?.quality?.link_ratio ?? null,\n  boilerplate_heavy: $json.retrieval?.quality?.boilerplate_heavy ?? null,\n  low_signal: $json.retrieval?.quality?.low_signal ?? null,\n  extraction_incomplete: $json.retrieval?.quality?.extraction_incomplete ?? null,\n  quality_score: $json.retrieval?.quality?.quality_score ?? null,\n\n  returning: [\n    \"entry_id\",\"id\",\"created_at\",\"source\",\"intent\",\"content_type\",\"title\",\"author\",\"url\",\"url_canonical\",\"capture_text\",\"COALESCE(char_length(capture_text), 0) AS text_len\"\n  ]\n}) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/insert"
      },
      "position": [
        -432,
        -512
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "77be5c05-f9f1-4190-a2ac-d80f08258a62",
      "name": "PKM Normalize Telegram",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ text: $json.raw_text || ($json.message && ($json.message.text || $json.message.caption)) || '', source: { chat_id: $json.telegram_chat_id || ($json.message && $json.message.chat && $json.message.chat.id) || null, message_id: $json.telegram_message_id || ($json.message && $json.message.message_id) || null, user_id: $json.telegram_user_id || ($json.message && $json.message.from && $json.message.from.id) || null } }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/normalize/telegram"
      },
      "position": [
        -656,
        -512
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "b4304d3d-7f0b-49ea-8359-adad233cc41a",
      "name": "Send a text message1",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2",
          "disable_notification": "={{ $json.smoke_telegram_dry_run === true }}"
        },
        "chatId": "={{ (($json.message && $json.message.chat && $json.message.chat.id) || $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID) }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        912,
        -512
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "id": "b732ea00-d46e-4161-91de-4a897856c1f7",
      "name": "Call '06 Web Extraction'",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "06 Web Extraction",
          "cachedResultUrl": "/workflow/eYF7ivDiFwDYgi-pFRbpg",
          "mode": "list",
          "value": "eYF7ivDiFwDYgi-pFRbpg"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        240,
        -512
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "93631cd4-04c8-40c0-abe8-aff3cebac861",
      "name": "If 'skipped'",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "8a66c028-b1b9-4671-8657-f12359d1f942",
              "leftValue": "={{ $json.action }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "skipped"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        -208,
        -512
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "a2b2fc7b-ce86-496d-90d1-b5c2b725d356",
      "name": "Send 'duplicate' message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2",
          "disable_notification": "={{ $json.smoke_telegram_dry_run === true }}"
        },
        "chatId": "={{ (($json.message && $json.message.chat && $json.message.chat.id) || $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID) }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        16,
        -608
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "725ddc72-d79c-4041-8931-5a9a84489694",
      "name": "Send 'thought saved' message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2",
          "disable_notification": "={{ $json.smoke_telegram_dry_run === true }}"
        },
        "chatId": "={{ (($json.message && $json.message.chat && $json.message.chat.id) || $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID) }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        240,
        -320
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "id": "c3f2f6d4-4e0a-4d9d-9d3d-51d0e9c77a21",
      "name": "Format Duplicate Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2Message } = require('/data/src/libs/telegram-markdown.js');\nconst entryId = String($json.entry_id ?? 'unknown').trim() || 'unknown';\nreturn [{ json: { ...$json, telegram_message: mdv2Message('Duplicate entry ' + entryId + ' processing stopped') } }];\n"
      },
      "position": [
        -96,
        -608
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "42a2c7f4-b0fb-4b18-8f1e-8b9f1d3bcb6a",
      "name": "Format Thought Saved Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2Message } = require('/data/src/libs/telegram-markdown.js');\nconst entryId = String($json.entry_id ?? 'unknown').trim() || 'unknown';\nconst action = String($json.action ?? 'inserted').trim() || 'inserted';\nconst text = 'Thought saved as entry ' + entryId + ' operation ' + action;\nreturn [{ json: { ...$json, telegram_message: mdv2Message(text) } }];\n"
      },
      "position": [
        128,
        -320
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "2951ec5e-03c5-4d1c-b028-a78d9a484e6a",
      "name": "Assert Normalize Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -512
      ],
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nassertions.push({ name: 'normalize_ok', ok: !!$json.intent && !!$json.content_type && !!$json.capture_text });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      }
    },
    {
      "id": "a0c77ec1-f2ba-4b55-b4f9-f91c238dc067",
      "name": "Assert Insert Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -512
      ],
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst action = String($json.action || '').trim();\nconst actionOk = action === 'inserted' || action === 'updated' || action === 'skipped';\nconst entryIdOk = action === 'skipped' ? true : !!$json.entry_id;\nassertions.push({ name: 'insert_action_valid', ok: actionOk, action });\nassertions.push({ name: 'entry_id_present', ok: entryIdOk, entry_id: $json.entry_id ?? null });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      }
    },
    {
      "id": "76ec27b0-b519-4af1-9f33-6b83e94e42fa",
      "name": "Assert Web Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -512
      ],
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst hasUrl = !!($json.url || $json.url_canonical);\nconst ok = !hasUrl || !!($json.clean_text || $json.extracted_text || $json.capture_text);\nassertions.push({ name: 'web_extraction_path_ok', ok, has_url: hasUrl });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      }
    },
    {
      "id": "8a1d8f71-80e9-4ab5-a5e0-d6426aa26ecc",
      "name": "Assert Tier1 Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -512
      ],
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst ok = !$json.error;\nassertions.push({ name: 'tier1_ok', ok });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      }
    },
    {
      "id": "5f35ead7-60be-4a81-ab17-0dc2730b06be",
      "name": "Assert Format Create Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -512
      ],
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst msg = String($json.telegram_message || '');\nassertions.push({ name: 'format_message_non_empty', ok: msg.length > 0 });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      }
    },
    {
      "id": "1a214f79-4447-42d6-b359-d6dfca0b900d",
      "name": "Assert Format Duplicate Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -608
      ],
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst msg = String($json.telegram_message || '');\nassertions.push({ name: 'format_duplicate_non_empty', ok: msg.length > 0 });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      }
    },
    {
      "id": "f957c43e-323e-4e53-8cb4-4aa4b3178d79",
      "name": "Assert Format Thought Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -320
      ],
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst msg = String($json.telegram_message || '');\nassertions.push({ name: 'format_thought_non_empty', ok: msg.length > 0 });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      }
    },
    {
      "id": "c383f185-c954-4091-bde4-4709fc0c0b9a",
      "name": "Finalize Telegram Capture Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -512
      ],
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst msg = String($json.telegram_message || '');\nassertions.push({ name: 'telegram_send_message_present', ok: msg.length > 0 });\nconst telegramMessageId = $json.message_id ?? ($json.result && $json.result.message_id) ?? null;\nif (telegramMessageId != null) {\n  assertions.push({ name: 'telegram_message_id_present', ok: true });\n}\nconst ok = assertions.every((a) => a.ok === true);\nreturn [{\n  json: {\n    ...$json,\n    test_case: 'telegram_capture',\n    ok,\n    run_id: $json.test_run_id || null,\n    artifacts: {\n      entry_id: $json.entry_id ?? null,\n      action: $json.action ?? null,\n      telegram_message: msg || null,\n      telegram_message_id: telegramMessageId,\n    },\n    assertions,\n    error: ok ? null : { message: 'telegram capture assertions failed' },\n  },\n}];"
      }
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1",
    "timeSavedMode": "fixed"
  },
  "shared": [
    {
      "createdAt": "2026-01-13T04:28:47.800Z",
      "project": {
        "createdAt": "2026-01-12T01:58:24.486Z",
        "creatorId": "d87e0db9-0ac0-46ea-9218-1eb181231d8f",
        "description": null,
        "icon": null,
        "id": "m23P41JejIbnV7Xa",
        "name": "Igor Gasovic <skljstore@gmail.com>",
        "type": "personal",
        "updatedAt": "2026-01-12T04:27:38.916Z"
      },
      "projectId": "m23P41JejIbnV7Xa",
      "role": "workflow:owner",
      "updatedAt": "2026-01-13T04:28:47.800Z",
      "workflowId": "EWyb1cTmqDlKY2pIyqULN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-13T23:00:33.134Z",
  "versionCounter": 352
}
