src/n8n/workflows/02-telegram-capture__EWyb1cTmqDlKY2pIyqULN.json
{
  "active": true,
  "connections": {
    "Assert Format Create Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message1",
            "type": "main"
          }
        ]
      ]
    },
    "Assert Format Duplicate Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send 'duplicate' message",
            "type": "main"
          }
        ]
      ]
    },
    "Assert Format Thought Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send 'thought saved' message",
            "type": "main"
          }
        ]
      ]
    },
    "Assert Insert Telegram": {
      "main": [
        [
          {
            "index": 0,
            "node": "If 'skipped'",
            "type": "main"
          }
        ]
      ]
    },
    "Assert Normalize Telegram": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Insert",
            "type": "main"
          }
        ]
      ]
    },
    "Assert Tier1 Telegram": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Message",
            "type": "main"
          }
        ]
      ]
    },
    "Assert Web Extraction": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call 'Tier-1 Enhancement'",
            "type": "main"
          }
        ]
      ]
    },
    "Call '06 Web Extraction'": {
      "main": [
        [
          {
            "index": 0,
            "node": "Assert Web Extraction",
            "type": "main"
          }
        ]
      ]
    },
    "Call 'Tier-1 Enhancement'": {
      "main": [
        [
          {
            "index": 0,
            "node": "Assert Tier1 Telegram",
            "type": "main"
          }
        ]
      ]
    },
    "Create Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Assert Format Create Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format Duplicate Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Assert Format Duplicate Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format Thought Saved Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Assert Format Thought Message",
            "type": "main"
          }
        ]
      ]
    },
    "IF Has URL": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call '06 Web Extraction'",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Format Thought Saved Message",
            "type": "main"
          }
        ]
      ]
    },
    "If 'skipped'": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Duplicate Message",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "IF Has URL",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "Route Telegram Capture Mode",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Insert": {
      "main": [
        [
          {
            "index": 0,
            "node": "Assert Insert Telegram",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Normalize Telegram": {
      "main": [
        [
          {
            "index": 0,
            "node": "Assert Normalize Telegram",
            "type": "main"
          }
        ]
      ]
    },
    "Send 'duplicate' message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Finalize Telegram Capture Result",
            "type": "main"
          }
        ]
      ]
    },
    "Send 'thought saved' message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Finalize Telegram Capture Result",
            "type": "main"
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Finalize Telegram Capture Result",
            "type": "main"
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    },
    "Route Telegram Capture Mode": {
      "main": [
        [
          {
            "index": 0,
            "node": "IF Invalid Mixed",
            "type": "main"
          }
        ]
      ]
    },
    "IF Invalid Mixed": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Mixed Input Message",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "IF URL Mode",
            "type": "main"
          }
        ]
      ]
    },
    "IF URL Mode": {
      "main": [
        [
          {
            "index": 0,
            "node": "IF URL Bulk",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Normalize Telegram",
            "type": "main"
          }
        ]
      ]
    },
    "IF URL Bulk": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Ingest Telegram URL Batch",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Normalize Telegram",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Ingest Telegram URL Batch": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format URL Batch Summary Message",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Build URL Batch Extraction Items",
            "type": "main"
          }
        ]
      ]
    },
    "Build URL Batch Extraction Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call '06 Web Extraction' (Bulk URLs)",
            "type": "main"
          }
        ]
      ]
    },
    "Call '06 Web Extraction' (Bulk URLs)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format URL Batch Extraction Summary Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format URL Batch Summary Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message1",
            "type": "main"
          }
        ]
      ]
    },
    "Format URL Batch Extraction Summary Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message1",
            "type": "main"
          }
        ]
      ]
    },
    "Format Mixed Input Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message1",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "02 Telegram Capture",
  "nodes": [
    {
      "id": "0ff69fb7-2f88-4864-8ccd-385134a83376",
      "name": "IF Has URL",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "144dac2d-e0d8-46f4-bd49-34d9ef783406",
              "leftValue": "={{ !!$json.url }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": "true"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "position": [
        464,
        -320
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "id": "e7474a77-f17b-4f8f-bbe1-632804bd2e69",
      "name": "Create Message",
      "parameters": {
        "jsCode": "try{const {wf02CreateMessage}=require('@igasovic/n8n-blocks');return await wf02CreateMessage({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:02-telegram-capture/create-message__e7474a77-f17b-4f8f-bbe1-632804bd2e69.js] ${e.message}`;throw e;}"
      },
      "position": [
        1584,
        -416
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d0582139-b901-43a2-8fb9-b3c30be2b698",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -1104,
        -320
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "disabled": true,
      "id": "613e4f79-31d5-4a3b-9266-ccf4d3cecb0f",
      "name": "Telegram Trigger",
      "parameters": {
        "additionalFields": {
          "chatIds": "1509032341"
        },
        "updates": [
          "message"
        ]
      },
      "position": [
        -1104,
        -512
      ],
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "webhookId": "a111da0e-d82b-4eac-9ca8-ddd49cc09794"
    },
    {
      "id": "ec9b2bd3-c07c-47c2-b9ef-a050f71de4dc",
      "name": "PKM Config",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "98 Config",
          "cachedResultUrl": "/workflow/Ue-cGR6_WP4Fe5C19tA28",
          "mode": "list",
          "value": "Ue-cGR6_WP4Fe5C19tA28"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -880,
        -416
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "16932292-79d1-4e14-a64e-3b84fce41bd5",
      "name": "Call 'Tier-1 Enhancement'",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "04 Tier-1 Enrichment",
          "cachedResultUrl": "/workflow/WFB4SDkDPDPIphppIn3l7",
          "mode": "list",
          "value": "WFB4SDkDPDPIphppIn3l7"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        1136,
        -416
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "2c78cab4-52de-430e-90e4-6f46f5fe340c",
      "name": "PKM Insert",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify({\n  source: \"telegram\",\n  intent: $json.intent,\n  content_type: $json.content_type,\n  title: null,\n  author: null,\n  capture_text: $json.capture_text,\n  clean_text: $json.clean_text,\n  url: $json.url ?? null,\n  url_canonical: $json.url_canonical ?? null,\n\n  topic_primary: null,\n  topic_primary_confidence: null,\n  topic_secondary: null,\n  topic_secondary_confidence: null,\n  gist: null,\n\n  idempotency_policy_key: $json.idempotency_policy_key,\n  idempotency_key_primary: $json.idempotency_key_primary,\n  idempotency_key_secondary: $json.idempotency_key_secondary, \n\n  // nested JSON stays nested\n  metadata: (() => {\n    const baseMeta = $json.metadata_patch ?? ($json.retrieval ? { retrieval: $json.retrieval } : null);\n    const smokeRunId = String($json.test_run_id || '').trim();\n    if ($json.smoke_mode === true && smokeRunId) {\n      return { ...(baseMeta || {}), smoke: { suite: 'T00', run_id: smokeRunId } };\n    }\n    return baseMeta;\n  })(),\n\n  retrieval_excerpt: $json.retrieval?.excerpt ?? null,\n  retrieval_version: $json.retrieval?.version ?? null,\n  source_domain: $json.retrieval?.source_domain ?? null,\n\n  clean_word_count: $json.retrieval?.quality?.clean_word_count ?? null,\n  clean_char_count: $json.retrieval?.quality?.clean_char_count ?? null,\n  extracted_char_count: $json.retrieval?.quality?.extracted_char_count ?? null,\n  link_count: $json.retrieval?.quality?.link_count ?? null,\n  link_ratio: $json.retrieval?.quality?.link_ratio ?? null,\n  boilerplate_heavy: $json.retrieval?.quality?.boilerplate_heavy ?? null,\n  low_signal: $json.retrieval?.quality?.low_signal ?? null,\n  extraction_incomplete: $json.retrieval?.quality?.extraction_incomplete ?? null,\n  quality_score: $json.retrieval?.quality?.quality_score ?? null,\n\n  returning: [\n    \"entry_id\",\"id\",\"created_at\",\"source\",\"intent\",\"content_type\",\"title\",\"author\",\"url\",\"url_canonical\",\"capture_text\",\"COALESCE(char_length(capture_text), 0) AS text_len\"\n  ]\n}) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/insert"
      },
      "position": [
        -208,
        -416
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "77be5c05-f9f1-4190-a2ac-d80f08258a62",
      "name": "PKM Normalize Telegram",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ text: $json.raw_text || ($json.message && ($json.message.text || $json.message.caption)) || '', source: { chat_id: $json.telegram_chat_id || ($json.message && $json.message.chat && $json.message.chat.id) || null, message_id: $json.telegram_message_id || ($json.message && $json.message.message_id) || null, user_id: $json.telegram_user_id || ($json.message && $json.message.from && $json.message.from.id) || null } }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/normalize/telegram"
      },
      "position": [
        -656,
        -416
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "b4304d3d-7f0b-49ea-8359-adad233cc41a",
      "name": "Send a text message1",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": "={{ $json.smoke_telegram_dry_run === true }}",
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ (($json.message && $json.message.chat && $json.message.chat.id) || $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID) }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        2032,
        -416
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "id": "b732ea00-d46e-4161-91de-4a897856c1f7",
      "name": "Call '06 Web Extraction'",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "06 Web Extraction",
          "cachedResultUrl": "/workflow/eYF7ivDiFwDYgi-pFRbpg",
          "mode": "list",
          "value": "eYF7ivDiFwDYgi-pFRbpg"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        688,
        -416
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "93631cd4-04c8-40c0-abe8-aff3cebac861",
      "name": "If 'skipped'",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "8a66c028-b1b9-4671-8657-f12359d1f942",
              "leftValue": "={{ $json.action }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "skipped"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        240,
        -416
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "a2b2fc7b-ce86-496d-90d1-b5c2b725d356",
      "name": "Send 'duplicate' message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": "={{ $json.smoke_telegram_dry_run === true }}",
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ (($json.message && $json.message.chat && $json.message.chat.id) || $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID) }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        2032,
        -608
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "725ddc72-d79c-4041-8931-5a9a84489694",
      "name": "Send 'thought saved' message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": "={{ $json.smoke_telegram_dry_run === true }}",
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ (($json.message && $json.message.chat && $json.message.chat.id) || $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID) }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        2032,
        -224
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "id": "c3f2f6d4-4e0a-4d9d-9d3d-51d0e9c77a21",
      "name": "Format Duplicate Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2Message } = require('@igasovic/n8n-blocks/shared/telegram-markdown.js');\n  const entryId = String($json.entry_id ?? 'unknown').trim() || 'unknown';\n  return [{ json: { ...$json, telegram_message: mdv2Message('Duplicate telegram entry ' + entryId + ' processing stopped') } }];\n"
      },
      "position": [
        1584,
        -608
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "42a2c7f4-b0fb-4b18-8f1e-8b9f1d3bcb6a",
      "name": "Format Thought Saved Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2Message } = require('@igasovic/n8n-blocks/shared/telegram-markdown.js');\n  const entryId = String($json.entry_id ?? 'unknown').trim() || 'unknown';\n  const action = String($json.action ?? 'inserted').trim() || 'inserted';\n  const text = 'Thought saved as entry ' + entryId + ' operation ' + action;\n  return [{ json: { ...$json, telegram_message: mdv2Message(text) } }];\n"
      },
      "position": [
        1584,
        -224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "2951ec5e-03c5-4d1c-b028-a78d9a484e6a",
      "name": "Assert Normalize Telegram",
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nassertions.push({ name: 'normalize_ok', ok: !!$json.intent && !!$json.content_type && !!$json.capture_text });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      },
      "position": [
        -432,
        -416
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "a0c77ec1-f2ba-4b55-b4f9-f91c238dc067",
      "name": "Assert Insert Telegram",
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst action = String($json.action || '').trim();\nconst actionOk = action === 'inserted' || action === 'updated' || action === 'skipped';\nconst entryIdOk = action === 'skipped' ? true : !!$json.entry_id;\nassertions.push({ name: 'insert_action_valid', ok: actionOk, action });\nassertions.push({ name: 'entry_id_present', ok: entryIdOk, entry_id: $json.entry_id ?? null });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      },
      "position": [
        16,
        -416
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "76ec27b0-b519-4af1-9f33-6b83e94e42fa",
      "name": "Assert Web Extraction",
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst hasUrl = !!($json.url || $json.url_canonical);\nconst ok = !hasUrl || !!($json.clean_text || $json.extracted_text || $json.capture_text);\nassertions.push({ name: 'web_extraction_path_ok', ok, has_url: hasUrl });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      },
      "position": [
        912,
        -416
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "8a1d8f71-80e9-4ab5-a5e0-d6426aa26ecc",
      "name": "Assert Tier1 Telegram",
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst ok = !$json.error;\nassertions.push({ name: 'tier1_ok', ok });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      },
      "position": [
        1360,
        -416
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "5f35ead7-60be-4a81-ab17-0dc2730b06be",
      "name": "Assert Format Create Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst msg = String($json.telegram_message || '');\nassertions.push({ name: 'format_message_non_empty', ok: msg.length > 0 });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      },
      "position": [
        1808,
        -416
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "1a214f79-4447-42d6-b359-d6dfca0b900d",
      "name": "Assert Format Duplicate Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst msg = String($json.telegram_message || '');\nassertions.push({ name: 'format_duplicate_non_empty', ok: msg.length > 0 });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      },
      "position": [
        1808,
        -608
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f957c43e-323e-4e53-8cb4-4aa4b3178d79",
      "name": "Assert Format Thought Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst msg = String($json.telegram_message || '');\nassertions.push({ name: 'format_thought_non_empty', ok: msg.length > 0 });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      },
      "position": [
        1808,
        -224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "c383f185-c954-4091-bde4-4709fc0c0b9a",
      "name": "Finalize Telegram Capture Result",
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst msg = String($json.telegram_message || '');\nassertions.push({ name: 'telegram_send_message_present', ok: msg.length > 0 });\nconst telegramMessageId = $json.message_id ?? ($json.result && $json.result.message_id) ?? null;\nif (telegramMessageId != null) {\n  assertions.push({ name: 'telegram_message_id_present', ok: true });\n}\nconst ok = assertions.every((a) => a.ok === true);\nreturn [{\n  json: {\n    ...$json,\n    test_case: 'telegram_capture',\n    ok,\n    run_id: $json.test_run_id || null,\n    artifacts: {\n      entry_id: $json.entry_id ?? null,\n      action: $json.action ?? null,\n      telegram_message: msg || null,\n      telegram_message_id: telegramMessageId,\n    },\n    assertions,\n    error: ok ? null : { message: 'telegram capture assertions failed' },\n  },\n}];"
      },
      "position": [
        2256,
        -416
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "54d6fd6b-5f26-4a56-a90d-4cdfa41cd0d5",
      "name": "Route Telegram Capture Mode",
      "parameters": {
        "jsCode": "'use strict';\n\nconst text = String($json.raw_text || ($json.message && ($json.message.text || $json.message.caption)) || '').trim();\nconst URL_RE = /(https?:\\/\\/[^\\s<>()]+|www\\.[^\\s<>()]+)/ig;\nconst matches = text.match(URL_RE) || [];\nconst urls = matches.map((u) => {\n  let v = String(u || '').trim();\n  while (/[)\\],.?!:;\"'»]+$/.test(v)) v = v.replace(/[)\\],.?!:;\"'»]+$/, '');\n  if (/^www\\./i.test(v)) v = `https://${v}`;\n  return v;\n}).filter(Boolean);\n\nconst residue = text\n  .replace(URL_RE, ' ')\n  .replace(/[\\s,;|\\u2022()\\[\\]{}<>0-9.\\-_:]+/g, '')\n  .trim();\n\nlet mode = 'thought';\nlet mode_error = null;\nif (urls.length > 0) {\n  if (residue.length > 0) {\n    mode = 'invalid_mixed';\n    mode_error = 'mixed_telegram_capture_not_supported';\n  } else {\n    mode = 'url';\n  }\n}\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nassertions.push({ name: 'telegram_mode_routed', ok: true, mode, url_count: urls.length });\n\nreturn [{\n  json: {\n    ...$json,\n    raw_text: text,\n    telegram_capture_mode: mode,\n    telegram_url_count: urls.length,\n    telegram_urls: urls,\n    telegram_mode_error: mode_error,\n    smoke_assertions: assertions,\n  },\n}];"
      },
      "position": [
        -880,
        -224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "3067f8a3-2250-4f40-aa59-74a96366d00f",
      "name": "IF Invalid Mixed",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "f96b00b3-a2d7-4fe7-8f3b-a05875a4a806",
              "leftValue": "={{ $json.telegram_capture_mode }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "invalid_mixed"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        -656,
        -224
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "a4aa5fa1-4967-4914-b862-9fe9136f9af6",
      "name": "IF URL Mode",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "0f554996-1f73-4ac8-aa1f-b8b8dfdd79f7",
              "leftValue": "={{ $json.telegram_capture_mode }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "url"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        -432,
        -224
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "cdb2bb3f-7f9a-4759-8651-d4e7c2d95a1a",
      "name": "IF URL Bulk",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "2122da09-7d82-4f50-a90e-ddad9faf8eb3",
              "leftValue": "={{ Number($json.telegram_url_count || 0) > 1 }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": "true"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "position": [
        -208,
        -224
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "id": "8d6864d4-4688-45df-9824-1543532a9129",
      "name": "PKM Ingest Telegram URL Batch",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ text: $json.raw_text || '', source: { chat_id: $json.telegram_chat_id || ($json.message && $json.message.chat && $json.message.chat.id) || null, message_id: $json.telegram_message_id || ($json.message && $json.message.message_id) || null, user_id: $json.telegram_user_id || ($json.message && $json.message.from && $json.message.from.id) || null }, continue_on_error: true, smoke_mode: $json.smoke_mode === true, test_run_id: $json.test_run_id || null }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/ingest/telegram/url-batch"
      },
      "position": [
        16,
        -96
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "9516d3ef-c3cc-4e63-b5e2-53871ea8e94e",
      "name": "Build URL Batch Extraction Items",
      "parameters": {
        "jsCode": "'use strict';\n\nconst results = Array.isArray($json.results) ? $json.results : [];\nconst base = { ...$json };\n\nreturn results\n  .filter((r) => {\n    const action = String((r && r.action) || '');\n    const ok = r && r.ok === true;\n    const hasId = !!(r && r.id);\n    const hasUrl = !!(r && (r.url || r.url_canonical));\n    return ok && (action === 'inserted' || action === 'updated') && hasId && hasUrl;\n  })\n  .map((r) => ({\n    json: {\n      ...base,\n      id: r.id,\n      entry_id: r.entry_id ?? null,\n      url: r.url || r.url_canonical || null,\n      url_canonical: r.url_canonical || r.url || null,\n      content_type: 'newsletter',\n      bulk_web_extraction: true,\n    },\n  }));"
      },
      "position": [
        240,
        -96
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "45bcfef9-a85d-43d8-9683-8dd2c06f5e8f",
      "name": "Call '06 Web Extraction' (Bulk URLs)",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "06 Web Extraction",
          "cachedResultUrl": "/workflow/eYF7ivDiFwDYgi-pFRbpg",
          "mode": "list",
          "value": "eYF7ivDiFwDYgi-pFRbpg"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        464,
        -96
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "743ea7c4-a8e6-4290-b7ee-e352e065994a",
      "name": "Format URL Batch Summary Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2Message } = require('@igasovic/n8n-blocks/shared/telegram-markdown.js');\n\nconst total = Number($json.url_count || 0);\nconst inserted = Number($json.inserted_count || 0);\nconst updated = Number($json.updated_count || 0);\nconst skipped = Number($json.skipped_count || 0);\nconst failed = Number($json.failed_count || 0);\nconst results = Array.isArray($json.results) ? $json.results : [];\n\nconst successEntries = results\n  .filter((r) => r && r.ok === true && (r.action === 'inserted' || r.action === 'updated') && r.entry_id != null)\n  .map((r) => String(r.entry_id));\nconst failedRows = results.filter((r) => r && (r.ok === false || r.action === 'failed'));\n\nconst lines = [\n  `URL batch processed: ${total}`,\n  `Inserted: ${inserted} Updated: ${updated} Skipped: ${skipped} Failed: ${failed}`,\n];\n\nif (successEntries.length > 0) {\n  lines.push(`Entry IDs: ${successEntries.slice(0, 20).join(', ')}`);\n}\n\nif (failedRows.length > 0) {\n  const errs = failedRows\n    .slice(0, 5)\n    .map((r) => `#${Number(r.batch_index) + 1}: ${String(r.error || 'failed')}`)\n    .join(' | ');\n  lines.push(`Errors: ${errs}`);\n}\n\nreturn [{ json: { ...$json, telegram_message: mdv2Message(lines.join('\\n')) } }];"
      },
      "position": [
        1584,
        -96
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f2b8fbbf-5dd6-4bc4-8468-f08409d1719d",
      "name": "Format URL Batch Extraction Summary Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2Message } = require('@igasovic/n8n-blocks/shared/telegram-markdown.js');\n\nconst items = $input.all().map((i) => i.json || {});\nif (!items.length) return [];\n\nconst base = items[0];\nconst total = Number(base.url_count || 0);\nconst inserted = Number(base.inserted_count || 0);\nconst updated = Number(base.updated_count || 0);\nconst skipped = Number(base.skipped_count || 0);\nconst failed = Number(base.failed_count || 0);\n\nconst extractionSuccess = items.filter((i) => i && i.id).length;\nconst attempted = inserted + updated;\nconst extractionFailed = Math.max(0, attempted - extractionSuccess);\n\nconst lines = [\n  `URL batch processed: ${total}`,\n  `Inserted: ${inserted} Updated: ${updated} Skipped: ${skipped} Failed: ${failed}`,\n  `Extraction attempted: ${attempted} Succeeded: ${extractionSuccess} Failed: ${extractionFailed}`,\n];\n\nconst entryIds = items\n  .map((i) => i.entry_id)\n  .filter((v) => v != null)\n  .map((v) => String(v));\nif (entryIds.length > 0) {\n  lines.push(`Extracted entry IDs: ${entryIds.slice(0, 20).join(', ')}`);\n}\n\nreturn [{ json: { ...base, telegram_message: mdv2Message(lines.join('\\n')) } }];"
      },
      "position": [
        1584,
        32
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "77065187-f4fe-475b-8e23-7447283a14ca",
      "name": "Format Mixed Input Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2Message } = require('@igasovic/n8n-blocks/shared/telegram-markdown.js');\nconst text = 'Mixed text and URL list is not supported\\nSend either a thought message, or a URL-only comma/newline list';\nreturn [{ json: { ...$json, telegram_message: mdv2Message(text) } }];"
      },
      "position": [
        1584,
        160
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1",
    "timeSavedMode": "fixed"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
