src/n8n/workflows/03-e-mail-capture__D7ZqryewKY23am6l.json
{
  "active": true,
  "connections": {
    "Assert Format Email Duplicate": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send 'duplicate' message",
            "type": "main"
          }
        ]
      ]
    },
    "Assert Format Email Reply": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message",
            "type": "main"
          }
        ]
      ]
    },
    "Assert Insert Email": {
      "main": [
        [
          {
            "index": 0,
            "node": "If 'skipped'",
            "type": "main"
          }
        ]
      ]
    },
    "Assert Normalize Email": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Insert",
            "type": "main"
          }
        ]
      ]
    },
    "Assert Tier1 Email": {
      "main": [
        [
          {
            "index": 0,
            "node": "Compose Reply Text",
            "type": "main"
          }
        ]
      ]
    },
    "Call 'Tier-1 Enhancement'": {
      "main": [
        [
          {
            "index": 0,
            "node": "Assert Tier1 Email",
            "type": "main"
          }
        ]
      ]
    },
    "Compose Reply Text": {
      "main": [
        [
          {
            "index": 0,
            "node": "Assert Format Email Reply",
            "type": "main"
          }
        ]
      ]
    },
    "Email Trigger (IMAP)1": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    },
    "Format Duplicate Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Assert Format Email Duplicate",
            "type": "main"
          }
        ]
      ]
    },
    "If 'skipped'": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Duplicate Message",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Call 'Tier-1 Enhancement'",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Normalize E-Mail",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Insert": {
      "main": [
        [
          {
            "index": 0,
            "node": "Assert Insert Email",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Normalize E-Mail": {
      "main": [
        [
          {
            "index": 0,
            "node": "Assert Normalize Email",
            "type": "main"
          }
        ]
      ]
    },
    "Send 'duplicate' message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Finalize Email Capture Result",
            "type": "main"
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Finalize Email Capture Result",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "03 E-Mail Capture",
  "nodes": [
    {
      "credentials": {
        "imap": {
          "id": "3oE0cH2d8fpvD7IC",
          "name": "Google (pkm.gasovic)"
        }
      },
      "id": "eb003274-ba9f-420a-96da-2d5092842039",
      "name": "Email Trigger (IMAP)1",
      "parameters": {
        "options": {
          "forceReconnect": 5,
          "trackLastMessageId": true
        }
      },
      "position": [
        -1104,
        -608
      ],
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1
    },
    {
      "id": "0ae5a1f1-fc06-445c-b460-7447a1632dba",
      "name": "Compose Reply Text",
      "parameters": {
        "jsCode": "try{const {wf03ComposeReplyText}=require('@igasovic/n8n-blocks');return await wf03ComposeReplyText({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:03-e-mail-capture/compose-reply-text__0ae5a1f1-fc06-445c-b460-7447a1632dba.js] ${e.message}`;throw e;}"
      },
      "position": [
        912,
        -416
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "ca4cd3a5-b699-45ff-b29e-10f6c352ea16",
      "name": "Send a text message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": "={{ $json.smoke_telegram_dry_run === true }}",
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ (($json.message && $json.message.chat && $json.message.chat.id) || $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID) }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        1360,
        -416
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "id": "c35eb190-fc48-4340-9c7c-c0283110bf8b",
      "name": "PKM Config",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "PKM — Retrieval Config",
          "cachedResultUrl": "/workflow/Ue-cGR6_WP4Fe5C19tA28",
          "mode": "list",
          "value": "Ue-cGR6_WP4Fe5C19tA28"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -880,
        -512
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "47483d22-0a6b-4d39-b23b-f8abe2c2c7b6",
      "name": "Call 'Tier-1 Enhancement'",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "Tier-1 Enhancement",
          "cachedResultUrl": "/workflow/WFB4SDkDPDPIphppIn3l7",
          "mode": "list",
          "value": "WFB4SDkDPDPIphppIn3l7"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        464,
        -416
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "38d88987-fe5a-4b83-bb5e-7078db544254",
      "name": "PKM Insert",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => {\n  const source = \"email\";\n  \n  const external_ref = $json.external_ref ?? null;\n\n  // WP1 metadata patch (same logic as your node)\n  const metadata_patch =\n    $json.metadata_patch ??\n    ($json.retrieval ? { retrieval: $json.retrieval } : null);\n\n  // WP2 promoted retrieval columns (same logic as your node)\n  const r = $json.retrieval ?? (metadata_patch?.retrieval ?? null);\n  const q = r?.quality ?? {};\n\n  const body = {\n    // core columns, force all except URLs\n    source,\n    intent: $json.intent,\n    content_type: $json.content_type,\n    title: $json.title,\n    author: $json.author,\n    capture_text: $json.capture_text,\n    clean_text: $json.clean_text,\n    url: $json.url ?? null,\n    url_canonical: $json.url_canonical ?? null,\n\n    // idempotency columns - force policy and primary key\n    idempotency_policy_key: $json.idempotency_policy_key,\n    idempotency_key_primary: $json.idempotency_key_primary,\n    idempotency_key_secondary: $json.idempotency_key_secondary ?? null,\n\n    // JSONB columns: send as objects (or null)\n    external_ref,\n    metadata: metadata_patch,\n\n    // Keep your workflow behavior (pending after insert)\n    enrichment_status: \"pending\",\n\n    // promoted retrieval columns\n    retrieval_excerpt: r?.excerpt ?? null,\n    retrieval_version: r?.version ?? null,\n    source_domain: r?.source_domain ?? null,\n\n    clean_word_count: q.clean_word_count ?? null,\n    clean_char_count: q.clean_char_count ?? null,\n    extracted_char_count: q.extracted_char_count ?? null,\n\n    link_count: q.link_count ?? null,\n    link_ratio: q.link_ratio ?? null,\n\n    boilerplate_heavy: q.boilerplate_heavy ?? null,\n    low_signal: q.low_signal ?? null,\n    extraction_incomplete: q.extraction_incomplete ?? null,\n\n    quality_score: q.quality_score ?? null,\n\n    // match your previous RETURNING\n    \n    returning: [\n      \"entry_id\",\n      \"id\",\n      \"created_at\",\n      \"source\",\n      \"intent\",\n      \"content_type\",\n      \"title\",\n      \"author\",\n      \"clean_text\",\n      \"metadata\",\n      \"COALESCE(char_length(clean_text), 0) AS clean_len\"\n    ]\n  };\n\n  return body;\n})()) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/insert"
      },
      "position": [
        -208,
        -512
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "9e48b315-63e7-4cc0-865c-d695be07369d",
      "name": "If 'skipped'",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "8a66c028-b1b9-4671-8657-f12359d1f942",
              "leftValue": "={{ $json.action }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "skipped"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        240,
        -512
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "8d7aa31a-0a2a-497c-bf5c-11ee3ebf9f4b",
      "name": "PKM Normalize E-Mail",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ raw_text: $json.textPlain || $json.raw_text || '', from: $json.from || null, subject: $json.subject || null, source: { message_id: ($json.message_id || ($json.external_ref && $json.external_ref.message_id) || null), date: ($json.date || null) } }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/normalize/email"
      },
      "position": [
        -656,
        -512
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "b7989a1a-a02d-4e89-813c-0d53effc7026",
      "name": "Send 'duplicate' message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": "={{ $json.smoke_telegram_dry_run === true }}",
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ (($json.message && $json.message.chat && $json.message.chat.id) || $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID) }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        1360,
        -608
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "id": "7ab7a2b4-4a8e-4ad8-9c58-b2c63c0a3d26",
      "name": "Format Duplicate Message",
      "parameters": {
        "jsCode": "try{const {wf03FormatDuplicateMessage}=require('@igasovic/n8n-blocks');return await wf03FormatDuplicateMessage({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:03-e-mail-capture/format-duplicate-message__7ab7a2b4-4a8e-4ad8-9c58-b2c63c0a3d26.js] ${e.message}`;throw e;}"
      },
      "position": [
        912,
        -608
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "590ec4b9-e771-4e7a-9bee-7ead689b2095",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -1104,
        -416
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "2b8c1f77-7a96-49e2-b87a-a2d9717513b5",
      "name": "Assert Normalize Email",
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst ok = !!$json.content_type && !!$json.capture_text;\nassertions.push({ name: 'normalize_email_ok', ok });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      },
      "position": [
        -432,
        -512
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "bbb486c2-c6b7-4c7e-b8e2-1f8a5a90b050",
      "name": "Assert Insert Email",
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst action = String($json.action || '').trim();\nconst actionOk = action === 'inserted' || action === 'updated' || action === 'skipped';\nconst entryIdOk = action === 'skipped' ? true : !!$json.entry_id;\nassertions.push({ name: 'insert_action_valid', ok: actionOk, action });\nassertions.push({ name: 'entry_id_present', ok: entryIdOk, entry_id: $json.entry_id ?? null });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      },
      "position": [
        16,
        -512
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d2214b37-a8d7-4c99-b085-a12509f67917",
      "name": "Assert Tier1 Email",
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nassertions.push({ name: 'tier1_ok', ok: !$json.error });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      },
      "position": [
        688,
        -416
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "2763bf0b-2606-4e1b-bc0b-db77cbd7a5ed",
      "name": "Assert Format Email Reply",
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst msg = String($json.telegram_message || '');\nassertions.push({ name: 'format_reply_non_empty', ok: msg.length > 0 });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      },
      "position": [
        1136,
        -416
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "972d3dbb-07d2-406b-bda9-d08092f5a763",
      "name": "Assert Format Email Duplicate",
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst msg = String($json.telegram_message || '');\nassertions.push({ name: 'format_duplicate_non_empty', ok: msg.length > 0 });\nreturn [{ json: { ...$json, smoke_assertions: assertions } }];"
      },
      "position": [
        1136,
        -608
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d09e7e00-035e-42c6-a9a4-fae254c8bf84",
      "name": "Finalize Email Capture Result",
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = Array.isArray($json.smoke_assertions) ? [...$json.smoke_assertions] : [];\nconst msg = String($json.telegram_message || '');\nassertions.push({ name: 'telegram_send_message_present', ok: msg.length > 0 });\nconst telegramMessageId = $json.message_id ?? ($json.result && $json.result.message_id) ?? null;\nif (telegramMessageId != null) assertions.push({ name: 'telegram_message_id_present', ok: true });\nconst ok = assertions.every((a) => a.ok === true);\nreturn [{\n  json: {\n    ...$json,\n    test_case: 'email_capture_fixture',\n    ok,\n    run_id: $json.test_run_id || null,\n    artifacts: {\n      entry_id: $json.entry_id ?? null,\n      action: $json.action ?? null,\n      telegram_message: msg || null,\n      telegram_message_id: telegramMessageId,\n    },\n    assertions,\n    error: ok ? null : { message: 'email capture assertions failed' },\n  },\n}];"
      },
      "position": [
        1584,
        -512
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1",
    "timeSavedMode": "fixed"
  },
  "staticData": {
    "node:Email Trigger (IMAP)1": {
      "lastMessageUid": 166
    }
  },
  "tags": [],
  "triggerCount": 1
}
