src/n8n/workflows/10-read__dq9Nex-IR8AToJvHksphj.json
{
  "active": true,
  "connections": {
    "Build Context Pack": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send MarkdownV2 Message",
            "type": "main"
          }
        ]
      ]
    },
    "Command Parser": {
      "main": [
        [
          {
            "index": 0,
            "node": "IF: Ignore?",
            "type": "main"
          }
        ]
      ]
    },
    "Format /help Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send MarkdownV2 Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format Distill Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send MarkdownV2 Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format Distill Run Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send MarkdownV2 Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format Recipe Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send MarkdownV2 Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format Status Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send MarkdownV2 Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send MarkdownV2 Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format delete message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send MarkdownV2 Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format move message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send MarkdownV2 Message",
            "type": "main"
          }
        ]
      ]
    },
    "IF: Ignore?": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "IF: Reply now?",
            "type": "main"
          }
        ]
      ]
    },
    "IF: Reply now?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send MarkdownV2 Message",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Switch",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "Command Parser",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Continue": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Context Pack",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Delete": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format delete message",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Distill Run": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Distill Run Message",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Distill Sync": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Distill Message",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Find": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Context Pack",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Last": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Context Pack",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Move": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format move message",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Pull": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Telegram Message",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Recipe Create": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Recipe Message",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Recipe Get": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Recipe Message",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Recipe Link": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Recipe Message",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Recipe Note": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Recipe Message",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Recipe Search": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Recipe Message",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Status - T1 Batch": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Status Message",
            "type": "main"
          }
        ]
      ]
    },
    "Send MarkdownV2 Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Read Smoke Result",
            "type": "main"
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Last",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Find",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Continue",
            "type": "main"
          }
        ],
        [],
        [
          {
            "index": 0,
            "node": "PKM Pull",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Format /help Message",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Status - T1 Batch",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Delete",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Move",
            "type": "main"
          }
        ],
        [],
        [
          {
            "index": 0,
            "node": "PKM Distill Sync",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Distill Run",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Recipe Get",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Recipe Search",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Recipe Create",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Recipe Link",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Recipe Note",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Run Todoist Waiting Radar",
            "type": "main"
          }
        ],
        [
          {
            "node": "PKM Classify Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Classify Run": {
      "main": [
        [
          {
            "node": "Format Classify Run Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Classify Run Message": {
      "main": [
        [
          {
            "node": "Send MarkdownV2 Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "10 Read",
  "nodes": [
    {
      "id": "964a4450-21a5-4ea8-a743-61a1fcf00405",
      "name": "IF: Ignore?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "629f7d0c-7892-4a16-9b60-300305220042",
              "leftValue": "={{$json._ignore === true}}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        896,
        1992
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "29c3dcb3-2789-43b1-a5d8-8690578b448e",
      "name": "IF: Reply now?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "629f7d0c-7892-4a16-9b60-300305220042",
              "leftValue": "={{$json._reply_now === true}}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        1120,
        1992
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "f8eb7c10-83c5-4cc8-8161-4281f258102f",
      "name": "Switch",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b766299f-eaee-4cbd-afb5-e3a573e3d9ec",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "last"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "last",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "86c55910-1027-409d-8ccb-b1ec51256dff",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "find"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "find",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "7fbd8a34-970a-424b-ae96-d87e6511ab4e",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "continue"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "continue",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "65f16c89-88ef-4c7e-a079-1b170c211618",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "with"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "with",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ec9cff1e-feae-4287-9578-17545f4786ed",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "pull"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "pull",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "19de7464-62fb-43f6-86ca-6a6f5c46bcda",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "help"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "help",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "bb8d0042-7794-4b75-bdaf-b32cea0a73a4",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "status"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "status",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cc0cfe47-8bb2-4c41-8941-8661f43719bf",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "delete"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "delete",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "88eea9f5-5422-46b6-a037-bbf4076140a9",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "move"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "move",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cdc49bb6-67c7-416a-9485-d5a29646b229",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "debug"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "debug",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "742c11a1-9ec7-47ef-90b8-5607bc68f9e6",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "distill"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "distill",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "9f1acfb2-2bde-4235-9f7f-4a0decd68578",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "distillrun"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "distillrun",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ee2cc1d5-2a30-4ad3-85f8-a7e41f5ca577",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "recipe_get"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "recipe_get",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "1ca16b8a-70db-4e1b-b535-46da93dbbe13",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "recipe_search"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "recipe_search",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "db5f5f7f-f130-4c3a-a2ab-20f3f8a0f4ea",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "recipe_create"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "recipe_create",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "52a8e044-3dfa-4952-a177-7ff4a6458e7a",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "recipe_link"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "recipe_link",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "9beed5bc-c2e3-4515-9275-c35960825baf",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "recipe_note"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "recipe_note",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "4dd90424-63bc-4156-9440-7042ac41ed3c",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "waiting"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "waiting",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f3a03c6f-06d0-48f8-a0b9-5d9f4f173fa8",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "classify"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "classify",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        1344,
        992
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4
    },
    {
      "id": "9943dcb4-e3fc-409f-9ae5-f9c6b9e31350",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        224,
        2088
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "926eb875-5735-4746-a0a4-7801b8db586f",
      "name": "Command Parser",
      "parameters": {
        "jsCode": "try{const {wf10CommandParser}=require('@igasovic/n8n-blocks');return await wf10CommandParser({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:10-read/command-parser__926eb875-5735-4746-a0a4-7801b8db586f.js] ${e.message}`;throw e;}"
      },
      "position": [
        672,
        1992
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f305ac84-35d3-44df-8ef5-1c0e004f37b8",
      "name": "Format Telegram Message",
      "parameters": {
        "jsCode": "try{const {wf10FormatTelegramMessage}=require('@igasovic/n8n-blocks');return await wf10FormatTelegramMessage({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:10-read/format-telegram-message__f305ac84-35d3-44df-8ef5-1c0e004f37b8.js] ${e.message}`;throw e;}"
      },
      "position": [
        1792,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "83d12448-5f97-48f1-9ece-de61a9756db3",
      "name": "Format /help Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2Message } = require('@igasovic/n8n-blocks/shared/telegram-markdown.js');\n\nconst msg = `Commands:\n/help\n/pull <id> [--excerpt]\n/recipe <R<number>|query>\n/recipes <query>\n/recipe-save <structured_recipe_text>\n/recipe-link <public_id_1> <public_id_2>\n/recipe-note <public_id> <note>\n/last \"query\" [--days N] [--limit M]\n/find \"needle\" [--days N] [--limit M]\n/continue topic [--days N] [--limit M]\n/with person topic [--days N] [--limit M]\n/delete <prod|test> <id|id1,id2|from-to> [--dry-run] [--force]\n/move <prod|test> <prod|test> <id|id1,id2|from-to> [--dry-run] [--force]\n/debug <run_id|last>\n/distill <entry_id>\n/classify [--batch] [--dry-run] [--limit N]\n/distill-run [--batch|--sync] [--dry-run] [--candidate-limit N] [--max-sync-items N] [--no-persist-eligibility]\n/status [t1|t2] [--limit M] [--active-only]\n\nTips:\n- Every result shows #<id> so you can /pull it.\n- Reduce --limit if messages truncate.`;\n\n  return [{ json: { ...$json, telegram_message: mdv2Message(msg) } }];\n"
      },
      "position": [
        1792,
        768
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "3580c243-cd64-4bc2-8b4f-ab5215ff71a1",
      "name": "Build Context Pack",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { contextPackBuilder } = require('@igasovic/n8n-blocks');\nconst { buildContextPackMarkdown } = contextPackBuilder;\n\nfunction mdv2Render(value, { maxLen = 4000 } = {}) {\n  const text = String(value == null ? '' : value);\n  return text.length > maxLen ? text.slice(0, maxLen) : text;\n}\n\nconst rows = $input.all().map((item) => item.json);\n  const meta = rows.find((row) => row.is_meta === true) || {};\n  const hitsRows = rows.filter((row) => row.is_meta === false && row.id);\n  const method = String(meta.cmd || 'last').toLowerCase();\n  const query = String(meta.query_text || '').trim();\n\n  const msg = buildContextPackMarkdown(\n    hitsRows,\n    {\n      method,\n      query,\n      days: meta.days,\n      limit: meta.limit,\n    },\n    {\n      markdownV2: true,\n      layout: 'ui',\n      maxContentLen: 300,\n    },\n  );\n\n  const truncated = mdv2Render(msg, { maxLen: 3500 });\n  const chars = Array.from(truncated);\n  let unescapedStarCount = 0;\n  for (let i = 0; i < chars.length; i += 1) {\n    if (chars[i] !== '*') continue;\n    let slashCount = 0;\n    for (let j = i - 1; j >= 0 && chars[j] === '\\\\'; j -= 1) slashCount += 1;\n    if (slashCount % 2 === 0) unescapedStarCount += 1;\n  }\n  if (unescapedStarCount % 2 === 0) {\n    return [{ json: { telegram_message: truncated } }];\n  }\n  for (let i = chars.length - 1; i >= 0; i -= 1) {\n    if (chars[i] !== '*') continue;\n    let slashCount = 0;\n    for (let j = i - 1; j >= 0 && chars[j] === '\\\\'; j -= 1) slashCount += 1;\n    if (slashCount % 2 !== 0) continue;\n    chars.splice(i, 1);\n    break;\n  }\n\n  return [{ json: { telegram_message: chars.join('') } }];\n"
      },
      "position": [
        1792,
        -96
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "disabled": true,
      "id": "55f666e7-4f6c-4d01-b985-2aeb9ec0b2ea",
      "name": "Telegram Trigger",
      "parameters": {
        "additionalFields": {
          "chatIds": "1509032341"
        },
        "updates": [
          "message"
        ]
      },
      "position": [
        224,
        1896
      ],
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "webhookId": "a111da0e-d82b-4eac-9ca8-ddd49cc09794"
    },
    {
      "id": "52cd8bc3-fe41-4576-b31e-9f38491b0e18",
      "name": "PKM Config",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "PKM — Retrieval Config",
          "cachedResultUrl": "/workflow/Ue-cGR6_WP4Fe5C19tA28",
          "mode": "list",
          "value": "Ue-cGR6_WP4Fe5C19tA28"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        448,
        1992
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "2cce1bfc-827b-44f3-86d8-5b22f7ea5d93",
      "name": "PKM Pull",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={ \"entry_id\" : \"{{$json.entry_id}}\"}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/read/pull"
      },
      "position": [
        1568,
        384
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "df81f142-e2e4-47df-902e-49f4ed9c95e6",
      "name": "PKM Continue",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={ \n  \"q\" : \"{{ $json.q }}\",\n  \"days\" : \"{{$json.days}}\",\n  \"limit\" : \"{{$json.limit}}\"\n}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/read/continue"
      },
      "position": [
        1568,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "b7917712-ba33-4d11-8d33-26dad0a7f707",
      "name": "PKM Find",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={ \n  \"q\" : \"{{ $json.q }}\",\n  \"days\" : \"{{$json.days}}\",\n  \"limit\" : \"{{$json.limit}}\"\n}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/read/find"
      },
      "position": [
        1568,
        -192
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "a9cd2690-c5df-4d8d-87eb-491e29fdbc1d",
      "name": "PKM Last",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={ \n  \"q\" : \"{{ $json.q }}\",\n  \"days\" : \"{{$json.days}}\",\n  \"limit\" : \"{{$json.limit}}\"\n}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/read/last"
      },
      "position": [
        1568,
        192
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "6cd8b6fa-83c7-4be8-bb8c-66179ec54b6a",
      "name": "PKM Status - T1 Batch",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "={{ \"http://pkm-server:8080/status/batch?stage=\" + encodeURIComponent($json.status_stage || \"t1\") + \"&limit=\" + encodeURIComponent($json.status_limit || 50) + (($json.status_include_terminal === true || $json.status_include_terminal === false) ? \"&include_terminal=\" + ($json.status_include_terminal ? \"true\" : \"false\") : \"\") }}"
      },
      "position": [
        1568,
        1152
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "075f1d02-d3af-43dc-a694-f387f757ba3d",
      "name": "Format Status Message",
      "parameters": {
        "jsCode": "try{const {wf10FormatStatusMessage}=require('@igasovic/n8n-blocks');return await wf10FormatStatusMessage({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:10-read/format-status-message__075f1d02-d3af-43dc-a694-f387f757ba3d.js] ${e.message}`;throw e;}"
      },
      "position": [
        1792,
        1152
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "6c3c44b1-11b6-4b30-a89a-a835f31d6942",
      "name": "Send MarkdownV2 Message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": "={{ $json.smoke_telegram_dry_run === true }}",
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ (($json.message && $json.message.chat && $json.message.chat.id) || $json.telegram_chat_id || (($node[\"Command Parser\"] && $node[\"Command Parser\"].json && $node[\"Command Parser\"].json.telegram_chat_id) || $env.TELEGRAM_ADMIN_CHAT_ID)) }}",
        "text": "={{$json.telegram_message}}"
      },
      "position": [
        2016,
        928
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "id": "2f089629-e174-4427-a5d8-f8f6b3e495a7",
      "name": "PKM Delete",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-pkm-admin-secret",
              "value": "={{ $env.PKM_ADMIN_SECRET }}"
            },
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => {\n  const parseMaybeJson = (v) => {\n    if (typeof v !== \"string\") return v;\n    const s = v.trim();\n    if (!s) return v;\n    if (s.startsWith(\"{\") || s.startsWith(\"[\")) {\n      try { return JSON.parse(s); } catch (e) { return v; }\n    }\n    return v;\n  };\n\n  const body = {\n    schema: $json.schema,\n    entry_ids: parseMaybeJson($json.entry_ids),\n    range: parseMaybeJson($json.range),\n    dry_run: $json.dry_run,\n    force: $json.force,\n  };\n\n  // Type normalization (only if upstream sends strings)\n  if (typeof body.dry_run === \"string\") body.dry_run = (body.dry_run === \"true\");\n  if (typeof body.force === \"string\") body.force = (body.force === \"true\");\n\n  return body;\n})()) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/delete"
      },
      "position": [
        1568,
        1344
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "3feac23b-f095-4af9-9179-3b0a1a4279a2",
      "name": "Format delete message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2Message } = require('@igasovic/n8n-blocks/shared/telegram-markdown.js');\n\nconst s = $json || {};\n  const lines = [\n    'Delete successful',\n    `Dry run: ${String(s.dry_run)}`,\n    `Schema: ${String(s.schema ?? '')}`,\n    `Deleted: ${String(s.deleted_count ?? 0)}`,\n  ];\n  return [{ json: { ...$json, telegram_message: mdv2Message(lines.join('\\n')) } }];\n"
      },
      "position": [
        1792,
        1344
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "86fd8662-7691-4efa-b461-9f0080d8743a",
      "name": "PKM Move",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-pkm-admin-secret",
              "value": "={{ $env.PKM_ADMIN_SECRET }}"
            },
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => {\n  const parseMaybeJson = (v) => {\n    if (typeof v !== \"string\") return v;\n    const s = v.trim();\n    if (!s) return v;\n    if (s.startsWith(\"{\") || s.startsWith(\"[\")) {\n      try { return JSON.parse(s); } catch (e) { return v; }\n    }\n    return v;\n  };\n\n  const body = {\n    from_schema: $json.from_schema,\n    to_schema: $json.to_schema,\n    entry_ids: parseMaybeJson($json.entry_ids),\n    range: parseMaybeJson($json.range),\n    dry_run: $json.dry_run,\n    force: $json.force,\n  };\n\n  // Type normalization (only if upstream sends strings)\n  if (typeof body.dry_run === \"string\") body.dry_run = (body.dry_run === \"true\");\n  if (typeof body.force === \"string\") body.force = (body.force === \"true\");\n\n  return body;\n})()) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/move"
      },
      "position": [
        1568,
        1728
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "344aac95-db6e-4262-9441-1072918d9d48",
      "name": "Format move message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2Message } = require('@igasovic/n8n-blocks/shared/telegram-markdown.js');\n\nconst s = $json || {};\n  const lines = [\n    'Move successful',\n    `Dry run: ${String(s.dry_run)}`,\n    `Schema: ${String(s.from_schema ?? '')} -> ${String(s.to_schema ?? '')}`,\n    `Moved: ${String(s.moved_count ?? 0)}`,\n  ];\n  return [{ json: { ...$json, telegram_message: mdv2Message(lines.join('\\n')) } }];\n"
      },
      "position": [
        1792,
        1728
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "a3f6501f-7a9f-46b5-b8a6-e0f1828f0ea0",
      "name": "PKM Distill Sync",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-pkm-admin-secret",
              "value": "={{ $env.PKM_ADMIN_SECRET }}"
            },
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={ \"entry_id\" : \"{{$json.entry_id}}\"}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/distill/sync"
      },
      "position": [
        1568,
        576
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "ef76e14a-f96e-4cb2-90da-c1b8f6fd2fca",
      "name": "Format Distill Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2, bold, bullet, joinLines, finalizeMarkdownV2 } = require('@igasovic/n8n-blocks/shared/telegram-markdown.js');\n\n  const { $json = {} } = ctx || {};\n  const status = String($json.status || '').trim().toLowerCase();\n  const entryId = String($json.entry_id ?? '-').trim() || '-';\n\n  let telegramMessage = '';\n\n  if (status === 'completed') {\n    const summary = mdv2($json.summary || 'n/a');\n    const why = mdv2($json.why_it_matters || 'n/a');\n    const excerpt = mdv2($json.excerpt || '');\n    const stance = mdv2($json.stance || 'n/a');\n    const lines = [\n      bold('Tier_2 distill completed'),\n      bullet(`Entry: ${entryId}`, { rawValue: true }),\n      bullet(`Stance: ${stance}`, { rawValue: true }),\n      '',\n      bold('Summary'),\n      summary,\n      '',\n      bold('Why it matters'),\n      why,\n    ];\n    if (excerpt) {\n      lines.push('', bold('Excerpt'), excerpt);\n    }\n    telegramMessage = finalizeMarkdownV2(joinLines(lines, { trimTrailing: true }));\n  } else {\n    const errorCode = mdv2($json.error_code || 'unknown_error');\n    const message = mdv2($json.message || 'distill failed');\n    const preserved = String($json.preserved_current_artifact === true);\n    telegramMessage = joinLines([\n      bold('Tier_2 distill failed'),\n      bullet(`Entry: ${mdv2(entryId)}`, { rawValue: true }),\n      bullet(`Error: ${errorCode}`, { rawValue: true }),\n      bullet(`Message: ${message}`, { rawValue: true }),\n      bullet(`Current artifact preserved: ${mdv2(preserved)}`, { rawValue: true }),\n    ], { trimTrailing: true });\n    telegramMessage = finalizeMarkdownV2(telegramMessage);\n  }\n\n  return [{\n    json: {\n      ...$json,\n      telegram_message: telegramMessage,\n    },\n  }];\n"
      },
      "position": [
        1792,
        576
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "6ad4ef14-ff4b-4332-8e68-a13a6ed8c58e",
      "name": "PKM Distill Run",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-pkm-admin-secret",
              "value": "={{ $env.PKM_ADMIN_SECRET }}"
            },
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ execution_mode: $json.execution_mode, candidate_limit: $json.candidate_limit, max_sync_items: $json.max_sync_items, persist_eligibility: $json.persist_eligibility, dry_run: $json.dry_run }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/distill/run"
      },
      "position": [
        1568,
        960
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "b9f00fcd-a5ed-462f-a8d0-3e49c20eca11",
      "name": "Format Distill Run Message",
      "parameters": {
        "jsCode": "try{const {wf10FormatDistillRunMessage}=require('@igasovic/n8n-blocks');return await wf10FormatDistillRunMessage({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:10-read/format-distill-run-message__b9f00fcd-a5ed-462f-a8d0-3e49c20eca11.js] ${e.message}`;throw e;}"
      },
      "position": [
        1792,
        960
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "93ed61ff-ed68-4a8d-bb78-047a8812675e",
      "name": "Build Read Smoke Result",
      "parameters": {
        "jsCode": "'use strict';\n\nconst smokeMode = $json.smoke_mode === true;\n  if (!smokeMode) {\n    return [{ json: { ...$json } }];\n  }\n\n  const assertions = [];\n  const cmd = String($json.cmd || '').trim();\n  assertions.push({ name: 'command_present', ok: !!cmd, command: cmd || null });\n  const msg = String($json.telegram_message || '');\n  assertions.push({ name: 'telegram_message_non_empty', ok: msg.length > 0 });\n  const telegramMessageId = $json.message_id ?? ($json.result && $json.result.message_id) ?? null;\n  if (telegramMessageId != null) assertions.push({ name: 'telegram_message_id_present', ok: true });\n\n  if (cmd === 'pull') {\n    assertions.push({ name: 'pull_entry_present', ok: !!($json.entry_id || ($json.rows && $json.rows.length)) });\n  }\n  if (cmd === 'continue') {\n    const count = Number($json.count_hits || $json.rows_count || 0);\n    assertions.push({ name: 'continue_rows_available', ok: count >= 0, count });\n  }\n  if (cmd === 'distill') {\n    const status = String($json.status || '').toLowerCase();\n    assertions.push({ name: 'distill_status_present', ok: status.length > 0, status });\n  }\n  if (cmd === 'delete') {\n    const deleted = Number($json.deleted_count ?? 0);\n    assertions.push({ name: 'delete_response_present', ok: Number.isFinite(deleted), deleted_count: deleted });\n  }\n\n  const ok = assertions.every((assertion) => assertion.ok === true);\n  return [{\n    json: {\n      ...$json,\n      test_case: 'read_command',\n      ok,\n      run_id: $json.test_run_id || null,\n      artifacts: {\n        command: cmd,\n        telegram_message: msg || null,\n        telegram_message_id: telegramMessageId,\n        entry_id: $json.entry_id ?? null,\n        deleted_count: $json.deleted_count ?? null,\n      },\n      assertions,\n      error: ok ? null : { message: 'read command assertions failed' },\n    },\n  }];\n"
      },
      "position": [
        2240,
        928
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "2b56d1cf-43fd-4f18-896d-9512f665fb26",
      "name": "PKM Recipe Get",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify({ public_id: $json.public_id }) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/recipes/get"
      },
      "position": [
        1568,
        1920
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "3cc9e02d-a866-44c5-bd54-917df9802f57",
      "name": "PKM Recipe Search",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify({ q: $json.q, alternatives_count: $json.alternatives_count || 2 }) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/recipes/search"
      },
      "position": [
        1568,
        2112
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "21cbc6da-f402-4e21-93ba-6dcfed16f48e",
      "name": "PKM Recipe Create",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => { const txt = String($json.capture_text || '').trim(); const msgText = String(($json.message && $json.message.text) || $json.raw_text || '').trim(); const fallback = msgText.replace(/^\\/[a-zA-Z][a-zA-Z0-9_-]*/, '').trim(); return { capture_text: txt || fallback, source: $json.source || 'telegram' }; })()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/recipes/create"
      },
      "position": [
        1568,
        2304
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "f0f66df8-3b44-4f33-a7e1-0cf8bf3b4c1d",
      "name": "Format Recipe Message",
      "parameters": {
        "jsCode": "try{const {wf10FormatRecipeMessage}=require('@igasovic/n8n-blocks');return await wf10FormatRecipeMessage({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:10-read/format-recipe-message__f0f66df8-3b44-4f33-a7e1-0cf8bf3b4c1d.js] ${e.message}`;throw e;}"
      },
      "position": [
        1792,
        2176
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "8a2c6dc8-1e3d-4c8b-ae1c-4e7a4fe4f5f1",
      "name": "PKM Recipe Link",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify({ public_id_1: $json.public_id_1, public_id_2: $json.public_id_2 }) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/recipes/link"
      },
      "position": [
        1568,
        2496
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "94fd52d9-89d6-4fcb-a43a-1c2dbeb3e6f0",
      "name": "PKM Recipe Note",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify({ public_id: $json.public_id, note: $json.note }) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/recipes/note"
      },
      "position": [
        1568,
        2688
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "171aa962-09d2-4778-b2cc-ebb77d579776",
      "name": "Run Todoist Waiting Radar",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "36 Todoist Waiting Radar",
          "cachedResultUrl": "/workflow/aPgci3NmEhQZsHQ8",
          "mode": "list",
          "value": "aPgci3NmEhQZsHQ8"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        1568,
        1536
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "50e3a95e-6763-4de5-8e53-6f8b220da9c6",
      "name": "PKM Classify Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1568,
        1088
      ],
      "parameters": {
        "method": "POST",
        "url": "http://pkm-server:8080/enrich/t1/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-pkm-admin-secret",
              "value": "={{ $env.PKM_ADMIN_SECRET }}"
            },
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((() => ({ execution_mode: $json.execution_mode, dry_run: $json.dry_run, limit: $json.classify_limit }))()) }}",
        "options": {}
      }
    },
    {
      "id": "68e6f8e8-b463-4ca9-8cc4-bf2cde7ad2f5",
      "name": "Format Classify Run Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        1088
      ],
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2, bold, parens, joinLines, finalizeMarkdownV2 } = require('@igasovic/n8n-blocks/shared/telegram-markdown.js');\n\nconst r = $json || {};\nconst mode = String(r.mode || 'run').toLowerCase();\nconst executionMode = String(r.execution_mode || 'sync').toLowerCase() === 'batch' ? 'batch' : 'sync';\nconst lines = [];\n\nlines.push(mode === 'dry_run' ? `${bold('Tier_1 classify')} ${parens('dry run')}` : bold('Tier_1 classify'));\nlines.push(`${bold('Execution:')} ${mdv2(executionMode)}`);\nif (r.batch_id) lines.push(`${bold('Batch_id:')} ${mdv2(r.batch_id)}`);\nlines.push('');\nlines.push(`${bold('Candidates:')} ${r.candidate_count ?? 0}`);\nlines.push(`${bold('Runnable:')} ${r.runnable_count ?? 0}`);\nif (Number(r.skipped_missing_clean_text || 0) > 0) lines.push(`Skipped missing clean text: ${Number(r.skipped_missing_clean_text || 0)}`);\n\nif (mode === 'dry_run') {\n  lines.push(`${bold('Would process:')} ${r.will_process_count ?? r.runnable_count ?? 0}`);\n} else if (executionMode === 'batch') {\n  lines.push(`${bold('Enqueued:')} ${r.enqueued_count ?? r.request_count ?? 0}`);\n  if (r.status) lines.push(`Batch status: ${mdv2(r.status)}`);\n} else {\n  lines.push(`${bold('Processed:')} ${r.processed_count ?? 0}`);\n  lines.push(`Completed: ${r.completed_count ?? 0}`);\n  lines.push(`Failed: ${r.failed_count ?? 0}`);\n  const topFailures = Object.entries((r && r.error_code_counts) || {})\n    .sort((a, b) => Number(b[1] || 0) - Number(a[1] || 0))\n    .slice(0, 3);\n  if (topFailures.length) lines.push(`Top failures: ${topFailures.map(([code, count]) => `${mdv2(code)} ${parens(Number(count || 0))}`).join(', ')}`);\n}\n\nreturn [{ json: { ...r, telegram_message: finalizeMarkdownV2(joinLines(lines, { trimTrailing: true })) } }];\n"
      }
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/Chicago"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
