src/n8n/workflows/10-read__dq9Nex-IR8AToJvHksphj.json
{
  "active": true,
  "activeVersionId": "4eaded25-6dcb-451c-85f1-0939942b5e4c",
  "connections": {
    "Build Context Pack": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send MarkdownV2 Message",
            "type": "main"
          }
        ]
      ]
    },
    "Command Parser": {
      "main": [
        [
          {
            "index": 0,
            "node": "IF: Ignore?",
            "type": "main"
          }
        ]
      ]
    },
    "Format /help Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message4",
            "type": "main"
          }
        ]
      ]
    },
    "Format Status Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send MarkdownV2 Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message4",
            "type": "main"
          }
        ]
      ]
    },
    "Format delete message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send MarkdownV2 Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format move message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send MarkdownV2 Message",
            "type": "main"
          }
        ]
      ]
    },
    "IF: Ignore?": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "IF: Reply now?",
            "type": "main"
          }
        ]
      ]
    },
    "IF: Reply now?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Switch",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "Command Parser",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Continue": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Context Pack",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Delete": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format delete message",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Find": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Context Pack",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Last": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Context Pack",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Move": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format move message",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Pull": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Telegram Message",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Status - T1 Batch": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Status Message",
            "type": "main"
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Last",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Find",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Continue",
            "type": "main"
          }
        ],
        [],
        [
          {
            "index": 0,
            "node": "PKM Pull",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Format /help Message",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Status - T1 Batch",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Delete",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Move",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Debug",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Distill Sync",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Distill Run",
            "type": "main"
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Distill Sync": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Distill Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format Distill Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send MarkdownV2 Message",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Distill Run": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Distill Run Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format Distill Run Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send MarkdownV2 Message",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-18T03:45:24.643Z",
  "description": null,
  "isArchived": false,
  "name": "10 Read",
  "nodes": [
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "210ee0fc-439f-4e4a-9c1e-59ebdf97d21f",
      "name": "Send a text message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "1509032341",
        "text": "={{$json.telegram_message}}"
      },
      "position": [
        1344,
        48
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "id": "964a4450-21a5-4ea8-a743-61a1fcf00405",
      "name": "IF: Ignore?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "629f7d0c-7892-4a16-9b60-300305220042",
              "leftValue": "={{$json._ignore === true}}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        896,
        192
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "29c3dcb3-2789-43b1-a5d8-8690578b448e",
      "name": "IF: Reply now?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "629f7d0c-7892-4a16-9b60-300305220042",
              "leftValue": "={{$json._reply_now === true}}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        1120,
        192
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "f8eb7c10-83c5-4cc8-8161-4281f258102f",
      "name": "Switch",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b766299f-eaee-4cbd-afb5-e3a573e3d9ec",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "last"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "last",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "86c55910-1027-409d-8ccb-b1ec51256dff",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "find"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "find",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "7fbd8a34-970a-424b-ae96-d87e6511ab4e",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "continue"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "continue",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "65f16c89-88ef-4c7e-a079-1b170c211618",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "with"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "with",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ec9cff1e-feae-4287-9578-17545f4786ed",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "pull"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "pull",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "19de7464-62fb-43f6-86ca-6a6f5c46bcda",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "help"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "help",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "bb8d0042-7794-4b75-bdaf-b32cea0a73a4",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "status"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "status",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cc0cfe47-8bb2-4c41-8941-8661f43719bf",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "delete"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "delete",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "88eea9f5-5422-46b6-a037-bbf4076140a9",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "move"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "move",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cdc49bb6-67c7-416a-9485-d5a29646b229",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "debug"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "debug",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "742c11a1-9ec7-47ef-90b8-5607bc68f9e6",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "distill"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "distill",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "9f1acfb2-2bde-4235-9f7f-4a0decd68578",
                    "leftValue": "={{ $json.cmd }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "distillrun"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "distillrun",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        1344,
        368
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4
    },
    {
      "id": "9943dcb4-e3fc-409f-9ae5-f9c6b9e31350",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        224,
        288
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "926eb875-5735-4746-a0a4-7801b8db586f",
      "name": "Command Parser",
      "parameters": {
        "jsCode": "try{const fn=require('/data/src/n8n/nodes/10-read/command-parser__926eb875-5735-4746-a0a4-7801b8db586f.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:10-read/command-parser__926eb875-5735-4746-a0a4-7801b8db586f.js] ${e.message}`;throw e;}"
      },
      "position": [
        672,
        192
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "54ab1327-9b6a-4263-b901-2a70893d5ee6",
      "name": "Send a text message4",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "1509032341",
        "text": "={{$json.telegram_message}}"
      },
      "position": [
        2016,
        480
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "id": "f305ac84-35d3-44df-8ef5-1c0e004f37b8",
      "name": "Format Telegram Message",
      "parameters": {
        "jsCode": "try{const fn=require('/data/src/n8n/nodes/10-read/format-telegram-message__f305ac84-35d3-44df-8ef5-1c0e004f37b8.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:10-read/format-telegram-message__f305ac84-35d3-44df-8ef5-1c0e004f37b8.js] ${e.message}`;throw e;}"
      },
      "position": [
        1792,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "83d12448-5f97-48f1-9ece-de61a9756db3",
      "name": "Format /help Message",
      "parameters": {
        "jsCode": "const msg =\n`/last \"query\" [--days N] [--limit M]\nBest when you vaguely remember something. Ranks using your Tier-1 metadata + full-text + quality + recency.\n\n /find \"needle\" [--days N] [--limit M]\nBest for exact-ish strings (names, errors, phrases). Prefers literal matches + full-text; returns evidence snippets.\n\n /continue topic [--days N] [--limit M]\nBest to resume a topic. Uses Tier-1-first scoring and tries to return your notes first (if available).\n\n /pull <id> [--excerpt]\nFetch one entry by its numeric id (#12345). Default shows a short excerpt; --excerpt returns a longer excerpt.\n\nTips:\n- Every result shows #<id> so you can /pull it.\n- Reduce --limit if messages truncate.`;\n\nconst config = getConfig();\nconst isTestMode = config.db.is_test_mode === true;\nconst banner = isTestMode ? '⚗️🧪 TEST MODE\n' : '';\nconst telegram_message = msg.split('\\n').map(l => l.trimEnd()).join('\\n').trim();\nreturn [{ json: { ...$json, telegram_message } }];\n"
      },
      "position": [
        1792,
        576
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "3580c243-cd64-4bc2-8b4f-ab5215ff71a1",
      "name": "Build Context Pack",
      "parameters": {
        "jsCode": "const { buildContextPackMarkdown } = require('/data/src/libs/context-pack-builder.js');\n\nconst rows = $input.all().map(i => i.json);\nconst meta = rows.find((r) => r.is_meta === true) || {};\nconst hitsRows = rows.filter((r) => r.is_meta === false && r.id);\nconst method = String(meta.cmd || 'last').toLowerCase();\nconst query = String(meta.query_text || '').trim();\n\nlet msg = buildContextPackMarkdown(\n  hitsRows,\n  {\n    method,\n    query,\n    days: meta.days,\n    limit: meta.limit,\n  },\n  {\n    markdownV2: true,\n    layout: 'ui',\n    maxContentLen: 300,\n  },\n);\n\n// safety cap (Telegram hard limit is 4096; keep margin for safety)\nconst MAX_TELEGRAM = 3500;\nif (msg.length > MAX_TELEGRAM) {\n  msg = msg.slice(0, MAX_TELEGRAM - 1) + '…';\n}\n\nreturn [{ json: { telegram_message: msg } }];\n"
      },
      "position": [
        1792,
        96
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "disabled": true,
      "id": "55f666e7-4f6c-4d01-b985-2aeb9ec0b2ea",
      "name": "Telegram Trigger",
      "parameters": {
        "additionalFields": {
          "chatIds": "1509032341"
        },
        "updates": [
          "message"
        ]
      },
      "position": [
        224,
        96
      ],
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "webhookId": "a111da0e-d82b-4eac-9ca8-ddd49cc09794"
    },
    {
      "id": "52cd8bc3-fe41-4576-b31e-9f38491b0e18",
      "name": "PKM Config",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "PKM — Retrieval Config",
          "cachedResultUrl": "/workflow/Ue-cGR6_WP4Fe5C19tA28",
          "mode": "list",
          "value": "Ue-cGR6_WP4Fe5C19tA28"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        448,
        192
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "2cce1bfc-827b-44f3-86d8-5b22f7ea5d93",
      "name": "PKM Pull",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={ \"entry_id\" : \"{{$json.entry_id}}\"}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/read/pull"
      },
      "position": [
        1568,
        384
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "df81f142-e2e4-47df-902e-49f4ed9c95e6",
      "name": "PKM Continue",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={ \n  \"q\" : \"{{ $json.q }}\",\n  \"days\" : \"{{$json.days}}\",\n  \"limit\" : \"{{$json.limit}}\"\n}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/read/continue"
      },
      "position": [
        1568,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "b7917712-ba33-4d11-8d33-26dad0a7f707",
      "name": "PKM Find",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={ \n  \"q\" : \"{{ $json.q }}\",\n  \"days\" : \"{{$json.days}}\",\n  \"limit\" : \"{{$json.limit}}\"\n}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/read/find"
      },
      "position": [
        1568,
        -192
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "a9cd2690-c5df-4d8d-87eb-491e29fdbc1d",
      "name": "PKM Last",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={ \n  \"q\" : \"{{ $json.q }}\",\n  \"days\" : \"{{$json.days}}\",\n  \"limit\" : \"{{$json.limit}}\"\n}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/read/last"
      },
      "position": [
        1568,
        192
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "6cd8b6fa-83c7-4be8-bb8c-66179ec54b6a",
      "name": "PKM Status - T1 Batch",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "={{ \"http://pkm-server:8080/status/batch?stage=\" + encodeURIComponent($json.status_stage || \"t1\") + \"&limit=\" + encodeURIComponent($json.status_limit || 50) + (($json.status_include_terminal === true || $json.status_include_terminal === false) ? \"&include_terminal=\" + ($json.status_include_terminal ? \"true\" : \"false\") : \"\") }}"
      },
      "position": [
        1568,
        768
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "075f1d02-d3af-43dc-a694-f387f757ba3d",
      "name": "Format Status Message",
      "parameters": {
        "jsCode": "try{const fn=require(\"/data/src/n8n/nodes/10-read/format-status-message__075f1d02-d3af-43dc-a694-f387f757ba3d.js\");return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=\"[extjs:10-read/format-status-message__075f1d02-d3af-43dc-a694-f387f757ba3d.js] \"+e.message;throw e;}"
      },
      "position": [
        1792,
        768
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "6c3c44b1-11b6-4b30-a89a-a835f31d6942",
      "name": "Send MarkdownV2 Message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        },
        "chatId": "1509032341",
        "text": "={{$json.telegram_message}}"
      },
      "position": [
        2032,
        1056
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "id": "2f089629-e174-4427-a5d8-f8f6b3e495a7",
      "name": "PKM Delete",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-pkm-admin-secret",
              "value": "your-long-random-secretdfdsfdsfdsfsdf"
            },
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => {\n  const parseMaybeJson = (v) => {\n    if (typeof v !== \"string\") return v;\n    const s = v.trim();\n    if (!s) return v;\n    if (s.startsWith(\"{\") || s.startsWith(\"[\")) {\n      try { return JSON.parse(s); } catch (e) { return v; }\n    }\n    return v;\n  };\n\n  const body = {\n    schema: $json.schema,\n    entry_ids: parseMaybeJson($json.entry_ids),\n    range: parseMaybeJson($json.range),\n    dry_run: $json.dry_run,\n    force: $json.force,\n  };\n\n  // Type normalization (only if upstream sends strings)\n  if (typeof body.dry_run === \"string\") body.dry_run = (body.dry_run === \"true\");\n  if (typeof body.force === \"string\") body.force = (body.force === \"true\");\n\n  return body;\n})()) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/delete"
      },
      "position": [
        1568,
        960
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "3feac23b-f095-4af9-9179-3b0a1a4279a2",
      "name": "Format delete message",
      "parameters": {
        "jsCode": "const s = $json || {};\n\nconst mdv2 = (v) =>\n  String(v ?? \"\")\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!\\\\])/g, \"\\\\$1\"); // MarkdownV2 escape\n\nreturn {\n  telegram_message:\n`*✅ Delete successful:*\n• Dry run: ${s.dry_run}\n• Schema: ${mdv2(s.schema)}\n• Deleted: ${s.deleted_count}`\n};\n"
      },
      "position": [
        1792,
        960
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "86fd8662-7691-4efa-b461-9f0080d8743a",
      "name": "PKM Move",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-pkm-admin-secret",
              "value": "your-long-random-secretdfdsfdsfdsfsdf"
            },
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => {\n  const parseMaybeJson = (v) => {\n    if (typeof v !== \"string\") return v;\n    const s = v.trim();\n    if (!s) return v;\n    if (s.startsWith(\"{\") || s.startsWith(\"[\")) {\n      try { return JSON.parse(s); } catch (e) { return v; }\n    }\n    return v;\n  };\n\n  const body = {\n    from_schema: $json.from_schema,\n    to_schema: $json.to_schema,\n    entry_ids: parseMaybeJson($json.entry_ids),\n    range: parseMaybeJson($json.range),\n    dry_run: $json.dry_run,\n    force: $json.force,\n  };\n\n  // Type normalization (only if upstream sends strings)\n  if (typeof body.dry_run === \"string\") body.dry_run = (body.dry_run === \"true\");\n  if (typeof body.force === \"string\") body.force = (body.force === \"true\");\n\n  return body;\n})()) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/move"
      },
      "position": [
        1568,
        1152
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "344aac95-db6e-4262-9441-1072918d9d48",
      "name": "Format move message",
      "parameters": {
        "jsCode": "const s = $json || {};\n\nconst mdv2 = (v) =>\n  String(v ?? \"\")\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!\\\\])/g, \"\\\\$1\"); // MarkdownV2 escape\n\nreturn {\n  telegram_message:\n`*✅ Move successful:*\n• Dry run: ${s.dry_run}\n• Schema: ${mdv2(s.from_schema)} \\\\-\\\\> *${mdv2(s.to_schema)}*\n• Moved: ${s.moved_count}`\n};\n"
      },
      "position": [
        1792,
        1152
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "b4c54788-8a83-4a5c-a008-a8dd26ae8196",
      "name": "PKM Debug",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "x-pkm-admin-secret",
              "value": "your-long-random-secretdfdsfdsfdsfsdf"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "http://pkm-server:8080/debug/run/last"
      },
      "position": [
        1568,
        1328
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "a3f6501f-7a9f-46b5-b8a6-e0f1828f0ea0",
      "name": "PKM Distill Sync",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-pkm-admin-secret",
              "value": "your-long-random-secretdfdsfdsfdsfsdf"
            },
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={ \"entry_id\" : \"{{$json.entry_id}}\"}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/distill/sync"
      },
      "position": [
        1568,
        576
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "ef76e14a-f96e-4cb2-90da-c1b8f6fd2fca",
      "name": "Format Distill Message",
      "parameters": {
        "jsCode": "try{const fn=require(\"/data/src/n8n/nodes/10-read/format-distill-message__ef76e14a-f96e-4cb2-90da-c1b8f6fd2fca.js\");return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=\"[extjs:10-read/format-distill-message__ef76e14a-f96e-4cb2-90da-c1b8f6fd2fca.js] \"+e.message;throw e;}"
      },
      "position": [
        1792,
        576
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "6ad4ef14-ff4b-4332-8e68-a13a6ed8c58e",
      "name": "PKM Distill Run",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-pkm-admin-secret",
              "value": "your-long-random-secretdfdsfdsfdsfsdf"
            },
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ execution_mode: $json.execution_mode, candidate_limit: $json.candidate_limit, max_sync_items: $json.max_sync_items, persist_eligibility: $json.persist_eligibility, dry_run: $json.dry_run }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/distill/run"
      },
      "position": [
        1568,
        672
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "b9f00fcd-a5ed-462f-a8d0-3e49c20eca11",
      "name": "Format Distill Run Message",
      "parameters": {
        "jsCode": "try{const fn=require(\"/data/src/n8n/nodes/10-read/format-distill-run-message__b9f00fcd-a5ed-462f-a8d0-3e49c20eca11.js\");return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=\"[extjs:10-read/format-distill-run-message__b9f00fcd-a5ed-462f-a8d0-3e49c20eca11.js] \"+e.message;throw e;}"
      },
      "position": [
        1792,
        672
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1",
    "timeSavedMode": "fixed"
  },
  "shared": [
    {
      "createdAt": "2026-01-18T03:45:24.643Z",
      "project": {
        "createdAt": "2026-01-12T01:58:24.486Z",
        "creatorId": "d87e0db9-0ac0-46ea-9218-1eb181231d8f",
        "description": null,
        "icon": null,
        "id": "m23P41JejIbnV7Xa",
        "name": "Igor Gasovic <skljstore@gmail.com>",
        "type": "personal",
        "updatedAt": "2026-01-12T04:27:38.916Z"
      },
      "projectId": "m23P41JejIbnV7Xa",
      "role": "workflow:owner",
      "updatedAt": "2026-01-18T03:45:24.643Z",
      "workflowId": "dq9Nex-IR8AToJvHksphj"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-06T20:13:34.627Z",
  "versionCounter": 271
}
