src/n8n/workflows/11-chatgpt-read-router__Z3ROrPMsI5aIbszW.json
{
  "active": true,
  "connections": {
    "Build Detail Context Pack": {
      "main": [
        [
          {
            "index": 0,
            "node": "Compose Final Response",
            "type": "main"
          }
        ]
      ]
    },
    "Build Error Response": {
      "main": [
        [
          {
            "index": 0,
            "node": "Compose Final Response",
            "type": "main"
          }
        ]
      ]
    },
    "Build Search Context Pack": {
      "main": [
        [
          {
            "index": 0,
            "node": "Compose Final Response",
            "type": "main"
          }
        ]
      ]
    },
    "ChatGPT Read Router Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Route Read Request",
            "type": "main"
          }
        ]
      ]
    },
    "Compose Final Response": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respond to Webhook",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Continue": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Search Context Pack",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Find": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Search Context Pack",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Last": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Search Context Pack",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Pull": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Detail Context Pack",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Working Memory": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Detail Context Pack",
            "type": "main"
          }
        ]
      ]
    },
    "Route Read Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch Read Command",
            "type": "main"
          }
        ]
      ]
    },
    "Switch Read Command": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Pull",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Last",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Continue",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Find",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "PKM Working Memory",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Build Error Response",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "11 ChatGPT Read Router",
  "nodes": [
    {
      "id": "c13a3b08-020b-4995-9c32-aab5deb9c24f",
      "name": "ChatGPT Read Router Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "pkm/chatgpt/read",
        "responseMode": "responseNode"
      },
      "position": [
        -736,
        128
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "66210dba-8c80-476d-ad12-83dc2d87323e"
    },
    {
      "id": "283ed177-aa90-4c34-b432-31b7d3048a49",
      "name": "Route Read Request",
      "parameters": {
        "jsCode": "try{const {wf11RouteReadRequest}=require('@igasovic/n8n-blocks');return await wf11RouteReadRequest({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:11-chatgpt-read-router/route-read-request__283ed177-aa90-4c34-b432-31b7d3048a49.js] ${e.message}`;throw e;}"
      },
      "position": [
        -496,
        128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "9a6e5d23-7e1f-48f5-a329-cb8f8b3f4952",
      "name": "Switch Read Command",
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "7ab3d35c-d343-46ed-bf15-783a5c4bb11a",
                    "leftValue": "={{ $json.read_method }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "pull"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "pull",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ac2e5ba1-bf16-4898-a2f8-a01995c8b7bb",
                    "leftValue": "={{ $json.read_method }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "last"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "last",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "4fcf5fdf-5105-4c02-8fd0-65850033b5dd",
                    "leftValue": "={{ $json.read_method }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "continue"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "continue",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "fd9f2fbd-7952-4ef8-a8d8-b36aa1716f8b",
                    "leftValue": "={{ $json.read_method }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "find"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "find",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ac36a4b5-cf56-4ab5-9e1f-bf7f6ad532af",
                    "leftValue": "={{ $json.read_method }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "working_memory"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "working_memory",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "1e95ac3c-fc3d-4f57-8d85-4cf07e90efa1",
                    "leftValue": "={{ $json.read_method }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "invalid"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "invalid",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -240,
        128
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4
    },
    {
      "continueOnFail": true,
      "id": "30ec6f8b-a0e2-4344-a3c0-f92cb72f3192",
      "name": "PKM Pull",
      "onError": "continueRegularOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $json.run_id || $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => { const p = $json.backend_payload || {}; const out = { entry_id: p.entry_id }; if (p.shortN != null) out.shortN = p.shortN; if (p.longN != null) out.longN = p.longN; return out; })()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/read/pull"
      },
      "position": [
        32,
        -128
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "continueOnFail": true,
      "id": "077b2efd-4f5d-4dcf-a43e-abef7df0c759",
      "name": "PKM Last",
      "onError": "continueRegularOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $json.run_id || $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => { const p = $json.backend_payload || {}; const out = { q: p.q }; if (p.days != null) out.days = p.days; if (p.limit != null) out.limit = p.limit; return out; })()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/read/last"
      },
      "position": [
        32,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "continueOnFail": true,
      "id": "0ea58ded-b113-4dba-91ce-c57ad4f4a556",
      "name": "PKM Continue",
      "onError": "continueRegularOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $json.run_id || $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => { const p = $json.backend_payload || {}; const out = { q: p.q }; if (p.days != null) out.days = p.days; if (p.limit != null) out.limit = p.limit; return out; })()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/read/continue"
      },
      "position": [
        32,
        128
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "continueOnFail": true,
      "id": "83eaa2bd-9a35-498d-8eca-cf1134d4459c",
      "name": "PKM Find",
      "onError": "continueRegularOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $json.run_id || $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => { const p = $json.backend_payload || {}; const out = { q: p.q }; if (p.days != null) out.days = p.days; if (p.limit != null) out.limit = p.limit; return out; })()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/read/find"
      },
      "position": [
        32,
        256
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "continueOnFail": true,
      "id": "8a1b9f43-4212-40d0-8127-8f030469f287",
      "name": "PKM Working Memory",
      "onError": "continueRegularOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-pkm-admin-secret",
              "value": "={{ $env.PKM_ADMIN_SECRET }}"
            },
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $json.run_id || $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => { const p = $json.backend_payload || {}; return { topic: p.topic }; })()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/chatgpt/working_memory"
      },
      "position": [
        32,
        384
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "de43f4fe-84ab-43f5-b9b3-f3669e45b7ec",
      "name": "Build Search Context Pack",
      "parameters": {
        "jsCode": "try{const {wf11BuildSearchContextPack}=require('@igasovic/n8n-blocks');return await wf11BuildSearchContextPack({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:11-chatgpt-read-router/build-search-context-pack__de43f4fe-84ab-43f5-b9b3-f3669e45b7ec.js] ${e.message}`;throw e;}"
      },
      "position": [
        320,
        128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "9d5c9ec9-87cd-4b76-9ba9-d1510d218740",
      "name": "Build Detail Context Pack",
      "parameters": {
        "jsCode": "try{const {wf11BuildDetailContextPack}=require('@igasovic/n8n-blocks');return await wf11BuildDetailContextPack({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:11-chatgpt-read-router/build-detail-context-pack__9d5c9ec9-87cd-4b76-9ba9-d1510d218740.js] ${e.message}`;throw e;}"
      },
      "position": [
        320,
        -128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "4bb5d57d-5de8-4f84-9b2d-f8d453874f1a",
      "name": "Build Error Response",
      "parameters": {
        "jsCode": "'use strict';\n\nconst body = ($json && typeof $json === 'object' && !Array.isArray($json)) ? $json : {};\n  const error = (body.error && typeof body.error === 'object') ? body.error : {};\n\n  return [{\n    json: {\n      response_payload: {\n        ok: false,\n        action: 'chatgpt_read',\n        method: null,\n        outcome: 'failure',\n        no_result: false,\n        context_pack_markdown: null,\n        result: null,\n        error: {\n          code: String(error.code || 'bad_request'),\n          message: String(error.message || 'invalid read command payload'),\n        },\n      },\n      http_status: Number(body.http_status) || 400,\n    },\n  }];\n"
      },
      "position": [
        320,
        480
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "793f72b2-4263-4bb1-970d-5aa4ad6daaf6",
      "name": "Compose Final Response",
      "parameters": {
        "jsCode": "'use strict';\n\nconst body = ($json && typeof $json === 'object' && !Array.isArray($json)) ? $json : {};\n  const payload = (body.response_payload && typeof body.response_payload === 'object')\n    ? body.response_payload\n    : body;\n  const status = Number(body.http_status);\n  const httpStatus = Number.isFinite(status) && status >= 100 && status <= 599\n    ? status\n    : (payload && payload.ok === false ? 400 : 200);\n  const outcome = String(payload.outcome || '').trim().toLowerCase();\n  const ok = Boolean(payload.ok);\n\n  return [{\n    json: {\n      http_status: httpStatus,\n      ok,\n      action: payload.action || 'chatgpt_read',\n      method: payload.method || null,\n      outcome: payload.outcome || null,\n      no_result: outcome === 'no_result',\n      context_pack_markdown: payload.context_pack_markdown || null,\n      result: payload.result || null,\n      error: payload.error || null,\n    },\n  }];\n"
      },
      "position": [
        608,
        128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "68b6c41b-4d5b-4a85-ba89-95e227e4b6cb",
      "name": "Respond to Webhook",
      "parameters": {
        "options": {
          "responseCode": "={{ $json.http_status || 200 }}"
        },
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "position": [
        864,
        128
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    }
  ],
  "settings": {
    "availableInMCP": false,
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
