src/n8n/workflows/21-tier-1-enrichment__WFB4SDkDPDPIphppIn3l7.json
{
  "active": true,
  "activeVersionId": "4d6af627-6785-40ae-9f46-015de2910690",
  "connections": {
    "Merge1": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Update",
            "type": "main"
          }
        ]
      ]
    },
    "PKM T1 Enrich": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM T1 Enrich",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-01T01:55:35.999Z",
  "description": null,
  "isArchived": false,
  "name": "21 Tier-1 Enrichment",
  "nodes": [
    {
      "id": "24662a93-7dee-4daa-9368-48438073c63f",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        0,
        -240
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "96cb3643-51db-4c68-ae9e-c957d2d38eb8",
      "name": "PKM Update",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => {\n  const clamp01 = (x) => (x < 0 ? 0 : x > 1 ? 1 : x);\n\n  // allow the current item JSON itself to be an array\n  const root = Array.isArray($json) ? ($json[0] ?? {}) : $json;\n\n  const id = root.id ?? root.entry_id ?? null;\n  if (!id) throw new Error('db/update: missing id (expected $json.id or $json.entry_id)');\n\n  let t1 = root.t1 ?? root;\n  if (Array.isArray(t1)) t1 = t1[0];\n  if (!t1 || typeof t1 !== 'object') throw new Error('db/update: missing t1 object');\n\n  const topic_primary = String(t1.topic_primary ?? '').trim() || null;\n  const topic_secondary = String(t1.topic_secondary ?? '').trim() || null;\n  const gist = String(t1.gist ?? '').trim() || null;\n\n  const tpcRaw = t1.topic_primary_confidence;\n  const tscRaw = t1.topic_secondary_confidence;\n\n  const topic_primary_confidence =\n    (tpcRaw === null || tpcRaw === undefined || tpcRaw === '') ? null : clamp01(Number(tpcRaw));\n\n  const topic_secondary_confidence =\n    (tscRaw === null || tscRaw === undefined || tscRaw === '') ? null : clamp01(Number(tscRaw));\n\n  let keywords = Array.isArray(t1.keywords)\n    ? t1.keywords.map(x => String(x ?? '').trim()).filter(Boolean)\n    : [];\n  keywords = Array.from(new Set(keywords));\n  if (keywords.length > 12) keywords = keywords.slice(0, 12);\n\n  const numOrNull = (v) => (v === null || v === undefined || v === '') ? null : Number(v);\n\n  const body = {\n    id,\n    topic_primary,\n    topic_primary_confidence,\n    topic_secondary,\n    topic_secondary_confidence,\n    keywords: keywords.length ? keywords : null,\n    gist,\n\n    quality_score: numOrNull(t1.quality_score),\n    clean_word_count: numOrNull(t1.clean_word_count),\n    clean_char_count: numOrNull(t1.clean_char_count),\n    link_count: numOrNull(t1.link_count),\n    link_ratio: numOrNull(t1.link_ratio),\n    retrieval_excerpt: String(t1.retrieval_excerpt ?? '').trim() || null,\n\n    enrichment_status: 'done',\n    enrichment_model: root.enrichment_model ?? 'unknown',\n    prompt_version: root.prompt_version ?? 'unknown',\n\n    metadata: {\n      t1_raw: t1,\n      t1_flags: (t1.flags && typeof t1.flags === 'object') ? t1.flags : null\n    },\n\n    returning: [\n      \"entry_id\",\n      \"id\",\n      \"created_at\",\n      \"source\",\n      \"intent\",\n      \"content_type\",\n      \"url_canonical\",\n      \"COALESCE(title,'') AS title\",\n      \"COALESCE(author,'') AS author\",\n      \"clean_text\",\n      \"capture_text\",\n      \"topic_primary\",\n      \"topic_secondary\",\n      \"gist\",\n      \"COALESCE(char_length(clean_text), 0) AS clean_len\",\n      \"array_length(keywords,1) AS kw_count\",\n      \"enrichment_status\"\n    ]\n  };\n\n  // Don’t overwrite with empty strings :contentReference[oaicite:3]{index=3}\n  const clean = String(root.clean_text ?? \"\").trim();\n  if (clean) body.clean_text = clean;\n\n  return body;  // required :contentReference[oaicite:4]{index=4}\n})()) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/update"
      },
      "position": [
        672,
        -240
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "d1f5c6bd-dcb1-40fa-b373-1d0ecaf84339",
      "name": "PKM T1 Enrich",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => {\n  const body = {};\n\n  // scalar fields (null when missing)\n  body.title = $json.title ?? null;\n  body.author = $json.author ?? null;\n\n  // only include clean_text if non-empty (avoid overwriting with \"\")\n  const clean = String($json.clean_text ?? \"\").trim();\n  if (clean) body.clean_text = clean;\n\n  return body;\n})()) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/enrich/t1"
      },
      "position": [
        224,
        -160
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "d1671500-55a2-4ed0-9c5a-234865324adf",
      "name": "Merge1",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        448,
        -240
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1",
    "timeSavedMode": "fixed"
  },
  "shared": [
    {
      "createdAt": "2026-02-01T01:55:35.999Z",
      "project": {
        "createdAt": "2026-01-12T01:58:24.486Z",
        "creatorId": "d87e0db9-0ac0-46ea-9218-1eb181231d8f",
        "description": null,
        "icon": null,
        "id": "m23P41JejIbnV7Xa",
        "name": "Igor Gasovic <skljstore@gmail.com>",
        "type": "personal",
        "updatedAt": "2026-01-12T04:27:38.916Z"
      },
      "projectId": "m23P41JejIbnV7Xa",
      "role": "workflow:owner",
      "updatedAt": "2026-02-01T01:55:35.999Z",
      "workflowId": "WFB4SDkDPDPIphppIn3l7"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-14T23:14:39.515Z",
  "versionCounter": 216
}
