src/n8n/workflows/22-web-extraction__eYF7ivDiFwDYgi-pFRbpg.json
{
  "active": true,
  "connections": {
    "Assert URL Present": {
      "main": [
        [
          {
            "index": 0,
            "node": "Read Webpage (HTTP)",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Trafilatura Extract (HTTP)",
            "type": "main"
          },
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Classify": {
      "main": [
        []
      ]
    },
    "Extract Title & Author": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    },
    "If 'skipped'": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "PKM Classify",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract Title & Author",
            "type": "main"
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Normalize Webpage",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merge2",
            "type": "main"
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Insert",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "Assert URL Present",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Insert": {
      "main": [
        [
          {
            "index": 0,
            "node": "If 'skipped'",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Normalize Webpage": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge2",
            "type": "main"
          }
        ]
      ]
    },
    "Read Webpage (HTTP)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Trafilatura Extract (HTTP)": {
      "main": [
        [
          {
            "index": 0,
            "node": "remove trafiltura title - hack",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    },
    "remove trafiltura title - hack": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "22 Web Extraction",
  "nodes": [
    {
      "id": "634baf51-838f-48a5-9109-b73e79e662fa",
      "name": "When Executed by Another Workflow",
      "notesInFlow": false,
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -176,
        -112
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "25209a2d-8dbb-47ca-8de9-ee409f64dca2",
      "name": "Merge",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        720,
        -184
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "e2698dac-1c9a-4244-8b23-8aa8cadee892",
      "name": "Merge1",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        1168,
        -88
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "40daf375-fbf6-4d46-8564-47bd4a05fdf7",
      "name": "remove trafiltura title - hack",
      "parameters": {
        "jsCode": "const item = { ...$json };\n\n// Always discard Trafilatura title\ndelete item.title;\ndelete item.author;\n\nreturn [{ json: item }];\n"
      },
      "position": [
        944,
        32
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "0a3d5478-3ab2-4199-a276-e93723225434",
      "name": "Extract Title & Author",
      "parameters": {
        "jsCode": "try{const {wf22ExtractTitleAuthor}=require('@igasovic/n8n-blocks');return await wf22ExtractTitleAuthor({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:22-web-extraction/extract-title-author__0a3d5478-3ab2-4199-a276-e93723225434.js] ${e.message}`;throw e;}"
      },
      "position": [
        944,
        -184
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "e3d370cf-c8f9-4022-ab8c-cbdce2d351dd",
      "name": "PKM Normalize Webpage",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({\n  capture_text: $json.capture_text ?? $json.text ?? null,\n  text: $json.text ?? null,\n  content_type: $json.content_type ?? 'newsletter',\n  url: $json.url ?? null,\n  url_canonical: $json.url_canonical ?? null,\n  source: $json.source ?? {\n    system: 'telegram',\n    chat_id: $json.telegram_chat_id || ($json.message && $json.message.chat && $json.message.chat.id) || null,\n    message_id: $json.telegram_message_id || ($json.message && $json.message.message_id) || null,\n    user_id: $json.telegram_user_id || ($json.message && $json.message.from && $json.message.from.id) || null,\n  }\n}))()) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/normalize/webpage"
      },
      "position": [
        1392,
        -16
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "9ceb22a3-83dc-4b29-844e-6a769101b0d2",
      "name": "Merge2",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        1616,
        -88
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "fb9f50f3-1052-48e4-a949-b269a31e0892",
      "name": "PKM Config",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "98 Config",
          "cachedResultUrl": "/workflow/Ue-cGR6_WP4Fe5C19tA28",
          "mode": "list",
          "value": "Ue-cGR6_WP4Fe5C19tA28"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        48,
        -112
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "f6e46a32-f8e6-4adf-aa0f-30469691d814",
      "name": "PKM Insert",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => {\n  const retrieval = $json.retrieval ?? null;\n  const q = retrieval && retrieval.quality ? retrieval.quality : {};\n\n  return {\n    source: 'telegram',\n    intent: 'archive',\n    content_type: $json.content_type ?? 'newsletter',\n    title: $json.title ?? null,\n    author: $json.author ?? null,\n    capture_text: $json.capture_text ?? null,\n    clean_text: $json.clean_text ?? null,\n    url: $json.url ?? null,\n    url_canonical: $json.url_canonical ?? null,\n\n    idempotency_policy_key: $json.idempotency_policy_key ?? null,\n    idempotency_key_primary: $json.idempotency_key_primary ?? null,\n    idempotency_key_secondary: $json.idempotency_key_secondary ?? null,\n\n    metadata: retrieval ? { retrieval } : null,\n    retrieval_excerpt: retrieval ? (retrieval.excerpt ?? null) : null,\n    retrieval_version: retrieval ? (retrieval.version ?? null) : null,\n    source_domain: retrieval ? (retrieval.source_domain ?? null) : null,\n\n    clean_char_count: q.clean_char_count ?? null,\n    extracted_char_count: q.extracted_char_count ?? null,\n    link_count: q.link_count ?? null,\n    link_ratio: q.link_ratio ?? null,\n    boilerplate_heavy: q.boilerplate_heavy ?? null,\n    low_signal: q.low_signal ?? null,\n    quality_score: q.quality_score ?? null\n  };\n})()) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/pkm/insert"
      },
      "position": [
        1840,
        -88
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "f18a3e0b-21fb-427d-9767-bf05b3b7372b",
      "name": "PKM Classify",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({\n  entry_id: $json.entry_id ?? null,\n  title: $json.title ?? null,\n  author: $json.author ?? null,\n  clean_text: $json.clean_text ?? null,\n}))()) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/pkm/classify"
      },
      "position": [
        2288,
        -88
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "31b3ff63-9719-493f-be09-1176aa452fa3",
      "name": "Trafilatura Extract (HTTP)",
      "parameters": {
        "options": {
          "timeout": 20000
        },
        "url": "={{'http://172.18.0.1:8787/extract?url=' + encodeURIComponent($json.url_canonical)}}"
      },
      "position": [
        720,
        32
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4
    },
    {
      "id": "183d92e9-cc72-40ea-960a-29839fe9a5f1",
      "name": "Read Webpage (HTTP)",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (X11; Linux aarch64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome Safari"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        },
        "options": {
          "lowercaseHeaders": false,
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true,
              "outputPropertyName": "html",
              "responseFormat": "text"
            }
          },
          "timeout": 25000
        },
        "sendHeaders": true,
        "url": "={{ $json.url_canonical }}"
      },
      "position": [
        496,
        -256
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "f52f864a-fbce-4db4-a87c-7465f4f086a0",
      "name": "Assert URL Present",
      "parameters": {
        "jsCode": "const urlRaw = String($json.url_canonical || $json.url || '').trim();\nif (!urlRaw) {\n  throw new Error('WF22 requires url/url_canonical input; got empty/missing URL');\n}\nreturn [{ json: { ...$json, url: $json.url || urlRaw, url_canonical: urlRaw } }];"
      },
      "position": [
        272,
        -112
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "7e2f8d58-df68-4f16-9ef6-0a1b56468c95",
      "name": "If 'skipped'",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "c67697d7-59ea-4ab4-b118-35bf42545f57",
              "leftValue": "={{ $json.action }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "skipped"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        2064,
        -88
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    }
  ],
  "settings": {
    "availableInMCP": false,
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/Chicago"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
