src/n8n/workflows/22-web-extraction__eYF7ivDiFwDYgi-pFRbpg.json
{
  "active": true,
  "connections": {
    "Extract Title & Author": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract Title & Author",
            "type": "main"
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Normalize Webpage",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merge2",
            "type": "main"
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Update",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "Read Webpage (HTTP)",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Trafilatura Extract (HTTP)",
            "type": "main"
          },
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Normalize Webpage": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge2",
            "type": "main"
          }
        ]
      ]
    },
    "Read Webpage (HTTP)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Trafilatura Extract (HTTP)": {
      "main": [
        [
          {
            "index": 0,
            "node": "remove trafiltura title - hack",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    },
    "remove trafiltura title - hack": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge1",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "22 Web Extraction",
  "nodes": [
    {
      "id": "634baf51-838f-48a5-9109-b73e79e662fa",
      "name": "When Executed by Another Workflow",
      "notesInFlow": false,
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -176,
        0
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "25209a2d-8dbb-47ca-8de9-ee409f64dca2",
      "name": "Merge",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        576,
        -192
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "e2698dac-1c9a-4244-8b23-8aa8cadee892",
      "name": "Merge1",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        1024,
        -96
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "40daf375-fbf6-4d46-8564-47bd4a05fdf7",
      "name": "remove trafiltura title - hack",
      "parameters": {
        "jsCode": "const item = { ...$json };\n\n// Always discard Trafilatura title\ndelete item.title;\ndelete item.author;\n\nreturn [{ json: item }];\n"
      },
      "position": [
        800,
        32
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "0a3d5478-3ab2-4199-a276-e93723225434",
      "name": "Extract Title & Author",
      "parameters": {
        "jsCode": "try{const {wf22ExtractTitleAuthor}=require('@igasovic/n8n-blocks');return await wf22ExtractTitleAuthor({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:22-web-extraction/extract-title-author__0a3d5478-3ab2-4199-a276-e93723225434.js] ${e.message}`;throw e;}"
      },
      "position": [
        800,
        -192
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "e3d370cf-c8f9-4022-ab8c-cbdce2d351dd",
      "name": "PKM Normalize Webpage",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({\n  text: $json.text ?? $json.extracted_text ?? null,\n  capture_text: $json.capture_text ?? null,\n  content_type: $json.content_type ?? null,\n  url: $json.url ?? null,\n  url_canonical: $json.url_canonical ?? null\n}))()) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/normalize/webpage"
      },
      "position": [
        1472,
        -96
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "9ceb22a3-83dc-4b29-844e-6a769101b0d2",
      "name": "Merge2",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        1248,
        -96
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "fb9f50f3-1052-48e4-a949-b269a31e0892",
      "name": "PKM Config",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "98 Config",
          "cachedResultUrl": "/workflow/Ue-cGR6_WP4Fe5C19tA28",
          "mode": "list",
          "value": "Ue-cGR6_WP4Fe5C19tA28"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        16,
        0
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "f6e46a32-f8e6-4adf-aa0f-30469691d814",
      "name": "PKM Update",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => {\n  const id = $json.id;\n\n  const url = $json.url ?? null;\n  const url_canonical = $json.url_canonical ?? null;\n  const title = $json.title ?? null;\n  const author = $json.author ?? null;\n\n  // only send clean_text/extracted_text if non-empty (matches your previous COALESCE logic)\n  const clean = String($json.clean_text ?? \"\");\n  const cleanTrim = clean.trim();\n\n  const extractedRaw = $json.extracted_text ?? $json.text ?? null;\n  const extracted = (extractedRaw === null || extractedRaw === undefined) ? \"\" : String(extractedRaw);\n  const extractedTrim = extracted.trim();\n\n  // retrieval patch + promoted columns (WP2)\n  const retrieval = $json.retrieval ?? null;\n  const doMeta = !!(retrieval && typeof retrieval === \"object\");\n  const q = doMeta ? (retrieval.quality || {}) : {};\n\n  const body = {\n    id,\n\n    url,\n    url_canonical,\n    title,\n    author,\n\n    returning: [\n      \"entry_id\",\n      \"id\",\n      \"created_at\",\n      \"source\",\n      \"intent\",\n      \"content_type\",\n      \"COALESCE(title,'') AS title\",\n      \"COALESCE(author,'') AS author\",\n      \"COALESCE(clean_text,'') AS clean_text\",\n      \"url_canonical\",\n      \"COALESCE(char_length(clean_text), 0) AS clean_len\",\n      \"COALESCE(char_length(extracted_text), 0) AS extracted_len\"\n    ]\n  };\n\n  // Respect retrieval_update_skipped: only patch retrieval fields when backend returned retrieval.\n  if (doMeta) {\n    body.metadata = { retrieval };\n    body.retrieval_excerpt = retrieval.excerpt ?? null;\n    body.retrieval_version = retrieval.version ?? null;\n    body.source_domain = retrieval.source_domain ?? null;\n\n    body.clean_word_count = q.clean_word_count ?? null;\n    body.clean_char_count = q.clean_char_count ?? null;\n    body.extracted_char_count = q.extracted_char_count ?? null;\n\n    body.link_count = q.link_count ?? null;\n    body.link_ratio = q.link_ratio ?? null;\n\n    body.boilerplate_heavy = q.boilerplate_heavy ?? null;\n    body.low_signal = q.low_signal ?? null;\n    body.extraction_incomplete = q.extraction_incomplete ?? null;\n    body.quality_score = q.quality_score ?? null;\n  }\n\n  if (cleanTrim) {\n    body.clean_text = clean;\n    body.content_hash = $json.content_hash ?? null;\n  }\n  if (extractedTrim) body.extracted_text = extracted;\n\n  return body;\n})()) }}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/db/update"
      },
      "position": [
        1680,
        -96
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "31b3ff63-9719-493f-be09-1176aa452fa3",
      "name": "Trafilatura Extract (HTTP)",
      "parameters": {
        "options": {
          "timeout": 20000
        },
        "url": "={{'http://172.18.0.1:8787/extract?url=' + encodeURIComponent($json.url_canonical)}}"
      },
      "position": [
        576,
        32
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4
    },
    {
      "id": "183d92e9-cc72-40ea-960a-29839fe9a5f1",
      "name": "Read Webpage (HTTP)",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (X11; Linux aarch64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome Safari"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        },
        "options": {
          "lowercaseHeaders": false,
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true,
              "outputPropertyName": "html",
              "responseFormat": "text"
            }
          },
          "timeout": 25000
        },
        "sendHeaders": true,
        "url": "={{ $json.url_canonical }}"
      },
      "position": [
        352,
        -256
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "timezone": "America/Chicago"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
