src/n8n/workflows/23-e-mail-batch-import__M7wdUQ8CxcdbDteRLbd8e.json
{
  "active": false,
  "connections": {
    "Format Import Summary Telegram Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message1",
            "type": "main"
          }
        ]
      ]
    },
    "Format Start Telegram Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message",
            "type": "main"
          }
        ]
      ]
    },
    "Get files": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Start Telegram Message",
            "type": "main"
          },
          {
            "index": 0,
            "node": "PKM Batch Import",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Batch Import": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Import Summary Telegram Message",
            "type": "main"
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get files",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "23 E-Mail Batch Import",
  "nodes": [
    {
      "id": "95804e8f-9bff-41cc-9b51-03617f04e7bb",
      "name": "When clicking ‘Execute workflow’",
      "parameters": {},
      "position": [
        -496,
        -48
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "credentials": {
        "sshPassword": {
          "id": "9D3Ebf2kKfkEuCDJ",
          "name": "SSH Password account"
        }
      },
      "id": "70cbae74-e458-470f-996e-e7249f0530cb",
      "name": "Get files",
      "parameters": {
        "command": "ls -1t /home/igasovic/pkm-import/*.mbox 2>/dev/null | head -n 1"
      },
      "position": [
        -288,
        -48
      ],
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "457f463f-2592-4cba-811c-03f5eb927961",
      "name": "Send a text message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        },
        "chatId": "1509032341",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        -16,
        -240
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "id": "600d0158-e28b-49ad-b377-ec514653ccb8",
      "name": "PKM Batch Import",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={\n  \"mbox_path\": \"{{$json.stdout}}\",\n  \"batch_size\": 500,\n  \"insert_chunk_size\": 200,\n  \"completion_window\": \"24h\",\n  \"max_emails\": 85\n}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/import/email/mbox"
      },
      "position": [
        -16,
        -48
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "b8c2371d-b0c4-4913-a9a8-bfcd523dddd2",
      "name": "Send a text message1",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        },
        "chatId": "1509032341",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        208,
        -48
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "id": "3c25a3f6-0b0a-4a11-9fb7-c18c5f2d1b44",
      "name": "Format Start Telegram Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2Message } = require('@igasovic/n8n-blocks/shared/telegram-markdown.js');\nconst mailbox = String($json?.stdout ?? 'empty');\nreturn [{ json: { ...$json, telegram_message: mdv2Message('Importing mailbox ' + mailbox) } }];\n"
      },
      "position": [
        -144,
        -240
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "9d54b88b-0f8c-4e5f-8bf1-d6de76ec1f8f",
      "name": "Format Import Summary Telegram Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2Message } = require('@igasovic/n8n-blocks/shared/telegram-markdown.js');\nconst b = $json || {};\nconst batch = Array.isArray(b.tier1_batches) && b.tier1_batches[0] ? b.tier1_batches[0] : {};\nconst lines = [\n  'Email backlog import update',\n  '',\n  'Import: ' + String(b.import_id ?? ''),\n  'MBOX: ' + String(b.mbox_path ?? ''),\n  '',\n  'Messages: ' + String(b.total_messages ?? 0),\n  'Normalized: ' + String(b.normalized_ok ?? 0) + ' errors ' + String(b.normalize_errors ?? 0),\n  '',\n  'Schema: ' + String(batch.schema ?? ''),\n  'Inserted: ' + String(b.inserted ?? 0) + ' errors ' + String(b.insert_errors ?? 0),\n  'Updated: ' + String(b.updated ?? 0),\n  'Skipped: ' + String(b.skipped ?? 0),\n  '',\n  'Tier-1 candidates: ' + String(b.tier1_candidates ?? 0),\n  'Tier-1 enqueued: ' + String(b.tier1_enqueued_items ?? 0),\n  'Tier-1 requests: ' + String(batch.request_count ?? 0),\n  'Status: ' + String(batch.status ?? ''),\n];\nreturn [{ json: { ...$json, telegram_message: mdv2Message(lines.join('\\n')) } }];\n"
      },
      "position": [
        96,
        -48
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
