src/n8n/workflows/30-calendar-create__valOh9zMfqOZOvmHyOQfa.json
{
  "active": true,
  "activeVersionId": "eae47601-c212-49a3-b2ab-963c3da19f34",
  "connections": {
    "Build Google Event Payload": {
      "main": [
        [
          {
            "index": 0,
            "node": "Google Calendar Check Conflicts",
            "type": "main"
          }
        ]
      ]
    },
    "Build Normalize Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Calendar Normalize",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merge Normalize Context",
            "type": "main"
          }
        ]
      ]
    },
    "Format Create Result Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Create Result Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format Normalize Status Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Calendar Message",
            "type": "main"
          }
        ]
      ]
    },
    "Google Calendar Check Conflicts": {
      "main": [
        [
          {
            "index": 0,
            "node": "Prepare Conflict Context",
            "type": "main"
          }
        ]
      ]
    },
    "Google Calendar Create Event": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge Create Context",
            "type": "main"
          }
        ]
      ]
    },
    "Merge Create Context": {
      "main": [
        [
          {
            "index": 0,
            "node": "Prepare Finalize Request",
            "type": "main"
          }
        ]
      ]
    },
    "Merge Finalize Context": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Create Result Message",
            "type": "main"
          }
        ]
      ]
    },
    "Merge Normalize Context": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch Normalize Status",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Calendar Finalize": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge Finalize Context",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Calendar Normalize": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge Normalize Context",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Normalize Request",
            "type": "main"
          }
        ]
      ]
    },
    "Prepare Conflict Context": {
      "main": [
        [
          {
            "index": 0,
            "node": "Google Calendar Create Event",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merge Create Context",
            "type": "main"
          }
        ]
      ]
    },
    "Prepare Finalize Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Calendar Finalize",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merge Finalize Context",
            "type": "main"
          }
        ]
      ]
    },
    "Switch Normalize Status": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Google Event Payload",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Format Normalize Status Message",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Format Normalize Status Message",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-13T04:53:08.825Z",
  "description": null,
  "isArchived": false,
  "name": "30 Calendar Create",
  "nodes": [
    {
      "id": "7ebf9b2d-09f7-4dbf-9d50-0b48ab4d9f8a",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -224,
        -32
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "2c5a6f9a-9478-4a17-b577-c47fd79a5ce1",
      "name": "PKM Config",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "98 Config",
          "cachedResultUrl": "/workflow/Ue-cGR6_WP4Fe5C19tA28",
          "mode": "list",
          "value": "Ue-cGR6_WP4Fe5C19tA28"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        0,
        -32
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "f4f4204e-e5ec-4df7-9739-3f9734f9db8f",
      "name": "Build Normalize Request",
      "parameters": {
        "jsCode": "'use strict';\n\nconst asText = (value) => String(value === undefined || value === null ? '' : value).trim();\n\n  const message = ($json && $json.message) || {};\n  const rawTextInput = asText($json.raw_text || message.text || message.caption || '');\n  const rawText = rawTextInput.replace(/^cal:\\s*/i, '').trim();\n  const chatId = asText($json.telegram_chat_id || (message.chat && message.chat.id));\n  const messageId = asText($json.telegram_message_id || message.message_id);\n  const actorCode = asText($json.actor_code).toLowerCase() || 'unknown';\n  const userId = asText($json.telegram_user_id || (message.from && message.from.id));\n\n  if (!rawText) throw new Error('calendar create requires raw_text');\n  if (!chatId) throw new Error('calendar create requires telegram_chat_id');\n  if (!messageId) throw new Error('calendar create requires telegram_message_id');\n\n  return [{\n    json: {\n      ...$json,\n      raw_text: rawText,\n      actor_code: actorCode,\n      source: {\n        chat_id: chatId,\n        message_id: messageId,\n        user_id: userId || null,\n      },\n      request_id: asText($json.request_id) || null,\n      telegram_user_id: userId || null,\n      route_confidence: Number.isFinite(Number($json.confidence)) ? Number($json.confidence) : null,\n      family_calendar_id: asText($json.family_calendar_id || ($json.config && $json.config.calendar && $json.config.calendar.family_calendar_id)) || null,\n    },\n  }];\n"
      },
      "position": [
        224,
        -32
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "4adf4c6e-fd14-4b57-a356-5b4f23f87897",
      "name": "PKM Calendar Normalize",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-pkm-admin-secret",
              "value": "={{ $env.PKM_ADMIN_SECRET }}"
            },
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ raw_text: $json.raw_text, actor_code: $json.actor_code, telegram_user_id: $json.telegram_user_id || undefined, source: $json.source, request_id: $json.request_id || undefined, route_confidence: $json.route_confidence, run_id: $execution.id }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/calendar/normalize"
      },
      "position": [
        448,
        40
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "3ea0e318-e86d-4dbc-8d5a-0ec0e5d62e89",
      "name": "Merge Normalize Context",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        672,
        -32
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "1687a219-2ca8-4b73-bf2e-7de6d5a70f43",
      "name": "Switch Normalize Status",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f40fa9f2-9ea4-4c47-9f13-cfcd19411609",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "ready_to_create"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "ready_to_create",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "83f8d683-b515-40cb-9164-d7a253b021e9",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "needs_clarification"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "needs_clarification",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "89f7ca77-d82e-40d0-bf9d-c5a95f88ddfe",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "rejected"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "rejected",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        896,
        -48
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4
    },
    {
      "id": "0af1807e-cdf2-4012-a671-ee3f205ff9e4",
      "name": "Format Normalize Status Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2Message } = require('/data/src/libs/telegram-markdown.js');\nconst asText = (value) => String(value === undefined || value === null ? '' : value).trim();\nconst status = asText($json.status);\nconst chatId = asText($json.telegram_chat_id || ($json.message && $json.message.chat && $json.message.chat.id));\n\nlet text = '';\nif (status === 'needs_clarification') {\n  text = asText($json.clarification_question) || 'I need a bit more detail before creating this event.';\n} else if (status === 'rejected') {\n  text = asText($json.message) || 'This request is not supported in the current calendar flow.';\n} else {\n  text = 'Calendar request status updated.';\n}\n\nreturn [{ json: { ...$json, telegram_chat_id: chatId, telegram_message: mdv2Message(text) } }];\n"
      },
      "position": [
        1120,
        64
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "5dba5f73-09ed-4350-b6c6-00abddbf7f0a",
      "name": "Send Calendar Message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ (($json.message && $json.message.chat && $json.message.chat.id) || $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID) }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        1344,
        64
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "52a26fb9-71fe-407b-b4c1-0f4073cbf07b"
    },
    {
      "id": "bb6d3e8a-4461-4ea5-8d5d-0fa8d4f5e479",
      "name": "Build Google Event Payload",
      "parameters": {
        "jsCode": "'use strict';\n\nconst asText = (value) => String(value === undefined || value === null ? '' : value).trim();\n  const event = ($json && $json.normalized_event) || null;\n  if (!event || $json.status !== 'ready_to_create') {\n    throw new Error('expected status=ready_to_create with normalized_event');\n  }\n\n  const block = event.block_window || {};\n  const startDate = asText(block.start_date_local || event.date_local);\n  const startTime = asText(block.start_time_local || event.start_time_local);\n  const endDate = asText(block.end_date_local || event.end_date_local);\n  const endTime = asText(block.end_time_local || event.end_time_local);\n\n  if (!startDate || !startTime || !endDate || !endTime) {\n    throw new Error('normalized event block window is incomplete');\n  }\n\n  const calendarId = asText($json.family_calendar_id || ($json.config && $json.config.calendar && $json.config.calendar.family_calendar_id)) || 'primary';\n  const requestId = asText($json.request_id);\n  const chatId = asText($json.telegram_chat_id);\n  const messageId = asText($json.telegram_message_id);\n  const subjectCode = asText(event.subject_code || event.title);\n\n  const startLocal = `${startDate}T${startTime}:00`;\n  const endLocal = `${endDate}T${endTime}:00`;\n  const location = asText(event.location) || null;\n\n  const descriptionParts = [\n    `PKM request id: ${requestId || '-'}`,\n    `PKM source key: tgcal:${chatId || '-'}:${messageId || '-'}`,\n    `Original start: ${event.original_start && event.original_start.date_local ? `${event.original_start.date_local} ${event.original_start.time_local || ''}`.trim() : '-'}`,\n  ];\n\n  return [{\n    json: {\n      ...$json,\n      request_id: requestId,\n      google_calendar_id: calendarId,\n      google_start: startLocal,\n      google_end: endLocal,\n      google_summary: subjectCode,\n      google_description: descriptionParts.join('\\n'),\n      google_location: location,\n      google_color_id: asText(event.color_choice && event.color_choice.google_color_id) || null,\n      confirmation_subject: subjectCode,\n      confirmation_block_start: `${startDate} ${startTime}`,\n      confirmation_block_end: `${endDate} ${endTime}`,\n    },\n  }];\n"
      },
      "position": [
        1120,
        -128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "qQOl2xfICHsxoZU2",
          "name": "GCal"
        }
      },
      "id": "d5f2cb9c-d4bf-4c84-bf9c-d6352c6b8cf4",
      "maxTries": 2,
      "name": "Google Calendar Create Event",
      "onError": "continueRegularOutput",
      "parameters": {
        "additionalFields": {
          "color": "={{ $json.google_color_id }}",
          "description": "={{ $json.google_description }}",
          "location": "={{ $json.google_location }}",
          "summary": "={{ $json.google_summary }}"
        },
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.google_calendar_id }}"
        },
        "end": "={{ $json.google_end }}",
        "start": "={{ $json.google_start }}"
      },
      "position": [
        1792,
        -56
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3
    },
    {
      "id": "cde4af17-53d8-44f2-8fd2-0cd6e4e8de7e",
      "name": "Merge Create Context",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        2016,
        -128
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "e114ec84-f1a4-4796-84a0-d4ec1229b304",
      "name": "Prepare Finalize Request",
      "parameters": {
        "jsCode": "try{const fn=require('/data/src/n8n/nodes/30-calendar-create/prepare-finalize-request__e114ec84-f1a4-4796-84a0-d4ec1229b304.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:30-calendar-create/prepare-finalize-request__e114ec84-f1a4-4796-84a0-d4ec1229b304.js] ${e.message}`;throw e;}"
      },
      "position": [
        2240,
        -128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f486d398-fd56-43f7-8b42-b3d85f7fe9c6",
      "name": "PKM Calendar Finalize",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-pkm-admin-secret",
              "value": "={{ $env.PKM_ADMIN_SECRET }}"
            },
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ request_id: $json.request_id, success: $json.success, final_status: $json.final_status, google_calendar_id: $json.google_calendar_id, google_event_id: $json.google_event_id, error: $json.error, run_id: $execution.id }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/calendar/finalize"
      },
      "position": [
        2464,
        -56
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "4ced4674-c22a-4c5e-b0ad-c7fcb6f6954c",
      "name": "Merge Finalize Context",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        2688,
        -128
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "e8f7ecd4-c0fe-45e9-8d4a-a31e9c7877f4",
      "name": "Format Create Result Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2Message } = require('/data/src/libs/telegram-markdown.js');\nconst asText = (value) => String(value === undefined || value === null ? '' : value).trim();\nconst asArray = (value) => Array.isArray(value) ? value : [];\n\nconst parseSubject = (subject) => {\n  const s = asText(subject);\n  const m = s.match(/^\\[([^\\]]+)\\]\\[([^\\]]+)\\]\\s*(.+)$/);\n  if (!m) return { pretty: s || 'Event' };\n  return { pretty: asText(m[1]) + '/' + asText(m[2]) + ' ' + (asText(m[3]) || 'Event') };\n};\n\nconst status = asText($json.status || $json.final_status || $json.request_status);\nconst success = status === 'calendar_created' || $json.success === true;\nconst chatId = asText($json.telegram_chat_id || ($json.message && $json.message.chat && $json.message.chat.id));\n\nlet telegramMessage = '';\nif (success) {\n  const subjectRaw = asText($json.confirmation_subject || ($json.normalized_event && $json.normalized_event.subject_code) || 'Event');\n  const parsed = parseSubject(subjectRaw);\n  const start = asText($json.confirmation_block_start || (($json.normalized_event && $json.normalized_event.block_window)\n    ? $json.normalized_event.block_window.start_date_local + ' ' + $json.normalized_event.block_window.start_time_local\n    : ''));\n  const end = asText($json.confirmation_block_end || (($json.normalized_event && $json.normalized_event.block_window)\n    ? $json.normalized_event.block_window.end_date_local + ' ' + $json.normalized_event.block_window.end_time_local\n    : ''));\n\n  const lines = ['Calendar event created', parsed.pretty, start + ' -> ' + end];\n\n  const conflictCount = Number($json.conflict_count || 0);\n  if (Number.isFinite(conflictCount) && conflictCount > 0) {\n    lines.push('Potential conflicts: ' + conflictCount);\n    asArray($json.conflict_preview).map(asText).filter(Boolean).slice(0, 3).forEach((entry) => {\n      lines.push('- ' + entry);\n    });\n  }\n\n  telegramMessage = mdv2Message(lines.join('\\n').trim());\n} else {\n  const errorMessage = asText($json.error && $json.error.message) || asText($json.message) || 'Calendar event could not be created. Please retry.';\n  telegramMessage = mdv2Message(['Calendar event failed', errorMessage].join('\\n'));\n}\n\nreturn [{ json: { ...$json, telegram_chat_id: chatId, telegram_message: telegramMessage } }];\n"
      },
      "position": [
        2912,
        -128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "0c286f65-54b5-476f-8be6-03a5a07ea149",
      "name": "Send Create Result Message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ (($json.message && $json.message.chat && $json.message.chat.id) || $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID) }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        3136,
        -128
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "bec5afba-46d4-449e-8cea-3c8f4f1ee309"
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "qQOl2xfICHsxoZU2",
          "name": "GCal"
        }
      },
      "id": "4f5207df-f6f9-469a-8c2b-f2a1d274f74a",
      "name": "Google Calendar Check Conflicts",
      "onError": "continueRegularOutput",
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.google_calendar_id }}"
        },
        "operation": "getAll",
        "options": {
          "orderBy": "startTime"
        },
        "returnAll": true,
        "timeMax": "={{ $json.google_end }}",
        "timeMin": "={{ $json.google_start }}"
      },
      "position": [
        1344,
        -128
      ],
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3
    },
    {
      "id": "5bdbddf0-d8cf-4f5a-ae4d-f4cca9dc3f3d",
      "name": "Prepare Conflict Context",
      "parameters": {
        "jsCode": "try{const fn=require('/data/src/n8n/nodes/30-calendar-create/prepare-conflict-context__5bdbddf0-d8cf-4f5a-ae4d-f4cca9dc3f3d.js');return await fn({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:30-calendar-create/prepare-conflict-context__5bdbddf0-d8cf-4f5a-ae4d-f4cca9dc3f3d.js] ${e.message}`;throw e;}"
      },
      "position": [
        1568,
        -128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-03-13T04:53:08.825Z",
      "project": {
        "createdAt": "2026-01-12T01:58:24.486Z",
        "creatorId": "d87e0db9-0ac0-46ea-9218-1eb181231d8f",
        "description": null,
        "icon": null,
        "id": "m23P41JejIbnV7Xa",
        "name": "Igor Gasovic <skljstore@gmail.com>",
        "type": "personal",
        "updatedAt": "2026-01-12T04:27:38.916Z"
      },
      "projectId": "m23P41JejIbnV7Xa",
      "role": "workflow:owner",
      "updatedAt": "2026-03-13T04:53:08.825Z",
      "workflowId": "valOh9zMfqOZOvmHyOQfa"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-14T19:33:24.560Z",
  "versionCounter": 72
}
