src/n8n/workflows/31-calendar-read__DwtBNN8QIebQC3G-IsuCU.json
{
  "active": true,
  "connections": {
    "Format Calendar Read Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Calendar Read Message",
            "type": "main"
          },
          {
            "index": 0,
            "node": "IF Has Observe Items",
            "type": "main"
          },
          {
            "index": 0,
            "node": "IF Has Request ID",
            "type": "main"
          }
        ]
      ]
    },
    "Google Calendar Get Events": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Calendar Read Message",
            "type": "main"
          }
        ]
      ]
    },
    "IF Has Observe Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Calendar Observe",
            "type": "main"
          }
        ],
        []
      ]
    },
    "IF Has Request ID": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Calendar Finalize Query",
            "type": "main"
          }
        ],
        []
      ]
    },
    "PKM Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse Calendar Query",
            "type": "main"
          }
        ]
      ]
    },
    "Parse Calendar Query": {
      "main": [
        [
          {
            "index": 0,
            "node": "Google Calendar Get Events",
            "type": "main"
          }
        ]
      ]
    },
    "Send Calendar Read Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Finalize Calendar Read Result",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "31 Calendar Read",
  "nodes": [
    {
      "id": "319f7a6a-0fcb-4d60-a109-ad930380a8f8",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -224,
        -48
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "95d15222-a25d-483f-8e5b-2dfad145db14",
      "name": "PKM Config",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "98 Config",
          "cachedResultUrl": "/workflow/Ue-cGR6_WP4Fe5C19tA28",
          "mode": "list",
          "value": "Ue-cGR6_WP4Fe5C19tA28"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        0,
        -48
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "4e50a2c6-39cc-4f56-bb9f-a5cc0f6ff6f8",
      "name": "Parse Calendar Query",
      "parameters": {
        "jsCode": "try{const {wf31ParseCalendarQuery}=require('@igasovic/n8n-blocks');return await wf31ParseCalendarQuery({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:31-calendar-read/parse-calendar-query__4e50a2c6-39cc-4f56-bb9f-a5cc0f6ff6f8.js] ${e.message}`;throw e;}"
      },
      "position": [
        224,
        -48
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "qQOl2xfICHsxoZU2",
          "name": "GCal"
        }
      },
      "id": "f2552cd9-2749-45ac-a191-4ce9f2b49106",
      "name": "Google Calendar Get Events",
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.google_calendar_id }}"
        },
        "operation": "getAll",
        "options": {
          "orderBy": "startTime"
        },
        "returnAll": true,
        "timeMax": "={{ $json.window_end_local }}",
        "timeMin": "={{ $json.window_start_local }}"
      },
      "position": [
        448,
        -48
      ],
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3
    },
    {
      "id": "7ec3a63a-4e24-4d8b-aa65-7644b31d6162",
      "name": "Format Calendar Read Message",
      "parameters": {
        "jsCode": "try{const {wf31FormatCalendarReadMessage}=require('@igasovic/n8n-blocks');return await wf31FormatCalendarReadMessage({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:31-calendar-read/format-calendar-read-message__7ec3a63a-4e24-4d8b-aa65-7644b31d6162.js] ${e.message}`;throw e;}"
      },
      "position": [
        672,
        -48
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "bc163103-a2d0-4606-9f34-94a1b4ce8128",
      "name": "Send Calendar Read Message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": "={{ $json.smoke_telegram_dry_run === true }}",
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ (($json.message && $json.message.chat && $json.message.chat.id) || $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID) }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        896,
        -240
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "c7f12af1-257a-4396-84e5-59dfccab35d6"
    },
    {
      "id": "547fb26f-d0dd-4ff8-97e6-0acb565e0964",
      "name": "IF Has Observe Items",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "a3e8d7e7-12dd-489f-aa95-29f57ca806f4",
              "leftValue": "={{ Array.isArray($json.observe_items) && $json.observe_items.length > 0 }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "position": [
        896,
        -48
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "4a4f65bc-c082-447d-b5bc-8dc87eb62ddb",
      "name": "PKM Calendar Observe",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-pkm-admin-secret",
              "value": "={{ $env.PKM_ADMIN_SECRET }}"
            },
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ run_id: $execution.id, items: $json.observe_items || [] }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/calendar/observe"
      },
      "position": [
        1120,
        -48
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "9f54f1f9-7f65-4abd-a4ed-ea5de38341f2",
      "name": "IF Has Request ID",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "f1770223-8fd4-4eb9-96e8-86f96cefa5b4",
              "leftValue": "={{ !!$json.request_id }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "position": [
        896,
        144
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "324ce704-508d-47c5-ae31-2f12737c0f6e",
      "name": "PKM Calendar Finalize Query",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-pkm-admin-secret",
              "value": "={{ $env.PKM_ADMIN_SECRET }}"
            },
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ request_id: $json.request_id, final_status: 'query_answered', success: true, run_id: $execution.id }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/calendar/finalize"
      },
      "position": [
        1120,
        144
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "b0f1fd81-c09c-436e-a25d-bab916ee899e",
      "name": "Finalize Calendar Read Result",
      "parameters": {
        "jsCode": "'use strict';\n\nconst assertions = [];\nconst msg = String($json.telegram_message || '');\nassertions.push({ name: 'telegram_message_non_empty', ok: msg.length > 0 });\nassertions.push({ name: 'events_count_present', ok: Number.isFinite(Number($json.events_count ?? 0)) });\nif ($json.calendar_test_mode === true) {\n  assertions.push({ name: 'calendar_id_is_test', ok: !!$json.google_calendar_id && $json.google_calendar_id === $json.test_calendar_id });\n}\nif ($json.expected_google_event_id) {\n  assertions.push({ name: 'expected_event_found', ok: $json.smoke_expected_event_found === true || $json.smoke_tagged_event_found === true });\n}\nconst ok = assertions.every((a) => a.ok === true);\nreturn [{\n  json: {\n    ...$json,\n    test_case: 'calendar_read',\n    ok,\n    run_id: $json.test_run_id || null,\n    artifacts: {\n      google_calendar_id: $json.google_calendar_id ?? null,\n      expected_google_event_id: $json.expected_google_event_id ?? null,\n      events_count: $json.events_count ?? 0,\n      telegram_message: msg || null,\n      smoke_expected_event_found: $json.smoke_expected_event_found === true,\n      smoke_tagged_event_found: $json.smoke_tagged_event_found === true,\n    },\n    assertions,\n    error: ok ? null : { message: 'calendar read assertions failed' },\n  },\n}];"
      },
      "position": [
        1120,
        -240
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
