src/n8n/workflows/32-calendar-daily-report__QLTdG1wgxruxTdPr36e1I.json
{
  "active": true,
  "connections": {
    "Build Report Window": {
      "main": [
        [
          {
            "index": 0,
            "node": "Google Calendar Get Events",
            "type": "main"
          }
        ]
      ]
    },
    "Format Calendar Report Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Calendar Report Message",
            "type": "main"
          },
          {
            "index": 0,
            "node": "IF Has Observe Items",
            "type": "main"
          }
        ]
      ]
    },
    "Google Calendar Get Events": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Calendar Report Message",
            "type": "main"
          }
        ]
      ]
    },
    "IF Has Observe Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Calendar Observe",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Report Window",
            "type": "main"
          }
        ]
      ]
    },
    "Schedule Daily Report": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "32 Calendar Daily Report",
  "nodes": [
    {
      "id": "4797dc18-a6bd-4dfa-86bf-0799d40c3fe0",
      "name": "Schedule Daily Report",
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "position": [
        -1152,
        144
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "8cae70ff-ad97-4a9d-8d59-badb71b1a403",
      "name": "PKM Config",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "98 Config",
          "cachedResultUrl": "/workflow/Ue-cGR6_WP4Fe5C19tA28",
          "mode": "list",
          "value": "Ue-cGR6_WP4Fe5C19tA28"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -896,
        144
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "ecf30966-6990-4e1d-9611-729f02c53a61",
      "name": "Build Report Window",
      "parameters": {
        "jsCode": "try{const {wf32BuildReportWindow}=require('@igasovic/n8n-blocks');return await wf32BuildReportWindow({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:32-calendar-daily-report/build-report-window__ecf30966-6990-4e1d-9611-729f02c53a61.js] ${e.message}`;throw e;}"
      },
      "position": [
        -672,
        144
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "qQOl2xfICHsxoZU2",
          "name": "GCal"
        }
      },
      "id": "6e8b258b-ac93-4b44-bc58-48cc301209ac",
      "name": "Google Calendar Get Events",
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.google_calendar_id }}"
        },
        "operation": "getAll",
        "options": {
          "orderBy": "startTime"
        },
        "returnAll": true,
        "timeMax": "={{ $json.window_end_local }}",
        "timeMin": "={{ $json.window_start_local }}"
      },
      "position": [
        -448,
        144
      ],
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3
    },
    {
      "id": "dd8df3c8-4be6-442f-b28c-05fa47e25751",
      "name": "Format Calendar Report Message",
      "parameters": {
        "jsCode": "try{const {wf32FormatCalendarReportMessage}=require('@igasovic/n8n-blocks');return await wf32FormatCalendarReportMessage({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:32-calendar-daily-report/format-calendar-report-message__dd8df3c8-4be6-442f-b28c-05fa47e25751.js] ${e.message}`;throw e;}"
      },
      "position": [
        -224,
        144
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "a47d6efb-9d29-4382-923d-c84f00d4f0be",
      "name": "Send Calendar Report Message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "f2b99547-9cec-487b-bee1-5137fd09b0ab"
    },
    {
      "id": "5ed32c53-39db-4563-9ff6-2b0c2223648c",
      "name": "IF Has Observe Items",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "5ce58d56-7367-4b14-a8fb-182f18c99572",
              "leftValue": "={{ Array.isArray($json.observe_items) && $json.observe_items.length > 0 }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "position": [
        0,
        192
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "1df77919-1dde-4cba-99a3-bfdb05d1456d",
      "name": "PKM Calendar Observe",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-pkm-admin-secret",
              "value": "={{ $env.PKM_ADMIN_SECRET }}"
            },
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ run_id: $execution.id, items: $json.observe_items || [] }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/calendar/observe"
      },
      "position": [
        224,
        192
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "timezone": "America/Chicago"
  },
  "staticData": {
    "node:Schedule Daily Report": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1
}
