src/n8n/workflows/33-calendar-weekly-report__SXHzt_I3Zn2VWs7f_MS3I.json
{
  "active": true,
  "connections": {
    "Build Report Window": {
      "main": [
        [
          {
            "index": 0,
            "node": "Google Calendar Get Events",
            "type": "main"
          }
        ]
      ]
    },
    "Format Calendar Report Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Calendar Report Message",
            "type": "main"
          },
          {
            "index": 0,
            "node": "IF Has Observe Items",
            "type": "main"
          }
        ]
      ]
    },
    "Google Calendar Get Events": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Calendar Report Message",
            "type": "main"
          }
        ]
      ]
    },
    "IF Has Observe Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Calendar Observe",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Report Window",
            "type": "main"
          }
        ]
      ]
    },
    "Schedule Weekly Report": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Config",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "33 Calendar Weekly Report",
  "nodes": [
    {
      "id": "bd2cdc07-82d9-4633-9de3-0d9a15230023",
      "name": "Schedule Weekly Report",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 18,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "position": [
        -1152,
        144
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "5880a1eb-7049-48dd-90ec-c357b1885a3b",
      "name": "PKM Config",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "98 Config",
          "cachedResultUrl": "/workflow/Ue-cGR6_WP4Fe5C19tA28",
          "mode": "list",
          "value": "Ue-cGR6_WP4Fe5C19tA28"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -896,
        144
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "995314b7-3d8b-4f6d-9c9f-c59153259abc",
      "name": "Build Report Window",
      "parameters": {
        "jsCode": "try{const {wf33BuildReportWindow}=require('@igasovic/n8n-blocks');return await wf33BuildReportWindow({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:33-calendar-weekly-report/build-report-window__995314b7-3d8b-4f6d-9c9f-c59153259abc.js] ${e.message}`;throw e;}"
      },
      "position": [
        -672,
        144
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "qQOl2xfICHsxoZU2",
          "name": "GCal"
        }
      },
      "id": "5df0fc21-169e-4789-bb54-cec03853f527",
      "name": "Google Calendar Get Events",
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.google_calendar_id }}"
        },
        "operation": "getAll",
        "options": {
          "orderBy": "startTime"
        },
        "returnAll": true,
        "timeMax": "={{ $json.window_end_local }}",
        "timeMin": "={{ $json.window_start_local }}"
      },
      "position": [
        -448,
        144
      ],
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3
    },
    {
      "id": "17d546c7-033a-4190-951a-da2918721239",
      "name": "Format Calendar Report Message",
      "parameters": {
        "jsCode": "try{const {wf33FormatCalendarReportMessage}=require('@igasovic/n8n-blocks');return await wf33FormatCalendarReportMessage({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:33-calendar-weekly-report/format-calendar-report-message__17d546c7-033a-4190-951a-da2918721239.js] ${e.message}`;throw e;}"
      },
      "position": [
        -224,
        144
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "d9a6949f-0dbc-48b2-b970-4823f503ec10",
      "name": "Send Calendar Report Message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3b714867-c8bd-4c5d-8c79-009ce75b750f"
    },
    {
      "id": "314a7552-2dda-4979-bb7c-a1a2ae85bd63",
      "name": "IF Has Observe Items",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "a20611a7-97ef-4a64-bb5d-f1a29d46dceb",
              "leftValue": "={{ Array.isArray($json.observe_items) && $json.observe_items.length > 0 }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "position": [
        0,
        192
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "2c8ffdb7-a743-4a13-b84e-ecd2eb763516",
      "name": "PKM Calendar Observe",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-pkm-admin-secret",
              "value": "={{ $env.PKM_ADMIN_SECRET }}"
            },
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ run_id: $execution.id, items: $json.observe_items || [] }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/calendar/observe"
      },
      "position": [
        224,
        192
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW"
  },
  "staticData": {
    "node:Schedule Weekly Report": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1
}
