src/n8n/workflows/34-todoist-sync__DRZuGE13tERDJMta.json
{
  "active": true,
  "connections": {
    "Build Sync Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Todoist Sync",
            "type": "main"
          }
        ]
      ]
    },
    "Fetch Todoist Projects": {
      "main": [
        [
          {
            "index": 0,
            "node": "Fetch Todoist Sections",
            "type": "main"
          }
        ]
      ]
    },
    "Fetch Todoist Sections": {
      "main": [
        [
          {
            "index": 0,
            "node": "Select Allowed Projects",
            "type": "main"
          }
        ]
      ]
    },
    "Fetch Todoist Tasks": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Sync Request",
            "type": "main"
          }
        ]
      ]
    },
    "Schedule Hourly Sync": {
      "main": [
        [
          {
            "index": 0,
            "node": "Fetch Todoist Projects",
            "type": "main"
          }
        ]
      ]
    },
    "Select Allowed Projects": {
      "main": [
        [
          {
            "index": 0,
            "node": "Fetch Todoist Tasks",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Fetch Todoist Projects",
            "type": "main"
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "index": 0,
            "node": "Fetch Todoist Projects",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "34 Todoist Sync",
  "nodes": [
    {
      "id": "9d6a8f77-44a1-4d2a-a0db-9eeb6ab0f945",
      "name": "Schedule Hourly Sync",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "position": [
        -896,
        64
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "2cae25f6-6745-466e-88f9-624089fdd2d4",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -896,
        256
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "todoistApi": {
          "id": "wK1zNY9yBtU9Hhd4",
          "name": "Todoist account"
        }
      },
      "id": "4d2cd4a4-e611-4a86-af27-92f61f084d56",
      "name": "Fetch Todoist Projects",
      "parameters": {
        "operation": "getAll",
        "resource": "project"
      },
      "position": [
        -672,
        160
      ],
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "todoistApi": {
          "id": "wK1zNY9yBtU9Hhd4",
          "name": "Todoist account"
        }
      },
      "id": "d8e1f6e1-6d84-4a77-ac3b-2be949f4f7e0",
      "name": "Fetch Todoist Sections",
      "parameters": {
        "operation": "getAll",
        "resource": "section",
        "sectionFilters": {}
      },
      "position": [
        -448,
        160
      ],
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "todoistApi": {
          "id": "wK1zNY9yBtU9Hhd4",
          "name": "Todoist account"
        }
      },
      "id": "59fcbf4a-7a14-43ce-a16a-e22ef3bf7f23",
      "name": "Fetch Todoist Tasks",
      "parameters": {
        "filters": {
          "projectId": "={{ $json.todoist_project_id || $json.id }}"
        },
        "operation": "getAll",
        "returnAll": true
      },
      "position": [
        0,
        160
      ],
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2
    },
    {
      "id": "b5c92ae2-5b7f-43cc-a53a-0e47631ef5ac",
      "name": "Build Sync Request",
      "parameters": {
        "jsCode": "try{const {wf34BuildSyncRequest}=require('@igasovic/n8n-blocks');return await wf34BuildSyncRequest({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:34-todoist-sync/build-sync-request__b5c92ae2-5b7f-43cc-a53a-0e47631ef5ac.js] ${e.message}`;throw e;}"
      },
      "position": [
        224,
        160
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d97d2d64-629a-4530-bfcb-65ea2f5f9f8c",
      "name": "PKM Todoist Sync",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ run_id: $execution.id, fetched_at: $json.fetched_at || null, tasks: Array.isArray($json.tasks) ? $json.tasks : [] }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/todoist/sync"
      },
      "position": [
        448,
        160
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "f0f6e98a-b99f-4c8d-8f0e-2af5f5db5b86",
      "name": "Select Allowed Projects",
      "parameters": {
        "jsCode": "const allowed={\"home 🏡\":\"home\",home:\"home\",personal:\"personal\",work:\"work\",inbox:\"inbox\"};\nconst normalize=(v)=>String(v??'').trim().toLowerCase();\nconst projects=(typeof $items==='function'?$items('Fetch Todoist Projects',0,0):[]).map((r)=>r&&r.json?r.json:null).filter(Boolean);\nconst out=[];\nfor (const p of projects){\n  const id=String(p.id??'').trim();\n  const name=String(p.name??'').trim();\n  const key=allowed[normalize(name)]||null;\n  if(!id||!name||!key) continue;\n  out.push({json:{todoist_project_id:id,todoist_project_name:name,project_key:key}});\n}\nreturn out;"
      },
      "position": [
        -224,
        160
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f7abf290-3459-43ee-b71c-663076d67297",
      "name": "When clicking ‘Execute workflow’",
      "parameters": {},
      "position": [
        -896,
        464
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    }
  ],
  "settings": {
    "availableInMCP": false,
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  },
  "staticData": {
    "node:Schedule Hourly Sync": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1
}
