src/n8n/workflows/35-todoist-daily-focus__I6hCk9p2rTqYw4xNm8v1K.json
{
  "active": true,
  "connections": {
    "Schedule Daily Focus": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run Todoist Sync",
            "type": "main"
          }
        ]
      ]
    },
    "Run Todoist Sync": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Daily Brief Request",
            "type": "main"
          }
        ]
      ]
    },
    "Build Daily Brief Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Todoist Daily Brief",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Todoist Daily Brief": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Daily Focus Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format Daily Focus Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Daily Focus Message",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "35 Todoist Daily Focus",
  "nodes": [
    {
      "id": "f6e2a9b3-90e0-4e6f-8350-f7ce2d2e2ff2",
      "name": "Schedule Daily Focus",
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "position": [
        -672,
        64
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "ea138716-421c-4fb0-8cf4-df9a0078afd9",
      "name": "Run Todoist Sync",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "34 Todoist Sync",
          "cachedResultUrl": "/workflow/o-4gF6T11iZ9m5b2w0a1a",
          "mode": "list",
          "value": "o-4gF6T11iZ9m5b2w0a1a"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -448,
        64
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "f55f0158-4c8f-4c52-90f4-2fe8d21564c1",
      "name": "Build Daily Brief Request",
      "parameters": {
        "jsCode": "try{const {wf35BuildDailyBriefRequest}=require('@igasovic/n8n-blocks');return await wf35BuildDailyBriefRequest({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:35-todoist-daily-focus/build-daily-brief-request__f55f0158-4c8f-4c52-90f4-2fe8d21564c1.js] ${e.message}`;throw e;}"
      },
      "position": [
        -224,
        64
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "6a26b1e4-2a9f-44da-b911-e9659cab2374",
      "name": "PKM Todoist Daily Brief",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ run_id: $execution.id, now: $json.now || null, telegram_chat_id: $json.telegram_chat_id || null }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/todoist/brief/daily"
      },
      "position": [
        0,
        64
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "5d2798a2-7109-4f4f-a7ea-743f9f726f2d",
      "name": "Format Daily Focus Message",
      "parameters": {
        "jsCode": "try{const {wf35FormatDailyFocusMessage}=require('@igasovic/n8n-blocks');return await wf35FormatDailyFocusMessage({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:35-todoist-daily-focus/format-daily-focus-message__5d2798a2-7109-4f4f-a7ea-743f9f726f2d.js] ${e.message}`;throw e;}"
      },
      "position": [
        224,
        64
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "68d688b0-b65a-4b58-a5bb-922c963f7eeb",
      "name": "Send Daily Focus Message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        448,
        64
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "b4064b4a-964d-4528-a926-f2fd5f7095ee"
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
