src/n8n/workflows/35-todoist-daily-focus__eOoVNN3oGPwzZLBM.json
{
  "active": true,
  "connections": {
    "Build Daily Brief Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Todoist Daily Brief",
            "type": "main"
          }
        ]
      ]
    },
    "Format Daily Focus Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Daily Focus Message",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Todoist Daily Brief": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Daily Focus Message",
            "type": "main"
          }
        ]
      ]
    },
    "Run Todoist Sync": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Daily Brief Request",
            "type": "main"
          }
        ]
      ]
    },
    "Schedule Daily Focus": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run Todoist Sync",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "35 Todoist Daily Focus",
  "nodes": [
    {
      "id": "f6e2a9b3-90e0-4e6f-8350-f7ce2d2e2ff2",
      "name": "Schedule Daily Focus",
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "position": [
        -672,
        64
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "ea138716-421c-4fb0-8cf4-df9a0078afd9",
      "name": "Run Todoist Sync",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "34 Todoist Sync",
          "cachedResultUrl": "/workflow/DRZuGE13tERDJMta",
          "mode": "list",
          "value": "DRZuGE13tERDJMta"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -448,
        64
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "f55f0158-4c8f-4c52-90f4-2fe8d21564c1",
      "name": "Build Daily Brief Request",
      "parameters": {
        "jsCode": "'use strict';\n\nfunction asText(value) {\n  return String(value === undefined || value === null ? '' : value).trim();\n}\n\nconst row = ($json && typeof $json === 'object') ? $json : {};\nconst message = row.message && typeof row.message === 'object' ? row.message : {};\n\nconst runId = asText(row.run_id || row.execution_id || row.workflow_run_id) || null;\nconst chatId = asText(row.telegram_chat_id || (message.chat && message.chat.id) || ($env && $env.TELEGRAM_ADMIN_CHAT_ID)) || null;\nconst now = asText(row.now) || null;\n\nreturn [{\n  json: {\n    ...row,\n    run_id: runId,\n    telegram_chat_id: chatId,\n    now,\n  },\n}];\n"
      },
      "position": [
        -224,
        64
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "6a26b1e4-2a9f-44da-b911-e9659cab2374",
      "name": "PKM Todoist Daily Brief",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ run_id: $execution.id, now: $json.now || null, telegram_chat_id: $json.telegram_chat_id || null }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/todoist/brief/daily"
      },
      "position": [
        0,
        64
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "5d2798a2-7109-4f4f-a7ea-743f9f726f2d",
      "name": "Format Daily Focus Message",
      "parameters": {
        "jsCode": "'use strict';\n\nfunction mdv2(value) {\n  return String(value ?? '').replace(/[\\\\_*\\[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&');\n}\n\nfunction mdv2Message(value, options) {\n  const maxLen = Number((options && options.maxLen) || 4000);\n  const text = mdv2(value);\n  return text.length > maxLen ? text.slice(0, Math.max(0, maxLen - 3)) + '...' : text;\n}\nfunction asText(value) {\n  return String(value === undefined || value === null ? '' : value).trim();\n}\n\nfunction titleOf(item) {\n  return asText(item && (item.normalized_title_en || item.raw_title)) || 'Untitled task';\n}\n\nconst row = ($json && typeof $json === 'object') ? $json : {};\nconst message = asText(row.telegram_message);\n\nif (message) {\n  return [{ json: { ...row, telegram_message: mdv2Message(message, { maxLen: 4000 }) } }];\n}\n\nconst top3 = Array.isArray(row.top_3) ? row.top_3 : [];\nconst overdue = Array.isArray(row.overdue_now) ? row.overdue_now : [];\nconst waiting = Array.isArray(row.waiting_nudges) ? row.waiting_nudges : [];\n\nconst lines = [];\nlines.push('Todoist Daily Focus');\nlines.push('');\nlines.push('Top 3');\nif (!top3.length) lines.push('- none');\nfor (const item of top3.slice(0, 3)) {\n  lines.push('- ' + titleOf(item));\n}\n\nlines.push('');\nlines.push('Overdue Now');\nif (!overdue.length) lines.push('- none');\nfor (const item of overdue.slice(0, 5)) {\n  lines.push('- ' + titleOf(item));\n}\n\nlines.push('');\nlines.push('Waiting Nudges');\nif (!waiting.length) lines.push('- none');\nfor (const item of waiting.slice(0, 8)) {\n  lines.push('- ' + titleOf(item));\n}\n\nreturn [{\n  json: {\n    ...row,\n    telegram_message: mdv2Message(lines.join('\\n').trim(), { maxLen: 4000 }),\n  },\n}];\n"
      },
      "position": [
        224,
        64
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "68d688b0-b65a-4b58-a5bb-922c963f7eeb",
      "name": "Send Daily Focus Message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        448,
        64
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "b4064b4a-964d-4528-a926-f2fd5f7095ee"
    }
  ],
  "settings": {
    "availableInMCP": false,
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "timezone": "America/Chicago",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW"
  },
  "staticData": {
    "node:Schedule Daily Focus": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1
}
