src/n8n/workflows/36-todoist-waiting-radar__aPgci3NmEhQZsHQ8.json
{
  "active": true,
  "connections": {
    "Build Waiting Brief Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Todoist Waiting Brief",
            "type": "main"
          }
        ]
      ]
    },
    "Format Waiting Radar Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Waiting Radar Message",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Todoist Waiting Brief": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Waiting Radar Message",
            "type": "main"
          }
        ]
      ]
    },
    "Run Todoist Sync": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Waiting Brief Request",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run Todoist Sync",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "36 Todoist Waiting Radar",
  "nodes": [
    {
      "id": "8880caa5-f9ee-48ac-96ff-fdcd4bc17eca",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -672,
        64
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "0e0b0cf3-8fc4-4f72-a86f-3298afee7f7e",
      "name": "Run Todoist Sync",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "34 Todoist Sync",
          "cachedResultUrl": "/workflow/DRZuGE13tERDJMta",
          "mode": "list",
          "value": "DRZuGE13tERDJMta"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -448,
        64
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "397d8a40-d01b-447f-8bae-b8e5c355ea34",
      "name": "Build Waiting Brief Request",
      "parameters": {
        "jsCode": "'use strict';\n\nfunction asText(value) {\n  return String(value === undefined || value === null ? '' : value).trim();\n}\n\n  const row = (ctx && ctx.$json && typeof ctx.$json === 'object') ? ctx.$json : {};\n  const message = row.message && typeof row.message === 'object' ? row.message : {};\n\n  const runId = asText(row.run_id || row.execution_id || row.workflow_run_id) || null;\n  const chatId = asText(row.telegram_chat_id || (message.chat && message.chat.id) || (ctx && ctx.$env && ctx.$env.TELEGRAM_ADMIN_CHAT_ID)) || null;\n  const now = asText(row.now) || null;\n\n  return [{\n    json: {\n      ...row,\n      run_id: runId,\n      telegram_chat_id: chatId,\n      now,\n    },\n  }];\n"
      },
      "position": [
        -224,
        64
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "4e866133-1456-49f3-a02b-09de9043740f",
      "name": "PKM Todoist Waiting Brief",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ run_id: $execution.id, now: $json.now || null, telegram_chat_id: $json.telegram_chat_id || null }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/todoist/brief/waiting"
      },
      "position": [
        0,
        64
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "6c3724b4-b74c-45db-8e4c-3faf4de246d0",
      "name": "Format Waiting Radar Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2Message } = require('@igasovic/n8n-blocks/shared/telegram-markdown.js');\n\nfunction asText(value) {\n  return String(value === undefined || value === null ? '' : value).trim();\n}\n\nfunction titleOf(item) {\n  return asText(item && (item.normalized_title_en || item.raw_title)) || 'Untitled task';\n}\n\n  const row = (ctx && ctx.$json && typeof ctx.$json === 'object') ? ctx.$json : {};\n  const message = asText(row.telegram_message);\n\n  if (message) {\n    return [{ json: { ...row, telegram_message: mdv2Message(message, { maxLen: 4000 }) } }];\n  }\n\n  const nudges = Array.isArray(row.nudges) ? row.nudges : [];\n  const lines = [];\n  lines.push('Todoist Waiting Radar');\n  lines.push('');\n  if (!nudges.length) {\n    lines.push('No waiting nudges right now.');\n  } else {\n    for (const item of nudges.slice(0, 12)) {\n      lines.push(`- ${titleOf(item)}`);\n    }\n  }\n\n  return [{\n    json: {\n      ...row,\n      telegram_message: mdv2Message(lines.join('\\n').trim(), { maxLen: 4000 }),\n    },\n  }];\n"
      },
      "position": [
        224,
        64
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "0ed01c93-f09d-4ab4-876f-bf324dc92f3d",
      "name": "Send Waiting Radar Message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        448,
        64
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "f1ff0adb-3f04-4de2-bcff-17b211034948"
    }
  ],
  "settings": {
    "availableInMCP": false,
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
