src/n8n/workflows/36-todoist-waiting-radar__k7QpN4sD2mX9aL1Vw6y8.json
{
  "active": true,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run Todoist Sync",
            "type": "main"
          }
        ]
      ]
    },
    "Run Todoist Sync": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Waiting Brief Request",
            "type": "main"
          }
        ]
      ]
    },
    "Build Waiting Brief Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Todoist Waiting Brief",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Todoist Waiting Brief": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Waiting Radar Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format Waiting Radar Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Waiting Radar Message",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "36 Todoist Waiting Radar",
  "nodes": [
    {
      "id": "8880caa5-f9ee-48ac-96ff-fdcd4bc17eca",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -672,
        64
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "0e0b0cf3-8fc4-4f72-a86f-3298afee7f7e",
      "name": "Run Todoist Sync",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "34 Todoist Sync",
          "cachedResultUrl": "/workflow/o-4gF6T11iZ9m5b2w0a1a",
          "mode": "list",
          "value": "o-4gF6T11iZ9m5b2w0a1a"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -448,
        64
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "397d8a40-d01b-447f-8bae-b8e5c355ea34",
      "name": "Build Waiting Brief Request",
      "parameters": {
        "jsCode": "try{const {wf36BuildWaitingBriefRequest}=require('@igasovic/n8n-blocks');return await wf36BuildWaitingBriefRequest({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:36-todoist-waiting-radar/build-waiting-brief-request__397d8a40-d01b-447f-8bae-b8e5c355ea34.js] ${e.message}`;throw e;}"
      },
      "position": [
        -224,
        64
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "4e866133-1456-49f3-a02b-09de9043740f",
      "name": "PKM Todoist Waiting Brief",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ run_id: $execution.id, now: $json.now || null, telegram_chat_id: $json.telegram_chat_id || null }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/todoist/brief/waiting"
      },
      "position": [
        0,
        64
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "6c3724b4-b74c-45db-8e4c-3faf4de246d0",
      "name": "Format Waiting Radar Message",
      "parameters": {
        "jsCode": "try{const {wf36FormatWaitingRadarMessage}=require('@igasovic/n8n-blocks');return await wf36FormatWaitingRadarMessage({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:36-todoist-waiting-radar/format-waiting-radar-message__6c3724b4-b74c-45db-8e4c-3faf4de246d0.js] ${e.message}`;throw e;}"
      },
      "position": [
        224,
        64
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "0ed01c93-f09d-4ab4-876f-bf324dc92f3d",
      "name": "Send Waiting Radar Message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        448,
        64
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "f1ff0adb-3f04-4de2-bcff-17b211034948"
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
