src/n8n/workflows/37-todoist-weekly-pruning__LWchWTIHzJK8z6ND.json
{
  "active": true,
  "connections": {
    "Build Weekly Brief Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Todoist Weekly Brief",
            "type": "main"
          }
        ]
      ]
    },
    "Format Weekly Pruning Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Weekly Pruning Message",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Todoist Weekly Brief": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Weekly Pruning Message",
            "type": "main"
          }
        ]
      ]
    },
    "Run Todoist Sync": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Weekly Brief Request",
            "type": "main"
          }
        ]
      ]
    },
    "Schedule Weekly Pruning": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run Todoist Sync",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "37 Todoist Weekly Pruning",
  "nodes": [
    {
      "id": "5ce4ad2d-8d4b-491e-9447-f0de2b9e2b0f",
      "name": "Schedule Weekly Pruning",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 18,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "position": [
        -672,
        64
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "52535f86-4510-4ea2-bfd1-b4f53bc6fdf0",
      "name": "Run Todoist Sync",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "34 Todoist Sync",
          "cachedResultUrl": "/workflow/DRZuGE13tERDJMta",
          "mode": "list",
          "value": "DRZuGE13tERDJMta"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -448,
        64
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "97b1f758-fadb-47de-ac08-a9698e86d7d2",
      "name": "Build Weekly Brief Request",
      "parameters": {
        "jsCode": "'use strict';\n\nfunction asText(value) {\n  return String(value === undefined || value === null ? '' : value).trim();\n}\n\nconst row = ($json && typeof $json === 'object') ? $json : {};\nconst message = row.message && typeof row.message === 'object' ? row.message : {};\n\nconst runId = asText(row.run_id || row.execution_id || row.workflow_run_id) || null;\nconst chatId = asText(row.telegram_chat_id || (message.chat && message.chat.id) || ($env && $env.TELEGRAM_ADMIN_CHAT_ID)) || null;\nconst now = asText(row.now) || null;\n\nreturn [{\n  json: {\n    ...row,\n    run_id: runId,\n    telegram_chat_id: chatId,\n    now,\n  },\n}];\n"
      },
      "position": [
        -224,
        64
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "3eb3e6eb-f1fd-4fa9-a8a2-8944dfdc3faf",
      "name": "PKM Todoist Weekly Brief",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ run_id: $execution.id, now: $json.now || null, telegram_chat_id: $json.telegram_chat_id || null }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/todoist/brief/weekly"
      },
      "position": [
        0,
        64
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "8a45b21e-bec8-4f7d-9f8b-b7353971e8ac",
      "name": "Format Weekly Pruning Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2Message } = require('@igasovic/n8n-blocks/shared/telegram-markdown.js');\n\nfunction asText(value) {\n  return String(value === undefined || value === null ? '' : value).trim();\n}\n\nfunction titleOf(item) {\n  return asText(item && (item.normalized_title_en || item.raw_title)) || 'Untitled task';\n}\n\nconst row = ($json && typeof $json === 'object') ? $json : {};\nconst message = asText(row.telegram_message);\n\nif (message) {\n  return [{ json: { ...row, telegram_message: mdv2Message(message, { maxLen: 4000 }) } }];\n}\n\nconst suggestions = Array.isArray(row.suggestions) ? row.suggestions : [];\nconst lines = [];\nlines.push('Todoist Weekly Pruning');\nlines.push('');\n\nif (!suggestions.length) {\n  lines.push('No weekly pruning suggestions.');\n} else {\n  for (const item of suggestions.slice(0, 15)) {\n    const recommendation = asText(item.recommendation_type) || 'review';\n    lines.push('- [' + recommendation + '] ' + titleOf(item));\n  }\n}\n\nreturn [{\n  json: {\n    ...row,\n    telegram_message: mdv2Message(lines.join('\\n').trim(), { maxLen: 4000 }),\n  },\n}];\n"
      },
      "position": [
        224,
        64
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "5296f6e9-ea1f-4544-b9bf-af2f92298f5d",
      "name": "Send Weekly Pruning Message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        448,
        64
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "2f7f7fb8-c7ec-4d02-8a3a-2b47f4f8bc1a"
    }
  ],
  "settings": {
    "availableInMCP": false,
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  },
  "staticData": {
    "node:Schedule Weekly Pruning": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1
}
