src/n8n/workflows/37-todoist-weekly-pruning__p4RzL8cN1tV6mQ3xS2d7.json
{
  "active": true,
  "connections": {
    "Schedule Weekly Pruning": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run Todoist Sync",
            "type": "main"
          }
        ]
      ]
    },
    "Run Todoist Sync": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Weekly Brief Request",
            "type": "main"
          }
        ]
      ]
    },
    "Build Weekly Brief Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "PKM Todoist Weekly Brief",
            "type": "main"
          }
        ]
      ]
    },
    "PKM Todoist Weekly Brief": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Weekly Pruning Message",
            "type": "main"
          }
        ]
      ]
    },
    "Format Weekly Pruning Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Weekly Pruning Message",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "37 Todoist Weekly Pruning",
  "nodes": [
    {
      "id": "5ce4ad2d-8d4b-491e-9447-f0de2b9e2b0f",
      "name": "Schedule Weekly Pruning",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                0
              ],
              "triggerAtHour": 18,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "position": [
        -672,
        64
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "52535f86-4510-4ea2-bfd1-b4f53bc6fdf0",
      "name": "Run Todoist Sync",
      "parameters": {
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "34 Todoist Sync",
          "cachedResultUrl": "/workflow/o-4gF6T11iZ9m5b2w0a1a",
          "mode": "list",
          "value": "o-4gF6T11iZ9m5b2w0a1a"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        -448,
        64
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "97b1f758-fadb-47de-ac08-a9698e86d7d2",
      "name": "Build Weekly Brief Request",
      "parameters": {
        "jsCode": "try{const {wf37BuildWeeklyBriefRequest}=require('@igasovic/n8n-blocks');return await wf37BuildWeeklyBriefRequest({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:37-todoist-weekly-pruning/build-weekly-brief-request__97b1f758-fadb-47de-ac08-a9698e86d7d2.js] ${e.message}`;throw e;}"
      },
      "position": [
        -224,
        64
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "3eb3e6eb-f1fd-4fa9-a8a2-8944dfdc3faf",
      "name": "PKM Todoist Weekly Brief",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "jsonBody": "={{ JSON.stringify((() => ({ run_id: $execution.id, now: $json.now || null, telegram_chat_id: $json.telegram_chat_id || null }))()) }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://pkm-server:8080/todoist/brief/weekly"
      },
      "position": [
        0,
        64
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "8a45b21e-bec8-4f7d-9f8b-b7353971e8ac",
      "name": "Format Weekly Pruning Message",
      "parameters": {
        "jsCode": "try{const {wf37FormatWeeklyPruningMessage}=require('@igasovic/n8n-blocks');return await wf37FormatWeeklyPruningMessage({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:37-todoist-weekly-pruning/format-weekly-pruning-message__8a45b21e-bec8-4f7d-9f8b-b7353971e8ac.js] ${e.message}`;throw e;}"
      },
      "position": [
        224,
        64
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "5296f6e9-ea1f-4544-b9bf-af2f92298f5d",
      "name": "Send Weekly Pruning Message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        },
        "chatId": "={{ $json.telegram_chat_id || $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        448,
        64
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "2f7f7fb8-c7ec-4d02-8a3a-2b47f4f8bc1a"
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
