src/n8n/workflows/80-postgres-backup__pZH_qI9CjFoJNs6x7Fh2t.json
{
  "active": true,
  "connections": {
    "Backup GDrive - Weekly": {
      "main": [
        [
          {
            "index": 0,
            "node": "Normalize Cloud Weekly Success",
            "type": "main"
          }
        ]
      ]
    },
    "Backup GDrive Daily": {
      "main": [
        [
          {
            "index": 0,
            "node": "Normalize Cloud Daily Success",
            "type": "main"
          }
        ]
      ]
    },
    "Backup GDrive Monthly": {
      "main": [
        [
          {
            "index": 0,
            "node": "Normalize Cloud Monthly Success",
            "type": "main"
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        []
      ]
    },
    "Format": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Status",
            "type": "main"
          }
        ]
      ]
    },
    "Get Week/Month": {
      "main": [
        [
          {
            "index": 0,
            "node": "If Weekly",
            "type": "main"
          },
          {
            "index": 0,
            "node": "If Monthly",
            "type": "main"
          }
        ]
      ]
    },
    "If Monthly": {
      "main": [
        [
          {
            "index": 0,
            "node": "Backup GDrive Monthly",
            "type": "main"
          }
        ]
      ]
    },
    "If Weekly": {
      "main": [
        [
          {
            "index": 0,
            "node": "Backup GDrive - Weekly",
            "type": "main"
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "index": 0,
            "node": "Execute a command",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Parse",
            "type": "main"
          }
        ]
      ]
    },
    "Normalize Cloud Daily Success": {
      "main": [
        [
          {
            "index": 0,
            "node": "Execute a command",
            "type": "main"
          }
        ]
      ]
    },
    "Normalize Cloud Monthly Success": {
      "main": [
        [
          {
            "index": 0,
            "node": "Execute a command",
            "type": "main"
          }
        ]
      ]
    },
    "Normalize Cloud Weekly Success": {
      "main": [
        [
          {
            "index": 0,
            "node": "Execute a command",
            "type": "main"
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Success",
            "type": "main"
          }
        ]
      ]
    },
    "Read File (SSH)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format",
            "type": "main"
          }
        ]
      ]
    },
    "Schedule 4AM": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Week/Month",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Backup GDrive Daily",
            "type": "main"
          }
        ]
      ]
    },
    "Schedule 9AM": {
      "main": [
        [
          {
            "index": 0,
            "node": "Read File (SSH)",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook - FAIL": {
      "main": [
        [
          {
            "index": 0,
            "node": "Normalize",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook - OK": {
      "main": [
        [
          {
            "index": 0,
            "node": "Normalize",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "80 Postgres Backup",
  "nodes": [
    {
      "id": "6f9537e8-ec81-4491-b3dd-7d2d36547083",
      "name": "Webhook - FAIL",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "cron-fail"
      },
      "position": [
        -352,
        -528
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "0fb6d624-2ec6-4799-af06-13be97800191"
    },
    {
      "id": "716b6ac0-e1ab-4fb3-b7f5-c444f5e087a3",
      "name": "Webhook - OK",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "cron-ok"
      },
      "position": [
        -352,
        -336
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "0fb6d624-2ec6-4799-af06-13be97800191"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "145078ea-f261-4691-a2dc-0f41f841040f",
      "name": "Send Success",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        },
        "chatId": "1509032341",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        320,
        -336
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "64313ad4-6c1f-42f5-a8b2-3ab081b90ca0",
      "name": "Send Status",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        },
        "chatId": "1509032341",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        320,
        -752
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "6f123209-5952-4fa4-b096-5a03d6e8d0f2"
    },
    {
      "id": "a4c32ff8-1774-45dd-bd8c-5594272a7e11",
      "name": "Normalize",
      "parameters": {
        "jsCode": "// n8n Webhook payload lives under $json.body\nconst b = $json.body || {};\n\nreturn [\n  {\n    job: String(b.job ?? 'unknown'),\n    host: String(b.host ?? 'unknown'),\n    ts: String(b.ts ?? new Date().toISOString()),\n    rc: Number.isFinite(b.rc) ? b.rc : Number(b.rc ?? 0),\n    cmd: String(b.cmd ?? ''),\n    status: (Number(b.rc ?? 0) === 0) ? 'ok' : 'fail',\n  }\n];"
      },
      "position": [
        -128,
        -432
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "sshPassword": {
          "id": "9D3Ebf2kKfkEuCDJ",
          "name": "SSH Password account"
        }
      },
      "id": "12c6f12e-3181-4d21-9de0-0e80ef8f24d4",
      "name": "Execute a command",
      "parameters": {
        "command": "=bash -lc '\nset -euo pipefail\n\nFILE=\"/home/igasovic/backup/postgres/cron_status.json\"\nLOCK=\"/tmp/cron_status.lock\"\n\nJOB=\"{{ $json.job }}\"\nSTATUS=\"{{ $json.status }}\"\nTS=\"{{ $json.ts }}\"\nRC=\"{{ $json.rc }}\"\nHOST=\"{{ $json.host }}\"\nCMD=\"{{ $json.cmd }}\"\n\n# serialize updates so parallel webhooks don’t race\nexec 9>\"$LOCK\"\nflock -x 9\n\nTMP=\"$(mktemp)\"\nif [ -f \"$FILE\" ]; then\n  cat \"$FILE\" > \"$TMP\"\nelse\n  echo \"{}\" > \"$TMP\"\nfi\n\njq --arg job \"$JOB\" \\\n   --arg status \"$STATUS\" \\\n   --arg ts \"$TS\" \\\n   --arg host \"$HOST\" \\\n   --arg cmd \"$CMD\" \\\n   --argjson rc \"$RC\" \\\n   '\"'\"'.[$job] = {status:$status, ts:$ts, rc:$rc, host:$host, cmd:$cmd}'\"'\"' \\\n   \"$TMP\" > \"${TMP}.out\"\n\nmv \"${TMP}.out\" \"$FILE\"\nrm -f \"$TMP\"\n'\n"
      },
      "position": [
        96,
        -528
      ],
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1
    },
    {
      "credentials": {
        "sshPassword": {
          "id": "9D3Ebf2kKfkEuCDJ",
          "name": "SSH Password account"
        }
      },
      "id": "d33d54a8-fd12-4a97-880b-a317238e33c9",
      "name": "Read File (SSH)",
      "parameters": {
        "command": "bash -lc 'cat /home/igasovic/backup/postgres/cron_status.json 2>/dev/null || echo \"{}\"'"
      },
      "position": [
        -128,
        -752
      ],
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1
    },
    {
      "id": "f8467a91-6e7f-4d6e-b5ae-96ee674c8d97",
      "name": "Format",
      "parameters": {
        "jsCode": "try{const {wf80Format}=require('@igasovic/n8n-blocks');return await wf80Format({$input,$json,$items,$node,$env,helpers});}catch(e){e.message=`[extjs:80-postgres-backup/format__f8467a91-6e7f-4d6e-b5ae-96ee674c8d97.js] ${e.message}`;throw e;}"
      },
      "position": [
        96,
        -752
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "020b27e4-71d9-4989-848b-793b0fb8bf1b",
      "name": "Parse",
      "parameters": {
        "jsCode": "'use strict';\n\nconst { mdv2Message } = require('igasovic-n8n-blocks/shared/telegram-markdown.js');\n  const b = $json.body || $json;\n  \n  const job = String(b.job ?? '');\n  const host = String(b.host ?? '');\n  const ts = String(b.ts ?? '');\n  const rc = String(b.rc ?? '');\n  const cmd = String(b.cmd ?? '');\n  const status = String(b.status ?? (Number(b.rc ?? 0) === 0 ? 'ok' : 'fail'));\n  const icon = status === 'ok' ? '✅' : '❌';\n\n  if (status === 'ok') {\n    return [];\n  }\n  \n  const lines = [\n    icon + ' CRON ' + status,\n    'job: ' + job,\n    'host: ' + host,\n    'ts: ' + ts,\n    'rc: ' + rc,\n    'cmd: ' + cmd,\n  ];\n  \n  return [{ json: { ...$json, telegram_message: mdv2Message(lines.join('\\n')) } }];\n"
      },
      "position": [
        96,
        -336
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f8af2106-43c4-4928-965b-411bdd22523a",
      "name": "Schedule 9AM",
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "position": [
        -352,
        -752
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "3f999037-58f1-465c-bb8a-e1a27b5d9156",
      "name": "Get Week/Month",
      "parameters": {
        "jsCode": "'use strict';\n\nconst timezone = 'America/Chicago';\nconst parts = new Intl.DateTimeFormat('en-US', {\n  timeZone: timezone,\n  weekday: 'short',\n  day: '2-digit',\n}).formatToParts(new Date());\nconst byType = Object.fromEntries(parts.map((part) => [part.type, part.value]));\n\nconst weekday = String(byType.weekday || '').toLowerCase();\nconst day = Number(byType.day || 0);\n\nreturn [{\n  doWeekly: weekday === 'sun',\n  doMonthly: day === 1,\n}];\n"
      },
      "position": [
        -128,
        -1168
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "130b5f4a-0493-471f-9ef3-fc45e7d20074",
      "name": "If Weekly",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "6c3d88df-b6af-4358-8d2d-da6962cd8f2d",
              "leftValue": "={{ $json.doWeekly }}",
              "operator": {
                "operation": "equals",
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        96,
        -1264
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "7c04559b-9f39-4154-a2bc-bacfacf55679",
      "name": "Backup GDrive - Weekly",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "81 Postgres Backup GDrive",
          "cachedResultUrl": "/workflow/4KyG6iOubMpom5h-kBK-A",
          "mode": "list",
          "value": "4KyG6iOubMpom5h-kBK-A"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "filename"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "filename",
              "id": "filename",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "filename": "pkm_backup_weekly.tgz"
          }
        }
      },
      "position": [
        320,
        -1264
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "d969595e-09cf-4ece-81d3-c22dc80432f5",
      "name": "Backup GDrive Monthly",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "81 Postgres Backup GDrive",
          "cachedResultUrl": "/workflow/4KyG6iOubMpom5h-kBK-A",
          "mode": "list",
          "value": "4KyG6iOubMpom5h-kBK-A"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "filename"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "filename",
              "id": "filename",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "filename": "pkm_backup_monthly.tgz"
          }
        }
      },
      "position": [
        320,
        -1072
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "677cf9db-8b65-4ce1-ab0c-afd47ce75192",
      "name": "Schedule 4AM",
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "position": [
        -352,
        -1072
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "cda70c3b-5f71-48f9-9320-53500b1b578a",
      "name": "Backup GDrive Daily",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "81 Postgres Backup GDrive",
          "cachedResultUrl": "/workflow/4KyG6iOubMpom5h-kBK-A",
          "mode": "list",
          "value": "4KyG6iOubMpom5h-kBK-A"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "filename"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "filename",
              "id": "filename",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "filename": "pkm_backup_daily.tgz"
          }
        }
      },
      "position": [
        -128,
        -976
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "b1f6b9b9-aef4-41bf-abc6-1a5c32afb141",
      "name": "If Monthly",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "6c3d88df-b6af-4358-8d2d-da6962cd8f2d",
              "leftValue": "={{ $json.doMonthly }}",
              "operator": {
                "operation": "equals",
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        96,
        -1072
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "3f896e93-7b9c-472f-b4da-cfae9d66b101",
      "name": "Normalize Cloud Daily Success",
      "parameters": {
        "jsCode": "return [{\n  job: 'pkm_backup_gdrive_daily',\n  host: 'n8n',\n  ts: new Date().toISOString(),\n  rc: 0,\n  cmd: '81-postgres-backup-gdrive upload pkm_backup_daily.tgz',\n  status: 'ok',\n}];"
      },
      "position": [
        544,
        -976
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "dc40985f-1ce9-4f19-b47c-5ccdc3894f52",
      "name": "Normalize Cloud Weekly Success",
      "parameters": {
        "jsCode": "return [{\n  job: 'pkm_backup_gdrive_weekly',\n  host: 'n8n',\n  ts: new Date().toISOString(),\n  rc: 0,\n  cmd: '81-postgres-backup-gdrive upload pkm_backup_weekly.tgz',\n  status: 'ok',\n}];"
      },
      "position": [
        544,
        -1264
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "9a27f87c-c5f7-49d6-878c-6723f108ddf3",
      "name": "Normalize Cloud Monthly Success",
      "parameters": {
        "jsCode": "return [{\n  job: 'pkm_backup_gdrive_monthly',\n  host: 'n8n',\n  ts: new Date().toISOString(),\n  rc: 0,\n  cmd: '81-postgres-backup-gdrive upload pkm_backup_monthly.tgz',\n  status: 'ok',\n}];"
      },
      "position": [
        544,
        -1072
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "timezone": "America/Chicago"
  },
  "staticData": {
    "node:Schedule 4AM": {
      "recurrenceRules": []
    },
    "node:Schedule 9AM": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 4
}
