src/n8n/workflows/81-postgres-backup-gdrive__4KyG6iOubMpom5h-kBK-A.json
{
  "active": true,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Read Daily Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Daily Files from Disk": {
      "main": [
        [
          {
            "node": "Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File": {
      "main": [
        [
          {
            "node": "Lookup Daily Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Daily Files": {
      "main": [
        [
          {
            "node": "Build Cleanup Delete List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cleanup Delete List": {
      "main": [
        [
          {
            "node": "Delete Daily File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Daily File": {
      "main": [
        []
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "81 Postgres Backup GDrive",
  "nodes": [
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5t2aHMcMnx2YNbBi",
          "name": "Google Drive account"
        }
      },
      "id": "f828b534-911e-4483-853d-16a3ab202221",
      "name": "Upload File",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "pg",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15rRqLnwDeNKuKRU-rGZ_PNlEwGbTgZ8f",
          "mode": "list",
          "value": "15rRqLnwDeNKuKRU-rGZ_PNlEwGbTgZ8f"
        },
        "name": "={{ $json.filename }}",
        "options": {}
      },
      "position": [
        448,
        144
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5t2aHMcMnx2YNbBi",
          "name": "Google Drive account"
        }
      },
      "id": "4259ab35-22d6-48d6-8962-43963c8afa7c",
      "name": "Delete Daily File",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "method": "DELETE",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {},
        "queryParameters": {
          "parameters": [
            {
              "name": "supportsAllDrives",
              "value": "true"
            }
          ]
        },
        "sendQuery": true,
        "url": "={{ $json.delete_url }}"
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5t2aHMcMnx2YNbBi",
          "name": "Google Drive account"
        }
      },
      "id": "e0c6bb49-ddef-47d9-8dad-1e7a2035fd4d",
      "name": "Lookup Daily Files",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {},
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ \"name = '\" + String($json.filename || '') + \"' and '15rRqLnwDeNKuKRU-rGZ_PNlEwGbTgZ8f' in parents and trashed = false\" }}"
            },
            {
              "name": "fields",
              "value": "files(id,name,parents,modifiedTime,size)"
            },
            {
              "name": "orderBy",
              "value": "modifiedTime desc"
            },
            {
              "name": "pageSize",
              "value": "100"
            },
            {
              "name": "supportsAllDrives",
              "value": "true"
            },
            {
              "name": "includeItemsFromAllDrives",
              "value": "true"
            }
          ]
        },
        "sendQuery": true,
        "url": "https://www.googleapis.com/drive/v3/files"
      },
      "position": [
        -448,
        64
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "c6c9a2af-6656-403c-921f-71074fed258b",
      "name": "Read Daily Files from Disk",
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/backup-postgres/uploads/{{ $json.filename }}",
        "options": {}
      },
      "position": [
        -672,
        144
      ],
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1
    },
    {
      "id": "71b87065-228f-42a6-b2d3-b04d46342800",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "filename"
            }
          ]
        }
      },
      "position": [
        -912,
        144
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "d4be6e11-3f40-4f5e-8e50-c00d69f16b0f",
      "name": "Build Cleanup Delete List",
      "parameters": {
        "jsCode": "const files = Array.isArray($json.files) ? [...$json.files] : [];\nif (files.length <= 1) {\n  return [];\n}\n\nfiles.sort((a, b) => {\n  const at = Date.parse(String(a && a.modifiedTime ? a.modifiedTime : ''));\n  const bt = Date.parse(String(b && b.modifiedTime ? b.modifiedTime : ''));\n  if (Number.isFinite(at) && Number.isFinite(bt)) return bt - at;\n  return 0;\n});\n\nreturn files.slice(1).map((file) => ({\n  json: {\n    delete_file_id: String(file.id || ''),\n    delete_file_name: String(file.name || ''),\n    delete_modified_time: String(file.modifiedTime || ''),\n    delete_url: 'https://www.googleapis.com/drive/v3/files/' + encodeURIComponent(String(file.id || '')),\n  },\n}));"
      },
      "position": [
        -224,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
