src/n8n/workflows/98-config__Ue-cGR6_WP4Fe5C19tA28.json
{
  "active": true,
  "connections": {
    "Get Config": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wrap in config param",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Config",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Wrap in config param": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "isArchived": false,
  "name": "98 Config",
  "nodes": [
    {
      "id": "5c42cae2-11fa-4bd4-927f-6c215e0ea9d1",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -64,
        -96
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "9b5e9cb5-0389-42dc-8ce7-9f05e4571dc7",
      "name": "Toggle Test Mode",
      "parameters": {
        "method": "POST",
        "options": {},
        "url": "http://pkm-server:8080/db/test-mode/toggle"
      },
      "position": [
        -64,
        -320
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "a55eb994-44aa-4300-9a1e-666dbf2414e4",
      "name": "Get Config",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-PKM-Run-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "http://pkm-server:8080/config"
      },
      "position": [
        160,
        -32
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "08c7e45a-acbb-4b2a-b00c-6f72a46dd68d",
      "name": "Wrap in config param",
      "parameters": {
        "jsCode": "return [{ config: { ...$json } }];"
      },
      "position": [
        384,
        -32
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d4945feb-1510-4a61-9895-333fb5657e91",
      "name": "Merge",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        608,
        -96
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R2r3jkL5Rb39zKpyutwhW",
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/Chicago"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
