src/n8n/workflows/99-error-handling__R2r3jkL5Rb39zKpyutwhW.json
{
  "active": true,
  "activeVersionId": "15e5700f-ac52-425c-9f95-94a58143a89b",
  "connections": {
    "Compose Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message",
            "type": "main"
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Compose Message",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-14T01:15:00.612Z",
  "description": null,
  "isArchived": false,
  "name": "99 Error Handling",
  "nodes": [
    {
      "id": "245d7990-8e0f-4d3a-a503-772bda739a30",
      "name": "Error Trigger",
      "parameters": {},
      "position": [
        -272,
        -32
      ],
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "4svco1wrzYsvoLNB",
          "name": "Telegram account"
        }
      },
      "id": "4fadf119-21ac-4f95-9206-8d52e431d83f",
      "name": "Send a text message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        },
        "chatId": "1509032341",
        "text": "={{ $json.telegram_message }}"
      },
      "position": [
        144,
        -32
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "944396bc-56db-4702-8ac9-d2e1b31dfb63"
    },
    {
      "id": "566912ab-5d96-4405-8443-6a296ef03366",
      "name": "Compose Message",
      "parameters": {
        "jsCode": "'use strict';\n\nconst run = require('/data/src/n8n/nodes/99-error-handling/compose-message__566912ab-5d96-4405-8443-6a296ef03366.js');\nreturn run({ $json, $input, $items, $execution, $env });\n"
      },
      "position": [
        -64,
        -32
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-01-14T01:15:00.612Z",
      "project": {
        "createdAt": "2026-01-12T01:58:24.486Z",
        "creatorId": "d87e0db9-0ac0-46ea-9218-1eb181231d8f",
        "description": null,
        "icon": null,
        "id": "m23P41JejIbnV7Xa",
        "name": "Igor Gasovic <skljstore@gmail.com>",
        "type": "personal",
        "updatedAt": "2026-01-12T04:27:38.916Z"
      },
      "projectId": "m23P41JejIbnV7Xa",
      "role": "workflow:owner",
      "updatedAt": "2026-01-14T01:15:00.612Z",
      "workflowId": "R2r3jkL5Rb39zKpyutwhW"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-13T16:43:13.088Z",
  "versionCounter": 150
}
